<div class="common-record">
    <div class="d-block p-2">
        <strong class="text-gray rounded-0"> Manage Products </strong>
    </div>
    <div class="bg-opacity-10 card d-block px-2 py-3 mt-2 rounded-0" *ngIf="!editPage">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
              <input type="text" class="form-control" placeholder="Search Product" style="width:250px" [(ngModel)]="filterText">
            </div>
            <button class="btn btn-success" (click)="editInfo()">
                Add New Product
            </button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Item Name</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of pList | productFilter: filterText:'item_name'; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ a?.item_name }}</td>
                    <td>
                        <button class="btn btn-primary" (click)="editInfo(a?.id)">
                            Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="bg-opacity-10 card d-block px-2 py-3 mt-2 rounded-0" *ngIf="editPage">
        <button class="btn btn-warning" (click)="editInfo()">Cancel</button>
        <div class="col-md-12">
            <div class="d-block p-2">
                <strong class="text-gray rounded-0">
                    Note: Fill all info to make yourself visible on website
                </strong>
            </div>
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title> Basic Information </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <form [formGroup]="sForm" novalidate>
                            <mat-form-field appearance="fill">
                                <mat-label>Category</mat-label>
                                <mat-select matInput formControlName="category_id" required>
                                  <mat-option [value]="c?.id" *ngFor="let c of catList">{{c?.title}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Item Name</mat-label>
                                <input matInput [ngClass]="{
                      'is-invalid': b1 && f1.item_name.errors
                    }" formControlName="item_name" required />
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Pack Size</mat-label>
                                <input matInput [ngClass]="{
                      'is-invalid': b1 && f1.pack_size.errors
                    }" formControlName="pack_size" required />
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Company name</mat-label>
                                <input matInput [ngClass]="{
                      'is-invalid': b1 && f1.company.errors
                    }" formControlName="company" required />
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Company address</mat-label>
                                <input matInput [ngClass]="{
                      'is-invalid': b1 && f1.manufacturer_address.errors
                    }" formControlName="manufacturer_address" required />
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Is prescription required?</mat-label>
                                <mat-select matInput formControlName="is_prescription_required" required>
                                  <mat-option value="0">No</mat-option>
                                  <mat-option value="1">Yes</mat-option> 
                                </mat-select>
                            </mat-form-field>
                            

                            <mat-form-field appearance="fill">
                                <mat-label>MRP (If not for sale please fill 0 MRP)</mat-label>
                                <input matInput type="number" [ngClass]="{
                      'is-invalid': b1 && f1.mrp.errors
                    }" formControlName="mrp" required />
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Discount Price (In %)  (If not for sale please fill 0)</mat-label>
                                <input matInput type="number" [ngClass]="{
                      'is-invalid': b1 && f1.discount.errors
                    }" formControlName="discount" required />
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Delivery Charges  (If not for sale please fill 0)</mat-label>
                                <input matInput type="number" [ngClass]="{
                      'is-invalid': b1 && f1.delivery_charges.errors
                    }" formControlName="delivery_charges" required />
                            </mat-form-field>
                            <ng-container *ngIf="page == 'dealer'">

                           
                            <mat-form-field appearance="fill">
                                <mat-label>Available for rent ?</mat-label>
                                <mat-select formControlName="is_rent" [ngClass]="{
                      'is-invalid': b1 && f1.is_rent.errors
                    }">
                                    <mat-option value="0">No</mat-option>
                                    <mat-option value="1">Yes</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <ng-container *ngIf="f1.is_rent.value == '1'">
                                <mat-form-field appearance="fill">
                                    <mat-label>Rent per day</mat-label>
                                    <input matInput type="number" [ngClass]="{
                      'is-invalid': b1 && f1.rent_per_day.errors
                    }" formControlName="rent_per_day" />
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Security Amount (Refundable)</mat-label>
                                    <input matInput type="number" [ngClass]="{
                      'is-invalid': b1 && f1.security_for_rent.errors
                    }" formControlName="security_for_rent" />
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Delivey Charges (Rent)</mat-label>
                                    <input matInput type="number" [ngClass]="{
                      'is-invalid': b1 && f1.delivery_charges_for_rent.errors
                    }" formControlName="delivery_charges_for_rent" />
                                </mat-form-field>
                            </ng-container>
                        </ng-container>
                            <label class="mt-2">Upload Image (1)
                                <a href="{{ info?.image }}" target="_blank">View File</a></label>
                            <input class="form-control mb13" (change)="onFileChange($event,'image')" type="file" />
                            <label class="mt-2">Upload Image (2)
                                <a href="{{ info?.image_2 }}" target="_blank">View File</a></label>
                            <input class="form-control mb13" (change)="onFileChange($event, 'image_2')" type="file" />
                            <label class="mt-2">Upload Image (3)
                                <a href="{{ info?.image_3 }}" target="_blank">View File</a></label>
                            <input class="form-control mb13" (change)="onFileChange($event, 'image_3')" type="file" />
                            <label class="mt-2">Upload Image (4)
                                <a href="{{ info?.image_4 }}" target="_blank">View File</a></label>
                            <input class="form-control mb13" (change)="onFileChange($event, 'image_4')" type="file" />


                            <mat-form-field appearance="fill">
                                <mat-label>Product Available?</mat-label>
                                <mat-select formControlName="status" [ngClass]="{
                      'is-invalid': b1 && f1.status.errors
                    }">
                                    <mat-option value="0">No</mat-option>
                                    <mat-option value="1">Yes</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <label class="mt-2">Enter Details</label>
                            <ckeditor [editor]="editor" formControlName="description" [ngClass]="{
                    'is-invalid': b1 && f1.description.errors
                  }" [config]="{
                    placeholder: 'Enter details...',
                    ckfinder: {
                      options: {
                        resourceType: 'Images'
                      },
                      openerMethod: 'popup',
                      uploadUrl: BACK_END_MAPPING_URL_FOR_SAVE_IMG
                    }
                  }"></ckeditor>

                            <div class="col-md-12">
                                <button (click)="onSubmit()"  type="button" class="btn btn-success ml-3">
                                    UPDATE
                                </button>
                            </div>
                        </form>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>