<app-header></app-header>
<app-navigation></app-navigation>
<div id="slider" class="carousel" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="['./assets/images/hospital-banner.jpg']" alt="" class="d-block" />
    </div>
  </div>
  <div class="banner-search">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-12">
        <h1>For All the Emergency and non-emergency Medical Needs</h1>
        <div class="col-md-12 col-sm-12 col-12">
          <a [routerLink]="['/home-nursing/list']" class="btn btn-light border-2 rounded-0 mt-4">
            Book appointment
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider section end -->

<section class="py-3">
  <div class="container">
    <div class="row g-2">
      <div class="col">
        <div class="service-box">
          <span>
            <img [src]="['./assets/images/icon/appointments.png']" alt="" />
          </span>
          <h6>Make An Appointment</h6>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-box">
          <span>
            <img [src]="['./assets/images/icon/nurse.png']" alt="" />
          </span>
          <h6>Nurse Come to Your Home</h6>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-box">
          <span>
            <img [src]="['./assets/images/icon/nursing-room.png']" alt="" />
          </span>
          <h6>Enjoy Our Home Care</h6>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="welcome-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6 col-12">
        <div class="row welcome-img">
          <img class="" [src]="['./assets/images/about-hospital.png']" alt="" />
        </div>
      </div>
      <div class="col-md-7 col-sm-6 col-12">
        <p>Since 1990-2022, New Delhi India</p>
        <h2 class="heading">
          <span>We’re Take Care of </span>
          <span class="text-info">Your Problems Carefully</span>
        </h2>
        <p>
          Delightful unreserved impossible few estimating men favourable see
          entreaties. She propriety immediate was improving. He or entrance
          humoured likewise moderate. Much nor game son say feel. On am in
          nearer square wanted.
        </p>
        <p>
          Delightful unreserved impossible few estimating men favourable see
          entreaties. She propriety immediate was improving. He or entrance
          humoured likewise moderate. Much nor game son say feel. On am in
          nearer square wanted.
        </p>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        </ul>
        <a [routerLink]="['/home-nursing/list']" class="btn btn-success rounded-0">
          <i class="fas fa-chevron-circle-right"></i>
          Book appointment
        </a>
      </div>
    </div>
  </div>
</section>

<section class="py-3">
  <div class="container">
    <div class="row g-1">
      <div class="col">
        <div class="service-box cost-effect">
          <span>
            <img [src]="['./assets/images/icon/customer-satisfaction.png']" alt="" />
          </span>
          <h6>Satisfaction Guaranteed</h6>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-box cost-effect">
          <span>
            <img [src]="['./assets/images/icon/prof-nurse.png']" alt="" />
          </span>
          <h6>Professional Nurse</h6>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-box cost-effect">
          <span>
            <img [src]="['./assets/images/icon/payment-method.png']" alt="" />
          </span>
          <h6>Low Cost Service</h6>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="service-provide py-1">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-12 px-0">
        <div class="care-grp">
          <figure>
            <img [src]="['./assets/images/nursing/what-offer-1.png']" alt="" />
          </figure>
          <div class="care-data">
            <span>
              <i class="fas fa-user-md"></i>
            </span>
            <h4>Home Care</h4>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
            <a href="javascript:void(0)">Read more..</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-12 px-3 m-padding">
        <div class="care-grp">
          <figure>
            <img [src]="['./assets/images/nursing/what-offer-2.png']" alt="" />
          </figure>
          <div class="care-data">
            <span>
              <i class="fas fa-user-md"></i>
            </span>
            <h4>Senior care</h4>
            <p>
              It is a long established fact that a reader will be distracted by
              the a page when looking at its layout.
            </p>
            <a href="javascript:void(0)">Read more..</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-12 px-0">
        <div class="care-grp">
          <figure>
            <img [src]="['./assets/images/nursing/what-offer-3.png']" alt="" />
          </figure>
          <div class="care-data">
            <span>
              <i class="fas fa-user-md"></i>
            </span>
            <h4>Intensive care</h4>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
            <a href="javascript:void(0)">Read more..</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-12 px-0">
        <div class="care-grp">
          <figure>
            <img [src]="['./assets/images/nursing/what-offer-4.png']" alt="" />
          </figure>
          <div class="care-data">
            <span>
              <i class="fas fa-user-md"></i>
            </span>
            <h4>health consultation</h4>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
            <a href="javascript:void(0)">Read more..</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-12 px-3 m-padding">
        <div class="care-grp">
          <figure>
            <img [src]="['./assets/images/nursing/what-offer-5.png']" alt="" />
          </figure>
          <div class="care-data">
            <span>
              <i class="fas fa-user-md"></i>
            </span>
            <h4>Child Care</h4>
            <p>
              It is a long established fact that a reader will be distracted by
              the a page when looking at its layout.
            </p>
            <a href="javascript:void(0)">Read more..</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-12 px-0">
        <div class="care-grp">
          <figure>
            <img [src]="['./assets/images/nursing/what-offer-6.png']" alt="" />
          </figure>
          <div class="care-data">
            <span>
              <i class="fas fa-user-md"></i>
            </span>
            <h4>Qulaity Meals</h4>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
            <a href="javascript:void(0)">Read more..</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="py-1">
  <div class="container">
    <div class="row g-0">
      <div class="col">
        <div class="service-box our-story">
          <span>
            <img [src]="['./assets/images/icon/satisfaction2.png']" alt="" />
          </span>
          <h6>2645</h6>
          <p>Happy Patients</p>
        </div>
      </div>
      <div class="col">
        <div class="service-box our-story">
          <span>
            <img [src]="['./assets/images/icon/nursing-room.png']" alt="" />
          </span>
          <h6>4285</h6>
          <p>Successful Home Care</p>
        </div>
      </div>
      <div class="col">
        <div class="service-box our-story">
          <span>
            <img [src]="['./assets/images/icon/prof-nurse.png']" alt="" />
          </span>
          <h6>20+</h6>
          <p>Year Of Experience</p>
        </div>
      </div>
      <div class="col">
        <div class="service-box our-story">
          <span>
            <img [src]="['./assets/images/icon/prof-nurse.png']" alt="" />
          </span>
          <h6>50+</h6>
          <p>Professional Nurses</p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-download-app></app-download-app>
<app-footer></app-footer>