<div class="common-record">
  <div class="d-block p-2">
    <strong class="text-gray rounded-0">
      Note: Fill all info to make yourself visible on website
    </strong>
  </div>
  <mat-accordion>
    <mat-expansion-panel [expanded]="stepExpn == 1">
      <mat-expansion-panel-header>
        <mat-panel-title> Basic Information </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <form [formGroup]="setupForm" novalidate>
          <mat-form-field appearance="fill">
            <mat-label>Establishment name of Lab</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b1 && f1.name.errors
              }" formControlName="name" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Owner Name</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b1 && f1.owner_name.errors
              }" formControlName="owner_name" required />
          </mat-form-field>
          <label class="mt-2">OWNER'S AADHAR
            <a href="{{ Linfo?.owner_id }}" target="_blank">View File</a></label>
          <input class="form-control mb13" (change)="onFileChange($event, 'owner_id')" type="file" />

          <mat-form-field appearance="fill">
            <mat-label>Communication Number(for users)</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b1 && f1.phone_no.errors
              }" formControlName="phone_no" />
          </mat-form-field>
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  Lab Address
                  <button class="btn btn-success f-right" type="button" (click)="openAddressPopup(addressAddModel)">Edit</button>
                </div>
                <div class="card-body">
                  {{this.Linfo.address}} {{this.Linfo.city}} {{this.Linfo.pincode}} {{this.Linfo.country}}
                </div>

              </div>
            </div>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Working Days</mat-label>
            <mat-select [ngClass]="{
                'is-invalid': b1 && f1.days.errors
              }" formControlName="days" multiple>
              <mat-option value="Monday">Monday</mat-option>
              <mat-option value="Tuesday">Tuesday</mat-option>
              <mat-option value="Wednesday">Wednesday</mat-option>
              <mat-option value="Thursday">Thursday</mat-option>
              <mat-option value="Friday">Friday</mat-option>
              <mat-option value="Saturday">Saturday</mat-option>
              <mat-option value="Sunday">Sunday</mat-option>
            </mat-select>
          </mat-form-field>

          <label class="mt-2">UPLOAD LOGO
            <a href="{{ Linfo?.image }}" target="_blank">View File</a></label>
          <input class="form-control mb13" (change)="onFileChange($event, 'image')" type="file" accept="image/*" />

          <mat-form-field appearance="fill">
            <mat-label>Sample Collection (Home) Fee</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b1 && f1.h_c_fee.errors
              }" type="number" formControlName="h_c_fee" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Sample Collection Fee Apply When Amount <= </mat-label>
                <input matInput [ngClass]="{
                'is-invalid': b1 && f1.h_c_fee_apply_before.errors
              }" type="number" formControlName="h_c_fee_apply_before" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Report Home Delivery Fee</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b1 && f1.r_d_fee.errors
              }" type="number" formControlName="r_d_fee" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Home Delivery Fee Apply When Amount <= </mat-label>
                <input matInput [ngClass]="{
                'is-invalid': b1 && f1.r_d_fee_apply_before.errors
              }" type="number" formControlName="r_d_fee_apply_before" />
          </mat-form-field>
          <!-- <mat-form-field appearance="fill">
            <mat-label>Ambulance fee</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b1 && f1.ambulance_fee.errors
              }" type="number" formControlName="ambulance_fee" />
          </mat-form-field> -->
 
          <mat-form-field appearance="fill">
            <mat-label>About</mat-label>
            <textarea matInput max="1000" min="1" [ngClass]="{
                'is-invalid': b1 && f1.about.errors
              }" formControlName="about"></textarea>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Registration Number</mat-label>
            <textarea matInput max="1000" min="1" [ngClass]="{
                'is-invalid': b1 && f1.registration_detail.errors
              }" formControlName="registration_detail" required></textarea>
          </mat-form-field>


          <label class="mt-2">UPLOAD REGESTRATION PROOF
            <a href="{{ Linfo?.registration_file }}" target="_blank">View File</a></label>
          <input class="form-control mb13" (change)="onFileChange($event, 'registration_file')" type="file" />

          <mat-form-field appearance="fill">
            <mat-label>Accredition</mat-label>
            <mat-select matInput [ngClass]="{
                'is-invalid': b1 && f1.accredition_details.errors
              }" formControlName="accredition_details" multiple required>
              <mat-option value="ISO">ISO</mat-option>
              <mat-option value="QCI">QCI</mat-option>
              <mat-option value="NABL">NABL</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="row">
            <div class="col-md-6" *ngFor="let q of f1.accredition_details?.value; let i=index">
                <label class="mt-2">UPLOAD {{q}} CERTIFICATE
                <a href="{{ Linfo[q] }}" target="_blank" *ngIf="Linfo[q] != '' && Linfo[q] != undefined">View File</a></label>
                <input class="form-control mb13" (change)="onFileChange($event, 'accredition_certificate',q)" type="file" />
            </div>
          </div>
          

          <div class="col-md-12">
            <button (click)="onSubmit()"  type="button" class="btn btn-primary">UPDATE</button>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="stepExpn == 2">
      <mat-expansion-panel-header>
        <mat-panel-title>Login & Contact Details </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <form [formGroup]="lForm" novalidate>
          <mat-form-field appearance="fill">
            <mat-label>Contact person name</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b2 && f2.cp_name.errors
              }" formControlName="cp_name" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b2 && f2.email.errors
              }" formControlName="email" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Mobile number</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b2 && f2.mobile.errors
              }" formControlName="mobile" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password (Enter you want to change)</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b2 && f2.password.errors
              }" formControlName="password" />
          </mat-form-field>
          <div class="col-md-12">
            <button (click)="onSubmitCp()"  type="button" class="btn btn-primary">
              UPDATE
            </button>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="stepExpn == 3">
      <mat-expansion-panel-header>
        <mat-panel-title> Bank Details </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <form [formGroup]="bForm" novalidate>
          <mat-form-field appearance="fill">
            <mat-label>Full name in bank account</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.name.errors
              }" formControlName="name" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Bank name</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.bank_name.errors
              }" formControlName="bank_name" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Branch name</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.branch_name.errors
              }" formControlName="branch_name" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>IFSC</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.ifsc.errors
              }" formControlName="ifsc" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Account Number</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.ac_no.errors
              }" formControlName="ac_no" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Account Type</mat-label>
            <mat-select matInput [ngClass]="{
                'is-invalid': b4 && f4.ac_type.errors
              }" formControlName="ac_type" required>
              <mat-option value="saving">Saving</mat-option>
              <mat-option value="current">Current</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>MICR Code</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.micr_code.errors
              }" formControlName="micr_code" />
          </mat-form-field>
          <label class="mt-2">Cancelled Cheque
            <a href="{{ Linfo?.cancel_cheque }}" target="_blank">View File</a></label>
          <input class="form-control mb13" (change)="onFileChange($event, 'cancel_cheque')" type="file" />

          <mat-form-field appearance="fill">
            <mat-label>PAN Number</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.pan_no.errors
              }" formControlName="pan_no" required />
          </mat-form-field>
          <label class="mt-2">PAN Image
            <a href="{{ Linfo?.pan_image }}" target="_blank">View File</a></label>
          <input class="form-control mb13" (change)="onFileChange($event, 'pan_image')" type="file" />
          <div class="col-md-12">
            <button (click)="onSubmitBank()"  type="button" class="btn btn-primary">
              Save
            </button>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<ng-template #addressAddModel let-modal>
  <div class="modal-body" style="padding-top: 30px">
    <app-addresss-add [updating_for]="'lab'"></app-addresss-add>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-light" ngbAutofocus (click)="modal.close('Close click')">
      Cancel
    </button>
  </div>
</ng-template>