<div class="common-record">
  <div class="d-block p-2">
    <strong class="text-gray rounded-0"> Treatment Packages </strong>
  </div>
  <div class="bg-opacity-10 card d-block px-2 py-3 mt-2 rounded-0" *ngIf="!editPage">
    <button class="btn btn-success" (click)="editInfo()">
      Add New Treatment Package
    </button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Package Name</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of tList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ a?.package_name }}</td>
          <td>
            <button class="btn btn-primary" (click)="editInfo(a?.id)">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="bg-opacity-10 card d-block px-2 py-3 mt-2 rounded-0" *ngIf="editPage">
    <button class="btn btn-warning" (click)="editInfo()">Cancel</button>
    <div class="col-md-12">
      <div class="d-block p-2">
        <strong class="text-gray rounded-0">
          Note: Fill all info to make yourself visible on website
        </strong>
      </div>
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Basic Information </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <form [formGroup]="sForm" novalidate>
              <mat-form-field appearance="fill">
                <mat-label>Package Name</mat-label>
                <input matInput [ngClass]="{
                    'is-invalid': b1 && f1.package_name.errors
                  }" formControlName="package_name" required />
              </mat-form-field>
              <mat-form-field appearance="fill" *ngIf="this.pageFrom != 'doctor'">
                <mat-label>Select Doctor</mat-label>
                <mat-select formControlName="doctor_id" [ngClass]="{
                    'is-invalid': b1 && f1.doctor_id.errors
                  }">
                  <mat-option [value]="d?.id" *ngFor="let d of docList">{{ d?.full_name }}</mat-option>

                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" *ngIf="myInfo?.type == 'Doctor'">
                <mat-label>Location</mat-label>
                <mat-select formControlName="package_location" [ngClass]="{
                    'is-invalid': b1 && f1.package_location.errors
                  }">
                  <mat-option value="Hospital">Hospital</mat-option>
                  <mat-option value="Clinic">Clinic</mat-option>
                </mat-select>
              </mat-form-field>

              <ng-container *ngIf="f1.package_location.value == 'Hospital' && myInfo?.type == 'Doctor'">
                <mat-form-field appearance="fill">
                  <mat-label>Hospital Name</mat-label>
                  <input matInput [ngClass]="{
                      'is-invalid': b1 && f1.hospital_name.errors
                    }" formControlName="hospital_name" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Hospital Address</mat-label>
                  <input matInput [ngClass]="{
                      'is-invalid': b1 && f1.hospital_address.errors
                    }" formControlName="hospital_address" />
                </mat-form-field>
              </ng-container>

              <!-- <mat-form-field appearance="fill">
                <mat-label>Select Speciality</mat-label>
                <mat-select formControlName="speciality_id" [ngClass]="{
                    'is-invalid': b1 && f1.speciality_id.errors
                  }">
                  <mat-option [value]="s?.id" *ngFor="let s of spacialityList">
                    {{ s?.speciality_name }}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
              <mat-form-field appearance="fill">
                <mat-label>Select Speciality</mat-label>
                <input matInput [ngClass]="{
                    'is-invalid': b1 && f1.speciality_id.errors
                  }" formControlName="speciality_id" name="speciality_id" autocomplete="speciality_id" [matAutocomplete]="auto2" />
                <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                  <mat-option  *ngFor="let s of filteredSp | async" [value]="s?.id">
                    {{s?.speciality_name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Select Illness</mat-label>
                <input matInput [ngClass]="{
                    'is-invalid': b1 && f1.illness.errors
                  }" formControlName="illness" name="illness" autocomplete="illness" [matAutocomplete]="auto" />
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option  *ngFor="let s of filteredIll | async" [value]="s?.id">
                    {{s?.title}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <!-- <mat-form-field appearance="fill">
                <mat-label>Select Illness</mat-label>
                <mat-select formControlName="illness" [ngClass]="{
                    'is-invalid': b1 && f1.illness.errors
                  }">
                  <mat-option [value]="s?.id" *ngFor="let s of illnessList">
                    {{ s?.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
              <mat-form-field appearance="fill">
                <mat-label>Stay Type</mat-label>
                <mat-select formControlName="stay_type" [ngClass]="{
                    'is-invalid': b1 && f1.stay_type.errors
                  }">
                  <mat-option value="General ward">GENERAL WARD</mat-option>
                  <mat-option value="Daycare ward">DAYCARE WARD</mat-option>
                  <mat-option value="PREMIUM SUITE">PREMIUM SUITE</mat-option>
                  <mat-option value="SUITE">SUITE</mat-option>
                  <mat-option value="SINGLE ROOM / ONE PATIENT IN ONE ROOM">SINGLE ROOM / ONE PATIENT IN ONE ROOM
                  </mat-option>
                  <mat-option value="TWIN SHARING ROOM / TWO PATIENTS IN ONE ROOM">TWIN SHARING ROOM / TWO PATIENTS IN
                    ONE ROOM</mat-option>
                  <mat-option value="QUADRUPLE SHARING ROOM / FOUR PATIENTS IN ONE ROOM">QUADRUPLE SHARING ROOM / FOUR
                    PATIENTS IN ONE
                    ROOM</mat-option>
                  <mat-option value="QUADRUPLE SHARING ROOM / FOUR PATIENTS IN ONE ROOM">QUADRUPLE SHARING ROOM / FOUR
                    PATIENTS IN ONE
                    ROOM</mat-option>
                  <mat-option value="OPD Basis">OPD Basis</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Charges </mat-label>
                <input matInput type="number" [ngClass]="{
                    'is-invalid': b1 && f1.charges_in_rs.errors
                  }" formControlName="charges_in_rs" required />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Discount % </mat-label>
                <input matInput type="number" [ngClass]="{
                    'is-invalid': b1 && f1.discount_in_rs.errors
                  }" formControlName="discount_in_rs" required />
              </mat-form-field>
              <!-- <mat-form-field appearance="fill">
                <mat-label>Charges for foriegn paitents</mat-label>
                <input matInput type="number" [ngClass]="{
                    'is-invalid': b1 && f1.charges_in_doller.errors
                  }" formControlName="charges_in_doller" required />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Discount % for foriegn paitents</mat-label>
                <input matInput type="number" [ngClass]="{
                    'is-invalid': b1 && f1.discount_in_doller.errors
                  }" formControlName="discount_in_doller" required />
              </mat-form-field> -->

              <label class="mt-2">Enter Details</label>
              <ckeditor [editor]="editor" formControlName="details" [ngClass]="{
                  'is-invalid': b1 && f1.details.errors
                }" [config]="{
                  placeholder: 'Enter details...',
                  ckfinder: {
                    options: {
                      resourceType: 'Images'
                    },
                    openerMethod: 'popup',
                    uploadUrl: BACK_END_MAPPING_URL_FOR_SAVE_IMG
                  }
                }"></ckeditor>

              <div class="col-md-12">
                <button (click)="onSubmit()"  type="button" class="btn btn-success ml-3">
                  UPDATE <span *ngIf="f1?.id?.value == ''">AND CHECKOUT (INT {{listinginfo?.price - listinginfo?.discount}})</span>
                </button>
              </div>
            </form>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>