.stars > svg { fill: orange; height: 20px; cursor: pointer; }

.share{border-top: 1px dotted #ccc;border-bottom: 1px dotted #ccc; margin-top: 0px; padding: 7px 0px;
    a{margin-right: 10px;}  
    :hover{color: #1055c4;}      
    span{float:right;
        :hover{color: #fff;}
    }
}
.share{
    a{margin-right: 10px; font-size: 16px;}
 }
.b-shadow{
    box-shadow: 0px 0px 10px 0px #e7e7e7;
    padding: 20px 40px;
    border-radius: 10px;
}

@media only screen and (max-width: 767px){
    .stars > svg {height: 14px;}
    .share{padding: 7px 10px;
        a{margin-right: 0px; font-size: 12px;}
     }
}
