<div class="common-record">
  <div class="d-block p-2">
    <strong class="text-gray rounded-0">
      Note: Fill all info to make yourself visible on website
    </strong>
  </div>
  <mat-accordion>
    <mat-expansion-panel [expanded]="activeMat == 1">
      <mat-expansion-panel-header>
        <mat-panel-title> Basic Information </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <form [formGroup]="setupForm" novalidate>
          <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select matInput [ngClass]="{
                'is-invalid': b1 && f1.type.errors
              }" formControlName="type" required>
              <mat-option value="Hospital">Hospital</mat-option>
              <mat-option value="Clinic">Clinic</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Establishment name of {{f1.type.value}}</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b1 && f1.name.errors
              }" formControlName="name" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Customer support number</mat-label>
            <input matInput type="number" [ngClass]="{
                'is-invalid': b1 && f1.phone_no.errors
              }" formControlName="phone_no" required />
          </mat-form-field>

          <div class="row mb-2">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                   Address
                  <button class="btn btn-success f-right" type="button" (click)="openAddressPopup(addressAddModel)">Edit</button>
                </div>
                <div class="card-body">
                  {{this.hInfo.address}} {{this.hInfo.city}} {{this.hInfo.pincode}} {{this.hInfo.country}}
                </div>

              </div>
            </div>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Beds quantity</mat-label>
            <input matInput type="text" [ngClass]="{
                'is-invalid': b1 && f1.beds_quantity.errors
              }" formControlName="beds_quantity" />
          </mat-form-field>

          <label class="mt-2"> Logo
            <a href="{{ hInfo?.image }}" target="_blank">View File</a></label>
          <input class="form-control mb13" (change)="onFileChange($event, 'image')" type="file" />

          <mat-form-field appearance="fill">
            <mat-label>About</mat-label>
            <textarea matInput max="1000" min="1" [ngClass]="{
                'is-invalid': b1 && f1.about.errors
              }" formControlName="about" required></textarea>
          </mat-form-field>


          <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Facilities (Please type and enter to add multiple)</mat-label>
            <mat-chip-list #chipListFac aria-label="Facilities">
              <mat-chip *ngFor="let sInfo of selectedFac; let i = index" (removed)="remove(sInfo,'Facilities')">
                {{ sInfo?.title }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="Enter Facilities..." #facInput [formControl]="facCtrl" [matAutocomplete]="autoFac"
                [matChipInputFor]="chipListFac" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event,'Facilities')">
            </mat-chip-list>
            <mat-autocomplete #autoFac="matAutocomplete" (optionSelected)="selected($event,'Facilities')">
              <mat-option *ngFor="let s of filteredFac | async" [value]="s">
                {{ s?.title }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Empanelments (Please type and enter to add multiple)</mat-label>
            <mat-chip-list #chipListEmp aria-label="Empanelments">
              <mat-chip *ngFor="let sInfo of selectedEmp; let i = index" (removed)="remove(sInfo,'Empanelments')">
                {{ sInfo?.title }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="Enter Empanelments..." #empInput [formControl]="empCtrl" [matAutocomplete]="autoEmp"
                [matChipInputFor]="chipListEmp" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event,'Empanelments')">
            </mat-chip-list>
            <mat-autocomplete #autoEmp="matAutocomplete" (optionSelected)="selected($event,'Empanelments')">
              <mat-option *ngFor="let s of filteredEmp | async" [value]="s">
                {{ s?.title }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Specialities (Please type and enter to add multiple)</mat-label>
            <mat-chip-list #chipListSpc aria-label="Specialities">
              <mat-chip *ngFor="let sInfo of selectedSpc; let i = index" (removed)="remove(sInfo,'Specialities')">
                {{ sInfo?.speciality_name }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="Enter Specialities..." #spcInput [formControl]="spcCtrl" [matAutocomplete]="autoSpc"
                [matChipInputFor]="chipListSpc" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event,'Specialities')">
            </mat-chip-list>
            <mat-autocomplete #autoSpc="matAutocomplete" (optionSelected)="selected($event,'Specialities')">
              <mat-option *ngFor="let s of filteredSpc | async" [value]="s">
                {{ s?.speciality_name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="example-chip-list" appearance="fill" *ngIf="f1.type.value == 'Clinic'">
            <mat-label>Procedures (Please type and enter to add multiple)</mat-label>
            <mat-chip-list #chipListPro aria-label="Procedures">
              <mat-chip *ngFor="let sInfo of selectedPro; let i = index" (removed)="remove(sInfo,'Procedures')">
                {{ sInfo?.name }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="Enter Procedures..." #proInput [formControl]="proCtrl" [matAutocomplete]="autoPro"
                [matChipInputFor]="chipListPro" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event,'Procedures')">
            </mat-chip-list>
            <mat-autocomplete #autoPro="matAutocomplete" (optionSelected)="selected($event,'Procedures')">
              <mat-option *ngFor="let s of filteredPro | async" [value]="s">
                {{ s?.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Registration details</mat-label>
            <textarea matInput max="1000" min="1" [ngClass]="{
                'is-invalid': b1 && f1.registration_details.errors
              }" formControlName="registration_details"></textarea>
          </mat-form-field>

          <label class="mt-2">UPLOAD REGESTRATION PROOF
            <a href="{{ hInfo?.registration_file }}" target="_blank">View File</a></label>
          <input class="form-control mb13" (change)="onFileChange($event, 'registration_file')" type="file" />
          <mat-form-field appearance="fill">
            <mat-label>Accredition</mat-label>
            <mat-select matInput [ngClass]="{
                'is-invalid': b1 && f1.accredition_details.errors
              }" formControlName="accredition_details" (selectionChange)="changeAcn($event)" multiple required>
              <mat-option value="ISO">ISO</mat-option>
              <mat-option value="QCI">QCI</mat-option>
              <mat-option value="NABH">NABH</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" *ngIf="acnShow">
            <mat-label>Enter Other Accredition</mat-label>
            <input matInput [(ngModel)]="acnName" [ngModelOptions]="{standalone: true}" required />
          </mat-form-field>

          <label class="mt-2">UPLOAD ACCREDITION CERTIFICATE (All Combined in a single file)
            <a href="{{ hInfo?.accredition_certificate }}" target="_blank">View File</a></label>
          <input class="form-control mb13" (change)="onFileChange($event, 'accredition_certificate')" type="file" />
          <div class="col-md-12">
            <button (click)="onSubmit()"  type="button" class="btn btn-primary">UPDATE</button>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="activeMat == 2">
      <mat-expansion-panel-header>
        <mat-panel-title>Login & Contact Details </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <form [formGroup]="lForm" novalidate>
          <mat-form-field appearance="fill">
            <mat-label>Contact person name</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b2 && f2.contact_person_name.errors
              }" formControlName="contact_person_name" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b2 && f2.email.errors
              }" formControlName="email" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Mobile number</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b2 && f2.mobile.errors
              }" formControlName="mobile" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password (Enter you want to change)</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b2 && f2.password.errors
              }" formControlName="password" />
          </mat-form-field>
          <div class="col-md-12">
            <button (click)="onSubmitCp()"  type="button" class="btn btn-primary">
              UPDATE
            </button>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="activeMat == 3">
      <mat-expansion-panel-header>
        <mat-panel-title> Bank Details </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <form [formGroup]="bForm" novalidate>
          <mat-form-field appearance="fill">
            <mat-label>Full name in bank account</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.name.errors
              }" formControlName="name" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Bank name</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.bank_name.errors
              }" formControlName="bank_name" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Branch name</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.branch_name.errors
              }" formControlName="branch_name" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>IFSC</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.ifsc.errors
              }" formControlName="ifsc" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Account Number</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.ac_no.errors
              }" formControlName="ac_no" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Account Type</mat-label>
            <mat-select matInput [ngClass]="{
                'is-invalid': b4 && f4.ac_type.errors
              }" formControlName="ac_type" required>
              <mat-option value="saving">Saving</mat-option>
              <mat-option value="current">Current</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>MICR Code</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.micr_code.errors
              }" formControlName="micr_code" />
          </mat-form-field>
          <label class="mt-2">Cancelled Cheque
            <a href="{{ hInfo?.cancel_cheque  | concatBase: 'doctor_image/'}}" target="_blank">View File</a></label>
          <input class="form-control mb13" (change)="onFileChange($event, 'cancel_cheque')" type="file" />

          <mat-form-field appearance="fill">
            <mat-label>PAN Number</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.pan_no.errors
              }" formControlName="pan_no" required />
          </mat-form-field>
          <label class="mt-2">PAN Image
            <a href="{{ hInfo?.pan_image  | concatBase: 'doctor_image/'}}" target="_blank">View File</a></label>
          <input class="form-control mb13" (change)="onFileChange($event, 'pan_image')" type="file" />
          <div class="col-md-12">
            <button (click)="onSubmitBank()"  type="button" class="btn btn-primary">
              Save
            </button>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #addressAddModel let-modal>
  <div class="modal-body" style="padding-top: 30px">
    <app-addresss-add [updating_for]="'hospital'"></app-addresss-add>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-light" ngbAutofocus (click)="modal.close('Close click')">
      Cancel
    </button>
  </div>
</ng-template>