<app-header></app-header>
<app-navigation></app-navigation>
<div id="slider" class="carousel" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="['./assets/images/lab-list-banner.jpg']" alt="" class="d-block" />
    </div>
  </div>
  <div class="dr-profile">
    <figure>
      <img [src]="dInfo?.image | concatBase: 'hospital_image/'" alt="" />
    </figure>
    <div class="dr-details">
      <h5>{{ dInfo?.name }}</h5>
      <div class="rating">
        <span><i class="fas fa-star"></i> {{stars || 0.0}}</span>
        <a [routerLink]="['/review-of/Appointments/', dInfo?.id]" target="_blank">reviews: {{dInfo?.reviews?.total_reviews || 0}}</a> 
      </div>
      <p>
        <i class="fas fa-map-marker-alt"></i> {{ dInfo?.address }}
        {{ dInfo?.city }} {{ dInfo?.pincode }} {{ dInfo?.country }}
      </p>
      <div class="col-12 p-0">
        <!-- <div class="share">
          <a href="#" class="btn btn-sm">
            <i class="far fa-thumbs-up"></i> Like
          </a>
          <a href="javascript:void(0)" class="btn btn-sm">
            <i class="fas fa-comment"></i> Comment
          </a>
          <a href="javascript:void(0)" class="btn btn-sm">
            <i class="fas fa-share-alt"></i> share
          </a>

        </div> -->

      </div>
    </div>
  </div>
</div>
<!-- slider section end -->

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-9 col-12">
        
        <h4 class="heading">About {{ dInfo?.name }}</h4>
        <div class="profile-details-box">
          <div [innerHtml]="dInfo?.about"></div> 
        </div>
        <div class="profile-details-box"> 
          <div>
            <ul>
              <li>Accreditions: <span>{{ dInfo?.accredition_details }}</span></li>
              <li>Empanelments: <span *ngFor="let e of dInfo?.empanelments; let i = index;">{{ e.title }}{{ (i+1) == dInfo?.empanelments?.length ? '' : ','}} </span></li>
              <li>Facilities: <span *ngFor="let e of dInfo?.facilities; let i = index;">{{ e.title }}{{ (i+1) == dInfo?.facilities?.length ? '' : ','}} </span></li>
              <li>Specialities: <span *ngFor="let e of dInfo?.specialities; let i = index;">{{ e.speciality_name }}{{ (i+1) == dInfo?.specialities?.length ? '' : ','}} </span></li>
              <li *ngIf="dInfo?.procedures?.length > 0">Procedures: <span *ngFor="let e of dInfo?.procedures
                ; let i = index;">{{ e.name }}{{ (i+1) == dInfo?.procedures
                  ?.length ? '' : ','}} </span></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-{{tab == 'doctors' ? 'success' : 'light'}}" (click)="tab = 'doctors'">DOCTORS</button>
            <button class="btn btn-{{tab == 'packages' ? 'success' : 'light'}}" (click)="tab = 'packages'">Packages</button>
          </div>
        </div>
        <div class="row" *ngIf="tab == 'doctors'">
          <div class="col-md-12 test-name">
            <div class="row">
              <div class="col-md-3" *ngFor="let t of docList">
                <div class="card">
                  <div class="card-header text-center">
                    <img [src]="t?.doctor_image | concatBase: 'doctor_image/'"
                      style="width: auto; height:100px; max-width: 100%" />
                  </div>
                  <div class="card-body">
                    <label class="form-check-label">
                      {{ t?.full_name }}
                    </label>
                    <p> 
                      {{ t?.consultancy_fee }} Consultation Fee
                    </p>
                    <hr>
                    <p> 
                        Specialities : {{ t?.Specialities }}
                    </p>
                  </div>
                  <div class="card-footer text-center">
                    <a [routerLink]="['/doctor/' + t?.slug]" class="btn btn-sm btn-primary rounded-0">
                        <i class="far fa-user"></i> View Profile
                    </a> 
                  </div>
                </div>
              </div>
            </div>        
          </div>
        </div>

        <div class="row mt-3" *ngIf="treatmentList != '' && tab == 'packages'">
          <div class="col-md-12">
            <div class="b-shadow">
              <h3><b>Treatment Package</b></h3>
              <div class="row p-2 pt0">
                <div class="card p0" *ngFor="let t of treatmentList">
                  <div class="card-header">
                    {{ t?.package_name }}
                    <button class="btn btn-success f-right" (click)="addToCart(t?.id, 'treatment')"
                        *ngIf="findInCart(t?.id, 'treatment') == false && isLoggedIn">
                        Add To Cart
                      </button>
                      <button class="btn btn-warning f-right" (click)="removeFromCart(t?.id, 'treatment')"
                        *ngIf="findInCart(t?.id, 'treatment') == true && isLoggedIn">
                        Remove From Cart
                      </button>
                  </div>
                  <div class="card-body">
                    Treatment For : {{ t?.illness_name }} <br />
                    Speciality Name : {{ t?.speciality_name }} <br />
                    Stay Type:
                    {{ t?.stay_type }} <br />
                    <div *ngIf="isLoggedIn">
                      Charges : <i class="fas fa-rupee-sign"></i>
                      <del>{{ t?.charges_in_rs }}</del>
                      {{ t?.charges_in_rs - ((t?.discount_in_rs/100)*t?.charges_in_rs) }}
                    </div>
                    <div *ngIf="!isLoggedIn">
                       To view price please login
                    </div>
                    <!-- <div>
                      Charges for foreigner patient: INR
                      <del>{{ t?.charges_in_doller }}</del>
                      {{ t?.charges_in_doller - t?.discount_in_doller }}
                    </div> -->
                    Location: {{ t?.package_location }} <span *ngIf="t?.package_location == 'Clinic'">
                      {{ dInfo?.address }} {{ dInfo?.city }}
                      {{ dInfo?.pincode }}</span>
                    <span *ngIf="t?.package_location == 'Hospital'">
                      {{ dInfo?.hospital_name }}
                      {{ dInfo?.hospital_address && dInfo?.hospital_address != 'null' ? dInfo?.hospital_address : '' }}</span>
                    <br />
                    <mat-expansion-panel (opened)="(false)" *ngIf="isLoggedIn">
                      <mat-expansion-panel-header>
                        <mat-panel-title> Details : </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="container" [innerHtml]="t?.details"></div>
                    </mat-expansion-panel>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-12">
        <div class="widget">
          <div class="widget-content">
            <!-- <div class="widget-icon">
              <img [src]="['./assets/images/icon/healthcare-prof.png']" alt="" />
            </div> -->
            <!-- <h4>Contact Hospital</h4> -->
            <ul class="list-unstyled mb-0">
              <!-- <li>{{ dInfo?.phone_no }}</li> -->
              <li>Beds Quantity: <span>{{ dInfo?.beds_quantity }}</span></li>
              <li>Type: <span>{{ dInfo?.type }}</span></li> 
            </ul>
          </div>
          <!-- /.widget-content -->
        </div>

        <!-- <div class="widget emergency-call-bg">
          <div class="widget-content">
            <div class="widget-icon">
              <img [src]="['./assets/images/icon/emergency-call.png']" alt="" />
            </div>
            <h4>Emergency Cases</h4>
            <p>
              Please feel welcome to contact our friendly reception staff with
              any general or medical enquiry call us.
            </p>
            <a href="tel:8585930185" class="phone__number">
              <i class="fas fa-phone-volume"></i> <span>858-593-0185</span>
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>

 
<app-top-footer></app-top-footer>
<app-footer></app-footer>