<div class="common-record" *ngIf="!isEdit">
  <div class="d-block p-2">
    <strong class="text-gray rounded-0">List of slots </strong>
  </div>

  <div class="row">
    <div class="col-md-12" style="text-align: right">
      <button class="btn btn-primary" (click)="editBtn()">Create Slot</button>
    </div>
    <div class="col-md-12 mt-3">
      <div class="card">
        <div class="card-header">
          <b>Monday</b>
        </div>
        <div class="card-footer" *ngFor="let s of slotList?.Monday">
          <a
            href="javascript:void(0)"
            (click)="editBtn(s?.id)"
            class="btn btn-sm btn-outline-success rounded-0"
            style="float: right"
            >Edit <i class="fa fa-edit cp"></i
          ></a>
          Slot Interval :
          <span class="badge badge-pill badge-primary"
            >{{ s?.slot_interval }} Minutes</span
          >
          <br />
          Slot A:
          <span class="badge badge-pill badge-primary">{{
            s?.shift1_start_at + " - " + s?.shift1_end_at
          }}</span>
          <br />
          Slot B:
          <span class="badge badge-pill badge-primary">{{
            s?.shift2_start_at + " - " + s?.shift2_end_at
          }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <div class="card">
        <div class="card-header">
          <b>Tuesday</b>
        </div>
        <div class="card-footer" *ngFor="let s of slotList?.Tuesday">
          <a
            href="javascript:void(0)"
            (click)="editBtn(s?.id)"
            class="btn btn-sm btn-outline-success rounded-0"
            style="float: right"
            >Edit <i class="fa fa-edit cp"></i
          ></a>
          Slot Interval :
          <span class="badge badge-pill badge-primary"
            >{{ s?.slot_interval }} Minutes</span
          >
          <br />
          Slot A:
          <span class="badge badge-pill badge-primary">{{
            s?.shift1_start_at + " - " + s?.shift1_end_at
          }}</span>
          <br />
          Slot B:
          <span class="badge badge-pill badge-primary">{{
            s?.shift2_start_at + " - " + s?.shift2_end_at
          }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <div class="card">
        <div class="card-header">
          <b>Wednesday</b>
        </div>
        <div class="card-footer" *ngFor="let s of slotList?.Wednesday">
          <a
            href="javascript:void(0)"
            (click)="editBtn(s?.id)"
            class="btn btn-sm btn-outline-success rounded-0"
            style="float: right"
            >Edit <i class="fa fa-edit cp"></i
          ></a>
          Slot Interval :
          <span class="badge badge-pill badge-primary"
            >{{ s?.slot_interval }} Minutes</span
          >
          <br />
          Slot A:
          <span class="badge badge-pill badge-primary">{{
            s?.shift1_start_at + " - " + s?.shift1_end_at
          }}</span>
          <br />
          Slot B:
          <span class="badge badge-pill badge-primary">{{
            s?.shift2_start_at + " - " + s?.shift2_end_at
          }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <div class="card">
        <div class="card-header">
          <b>Thursday</b>
        </div>
        <div class="card-footer" *ngFor="let s of slotList?.Thursday">
          <a
            href="javascript:void(0)"
            (click)="editBtn(s?.id)"
            class="btn btn-sm btn-outline-success rounded-0"
            style="float: right"
            >Edit <i class="fa fa-edit cp"></i
          ></a>
          Slot Interval :
          <span class="badge badge-pill badge-primary"
            >{{ s?.slot_interval }} Minutes</span
          >
          <br />
          Slot A:
          <span class="badge badge-pill badge-primary">{{
            s?.shift1_start_at + " - " + s?.shift1_end_at
          }}</span>
          <br />
          Slot B:
          <span class="badge badge-pill badge-primary">{{
            s?.shift2_start_at + " - " + s?.shift2_end_at
          }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <div class="card">
        <div class="card-header">
          <b>Friday</b>
        </div>
        <div class="card-footer" *ngFor="let s of slotList?.Friday">
          <a
            href="javascript:void(0)"
            (click)="editBtn(s?.id)"
            class="btn btn-sm btn-outline-success rounded-0"
            style="float: right"
            >Edit <i class="fa fa-edit cp"></i
          ></a>
          Slot Interval :
          <span class="badge badge-pill badge-primary"
            >{{ s?.slot_interval }} Minutes</span
          >
          <br />
          Slot A:
          <span class="badge badge-pill badge-primary">{{
            s?.shift1_start_at + " - " + s?.shift1_end_at
          }}</span>
          <br />
          Slot B:
          <span class="badge badge-pill badge-primary">{{
            s?.shift2_start_at + " - " + s?.shift2_end_at
          }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <div class="card">
        <div class="card-header">
          <b>Saturday</b>
        </div>
        <div class="card-footer" *ngFor="let s of slotList?.Saturday">
          <a
            href="javascript:void(0)"
            (click)="editBtn(s?.id)"
            class="btn btn-sm btn-outline-success rounded-0"
            style="float: right"
            >Edit <i class="fa fa-edit cp"></i
          ></a>
          Slot Interval :
          <span class="badge badge-pill badge-primary"
            >{{ s?.slot_interval }} Minutes</span
          >
          <br />
          Slot A:
          <span class="badge badge-pill badge-primary">{{
            s?.shift1_start_at + " - " + s?.shift1_end_at
          }}</span>
          <br />
          Slot B:
          <span class="badge badge-pill badge-primary">{{
            s?.shift2_start_at + " - " + s?.shift2_end_at
          }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <div class="card">
        <div class="card-header">
          <b>Sunday</b>
        </div>
        <div class="card-footer" *ngFor="let s of slotList?.Sunday">
          <a
            href="javascript:void(0)"
            (click)="editBtn(s?.id)"
            class="btn btn-sm btn-outline-success rounded-0"
            style="float: right"
            >Edit <i class="fa fa-edit cp"></i
          ></a>
          Slot Interval :
          <span class="badge badge-pill badge-primary"
            >{{ s?.slot_interval }} Minutes</span
          >
          <br />
          Slot A:
          <span class="badge badge-pill badge-primary">{{
            s?.shift1_start_at + " - " + s?.shift1_end_at
          }}</span>
          <br />
          Slot B:
          <span class="badge badge-pill badge-primary">{{
            s?.shift2_start_at + " - " + s?.shift2_end_at
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="common-record" [hidden]="!isEdit">
  <div class="d-block p-2">
    <strong class="text-gray rounded-0"> Create Slot </strong>
  </div>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="slotForm" style="margin-top: 20px">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Slot For (Select day)</mat-label>
              <mat-select
                matInput
                type="text"
                [ngClass]="{
                  'is-invalid': submitBtn && f.day.errors
                }"
                formControlName="day"
                [disabled]="editSlotId != '' ? true : false"
                multiple
              >
                <mat-option value="Monday">Monday</mat-option>
                <mat-option value="Tuesday">Tuesday</mat-option>
                <mat-option value="Wednesday">Wednesday</mat-option>
                <mat-option value="Thursday">Thursday</mat-option>
                <mat-option value="Friday">Friday</mat-option>
                <mat-option value="Saturday">Saturday</mat-option>
                <mat-option value="Sunday">Sunday</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Slots Interval</mat-label>
              <mat-select
                matInput
                [ngClass]="{
                  'is-invalid': submitBtn && f.slot_interval.errors
                }"
                formControlName="slot_interval"
              >
                <mat-option value="5">5 Minutes</mat-option>
                <mat-option value="10">10 Minutes</mat-option>
                <mat-option value="15">15 Minutes</mat-option>
                <mat-option value="20">20 Minutes</mat-option>
                <mat-option value="25">25 Minutes</mat-option>
                <mat-option value="30">30 Minutes</mat-option>
                <mat-option value="45">45 Minutes</mat-option>
                <mat-option value="60">60 Minutes</mat-option>
                <mat-option value="90">90 Minutes</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Slot A start time</mat-label>
              <input
                matInput
                type="time"
                [ngClass]="{
                  'is-invalid': submitBtn && f.shift1_start_at.errors
                }"
                formControlName="shift1_start_at"
                required
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Slot A end time</mat-label>
              <input
                matInput
                type="time"
                [ngClass]="{
                  'is-invalid': submitBtn && f.shift1_end_at.errors
                }"
                formControlName="shift1_end_at"
                required
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Slot B start time</mat-label>
              <input
                matInput
                type="time"
                [ngClass]="{
                  'is-invalid': submitBtn && f.shift2_start_at.errors
                }"
                formControlName="shift2_start_at"
                
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Slot B end time</mat-label>
              <input
                matInput
                type="time"
                [ngClass]="{
                  'is-invalid': submitBtn && f.shift2_end_at.errors
                }"
                formControlName="shift2_end_at"
                
              />
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <button
              (click)="addSlot()"
              type="button"
              class="btn btn-success ml-2"
            >
              SUBMIT
            </button>
            <button
              (click)="isEdit = false"
              type="button"
              class="btn btn-warning ml-2"
              style="margin-left: 10px"
            >
              CANCEL
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
