// top articles section
.top-articles-section{padding: 30px 0px; background-color: #f4f9fd;
    .articles-box{width: 100%; max-width: 98%; margin: 5px 0px; 
        background-color: #fff; border: 1px solid #ccc;
       figure{ height: 200px; width: 100%; margin-bottom: 5px;
           img{width: 100%; max-height: 200px;}
       }
       .author-name{margin:6px 0px; font-size: 13px;color: #5e5858;}
       .articles_heading{
           h6{margin: 0px 0px 3px; color: #000; font-weight: 600;}
       }
       .articles_text{
           p{padding: 0px; color: #000; margin: 0px;}
       }
    }
}
@media only screen and (max-width: 820px){
    .top-articles-section{padding: 30px 0px;
        .articles-box{width: 100%; max-width: 98%; margin: 5px 0px; 
           figure{ height: 161px; margin-bottom: 0px;}
           .author-name{margin:6px 0px; font-size: 13px;}
           .articles_heading{
               h6{margin: 0px 0px 3px; font-size: 15px;}
           }
           .articles_text{
               p{text-align: justify;}
           }
        }
    }
}
@media only screen and (max-width: 767px){
    .top-articles-section{padding: 30px 0px;
        .articles-box{width: 100%; max-width: 98%; margin: 5px 0px; 
            figure{ height: 200px; margin-bottom: 0px;
                img{width: 100%; max-height: 200px;}
            }            
        }
    }
}