<app-header></app-header>
<app-navigation></app-navigation>
<div id="slider" class="carousel" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="['./assets/images/blood-bank-banner.jpg']" alt="" class="d-block" />
    </div>
  </div>
  <div class="dr-profile">
    <figure>
      <img [src]="dInfo?.image | concatBase: 'hospital_image/'" alt="" />
    </figure>
    <div class="dr-details">
      <h5>{{ dInfo?.name }}</h5>
      <div class="rating">
        <span><i class="fas fa-star"></i> {{stars || 0.0}}</span>
          <a  [routerLink]="['/review-of/Bloodbank/', dInfo?.id]" target="_blank">reviews: {{dInfo?.reviews?.total_reviews || 0}}</a> 
      </div>
      <p>
        <i class="fas fa-map-marker-alt"></i>{{ dInfo?.address }}
        {{ dInfo?.city }} {{ dInfo?.pincode }} {{ dInfo?.country }}
      </p>
      <div class="col-12 p-0">
        <app-rating-info [star]="stars"></app-rating-info>
          
       
        <!-- <div class="row">
                    <div class="col-12 mt-2 px-4">
                        <a href="javascript:void(0)"  class="btn btn-info rounded-pill float-md-end video-consult">
                            Pickup Sample from Home
                        </a>
                    </div>
                </div>                                 -->
      </div>
    </div>
  </div>
</div>
<!-- slider section end -->

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-9 col-12">
        <h4 class="heading">{{ dInfo?.name }}</h4>
        <div class="profile-details-box">
          <div>
            <h5>Stock</h5>
          </div>
          <div class="container">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <td>Component</td>
                  <td>Availablity</td>
                  <td>Last Updated</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of dInfo?.stock">
                  <td>{{ s?.component_name }}</td>
                  <td>{{ s?.available_unit }}</td>
                  <td>{{ s?.updated_at | date:'medium' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="profile-details-box">
          <div>
            <h5>About</h5>
          </div>
          <div [innerHtml]="dInfo?.about"></div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-12">
        <div class="widget">
          <div class="widget-content">
            <!-- <div class="widget-icon">
              <img [src]="['./assets/images/icon/healthcare-prof.png']" alt="" />
            </div> -->
            <h4>Open on Days</h4>
            <ul class="list-unstyled mb-0">
              <!-- <li>
                <span>
                  <button class="btn btn-danger rounded-pill" (click)="donateBlood(bloodbankModel)">
                    Donate Blood
                  </button>
                </span>
              </li> -->
              <li>
                <span>{{ dInfo?.days_string }}</span>
              </li>
            </ul>
            <h4>Contact info</h4>
            <ul class="list-unstyled mb-0">
              <li>
                <span>{{ dInfo?.public_number }}</span>
              </li>
              <li>
                <button class="btn btn-danger rounded-pill" (click)="donateBlood(bloodbankModel)">
                  Donate Blood
                </button>
              </li>
            </ul>
          </div>
          <!-- /.widget-content -->
        </div>

        <!-- <div class="widget emergency-call-bg">
          <div class="widget-content">
            <div class="widget-icon">
              <img [src]="['./assets/images/icon/emergency-call.png']" alt="" />
            </div>
            <h4>Emergency Cases</h4>
            <p>
              Please feel welcome to contact our friendly reception staff with
              any general or medical enquiry call us.
            </p>
            <a href="tel:8585930185" class="phone__number">
              <i class="fas fa-phone-volume"></i> <span>858-593-0185</span>
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>

<app-top-footer></app-top-footer>
<app-footer></app-footer>
<ng-template #bloodbankModel let-modal>
  <div class="modal-body" style="padding-top: 30px">
    <p class="text-center">Note: Carry an Id proof to donation center</p>
    <form [formGroup]="lForm" novalidate>
      <mat-form-field appearance="fill">
        <mat-label>Donor name</mat-label>
        <input matInput [ngClass]="{
            'is-invalid': b2 && f2.name.errors
          }" formControlName="name" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Blood Group</mat-label>
        <mat-select matInput max="500" min="1" formControlName="blood_group" required>
          <mat-option [value]="'AB+ve'">AB+ve</mat-option>
          <mat-option [value]="'AB-ve'">AB-ve</mat-option>
          <mat-option [value]="'A+ve'">A+ve</mat-option>
          <mat-option [value]="'A-ve'">A-ve</mat-option>
          <mat-option [value]="'B+ve'">B+ve</mat-option>
          <mat-option [value]="'B-ve'">B-ve</mat-option>
          <mat-option [value]="'Oh+ve'">Oh+ve</mat-option>
          <mat-option [value]="'Oh-ve'">Oh-ve</mat-option>
          <mat-option [value]="'O+ve'">O+ve</mat-option>
          <mat-option [value]="'O-ve'">O-ve</mat-option>
          
          <mat-option [value]="'Other'">Other</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" [ngClass]="{
            'is-invalid': b2 && f2.email.errors
          }" formControlName="email" type="email" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Contact number</mat-label>
        <input matInput type="number" [ngClass]="{
            'is-invalid': b2 && f2.mobile.errors
          }" formControlName="mobile" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Appointment Date</mat-label>
        <input matInput type="date" [ngClass]="{
            'is-invalid': b2 && f2.date.errors
          }" formControlName="date" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Are you available in emergency?</mat-label>
        <mat-select matInput formControlName="available_in_emergency" required>
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-md-12">
        <button (click)="onSubmitBr()"  type="button" class="btn btn-warning">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-light" ngbAutofocus (click)="modal.close('Close click')">
      Cancel
    </button>
  </div>
</ng-template>