<div class="common-record">
  <div class="d-block p-2">
    <strong class="text-gray rounded-0"> Appointments List ( {{ apnType == 'Online' ? 'Online' : 'In-clinic & Home
      Visit'}})</strong>
  </div>
  <div class="col-md-12">
    <button class="btn btn-warning" *ngIf="doc_id != ''" (click)="backClicked()">
      Go Back
    </button>
  </div>
  <div class="bg-opacity-10 card d-block px-2 py-3 mt-2 rounded-0">
    <div class="card mb-3" *ngFor="let a of apnList">
      <div class="card-header">
        <strong>{{ a?.name }}</strong> <small> {{ a?.gender }} </small>
        <strong class="f-right">Receipt ID : {{ a?.receipt }}</strong>
      </div>
      <div class="card-body" style="background-color: #f7f7f78f;">
        <div class="row">
          <div class="col-12 col-sm-2 col-md-2">
            <div class="text-center bg-primary bg-opacity-50 rounded-3">
              <div class="date">{{ a?.date | date: "dd" }}</div>
              <div class="month">{{ a?.date | date: "MMM" }}</div>
              <div class="year">{{ a?.date | date: "YYYY" }}</div>
            </div>
          </div>
          <div class="col-12 col-sm-5 col-md-4">
            <div class="card-title">
              <div *ngIf="a?.time_slot != '' && a?.time_slot != 'null'">Time Slot: {{ a?.time_slot }}</div>
              <div>
                {{ a?.dob != 0 ? "Date of birth: " + a?.dob : "" }}
              </div>
              <div>
                 Customer Mobile : {{ a?.mobile }} 
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <a [routerLink]="['/chat']" [queryParams]="{ aid: a.id }" target="_blank" class="btn-chat">
              My consultation window <i class="fas fa-comment"></i> </a> 
              <ng-container *ngIf="a?.is_accepted == '1'">
              <div style="width:250px">
                <br>
              <label for="">Select complete date</label>
              <div class="d-flex">
                <!-- <input type="date" class="form-control" id="dtt_{{a?.id}}"> -->
                <button (click)="markComplete(a?.id)" class="btn btn-success">Mark&nbsp;Complete</button>
              </div>
              </div>
            </ng-container>
          </div>
          <div class="col-12 col-sm-2 col-md-2 text-small pt-3 text-end" *ngIf="a?.is_accepted == '0'">
            <a href="javascript:void(0)" *ngIf="doc_id == ''" (click)="takeAction(a?.id, 'accept')"
              class="btn btn-sm btn-outline-success rounded-0">Accept</a> 
          </div>
          <div class="col-12 col-sm-2 col-md-2 text-small pt-3 text-end" *ngIf="a?.is_accepted == '1'">
            <span class="badge badge-success">Accepted</span> 
          </div>
          <div class="col-12 col-sm-2 col-md-2 text-small pt-3 text-end" *ngIf="a?.is_accepted == '2'">
            <span class="badge badge-info">Completed</span> 
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6">
            
            <span *ngIf="a?.type == 'Home'">
              <span class="badge badge-warning">Home Visit</span><br>
              Address: {{a?.address}} {{a?.locality}} {{a?.city}} {{a?.pincode}}
            </span>
            <span *ngIf="a?.type == 'Online'"><i class="fas fa-video"></i></span>
            <span *ngIf="a?.type == 'Clinic/Hospital'"> <span class="badge badge-info">In-Clinic</span></span>
          </div>
          <div class="col-md-2"> 
            <app-rating-section [review]="a?.comment"  [user_id]="a?.doctor_id"  [count]="a?.stars" [service_id]="a?.id" [agent_type]="'Appointments'"></app-rating-section>
          </div>
          <div class="col-md-4">
            Amount paid : {{a?.amount_paid}} <br>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="bg-opacity-10 card d-block px-2 py-3 mt-2 rounded-0" *ngIf="apnList?.length == 0">
    <p>No record found</p>
  </div>
</div>