<app-header></app-header>
<app-navigation></app-navigation>
<div id="slider" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img [src]="['./assets/images/lab-list-banner.jpg']" alt="" class="d-block" />            
        </div>
    </div>
    <div class="dr-profile">
        <figure><img [src]="['./assets/images/lab/test-profile.jpg']" alt=""></figure>
        <div class="dr-details">
            <h5>Complete Blood Count (CBC)</h5>            
            <p>Free Home Sample Pickup</p>
            <p><i class="fas fa-map-marker-alt"></i> Certified Labs</p>
            <div class="col-12 p-0">
                <div class="share">
                    <strong>Rs. 600</strong>
                    <span>
                        <a href="javascript:void(0)"  class="btn btn-info rounded-pill float-md-end video-consult">
                            Add to Cart
                        </a>
                    </span>
                    <span>
                        <a href="javascript:void(0)"  class="btn btn-primary rounded-pill">
                            Book Lab Test
                        </a>
                    </span>                    
                </div>                             
            </div>
        </div>							
    </div>
</div>
<!-- slider section end -->

<section>
    <div class="container">
        <div class="row">            
            <div class="col-md-9 col-sm-9 col-12">
                <h4 class="heading">Our Partner Labs</h4>
				<div class="profile-details-box">						
                    <p>He then traveled to Philadelphia, Pennsylvania to complete a Fellowship in Intervention Cardiology at 
                        Hahnemann Hospital in conjunction with Drexel Univer sity.</p>
				</div>
                <div class="row">
                    <div class="col-sm-4 col-4 m-padding">
                        <div class="lab-img">
                            <figure>
                                <img [src]="['./assets/images/lab/lalpathlab.jpg']" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-4 col-4 m-padding">
                        <div class="lab-img">
                            <figure>
                                <img [src]="['./assets/images/lab/award2.jpg']" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-4 col-4 m-padding">
                        <div class="lab-img">
                            <figure>
                                <img [src]="['./assets/images/lab/award1.jpg']" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
                <!-- <h4 class="heading">Our Partner Labs</h4> -->
				<div class="profile-details-box">
                    <h6>Home sample collection for FREE</h6>						
                    <p>He then traveled to Philadelphia, Pennsylvania to complete a Fellowship in Intervention Cardiology at 
                        Hahnemann Hospital in conjunction with Drexel Univer sity.</p>
                    <h6>Get digital report within a day</h6>
                    <p>He then traveled to Philadelphia, Pennsylvania to complete a Fellowship in Intervention Cardiology at 
                        Hahnemann Hospital in conjunction with Drexel Univer sity.</p>
                    <h6>Offers and affordable prices</h6>
                    <p>He then traveled to Philadelphia, Pennsylvania to complete a Fellowship in Intervention Cardiology at 
                        Hahnemann Hospital in conjunction with Drexel Univer sity.</p>
                </div>
                <div class="col-12 mb-3"><hr>                 
                    <span class="px-2">
                        <a href="javascript:void(0)"  class="btn btn-sm btn-outline-dark rounded-pill">
                            Add to Cart
                        </a>
                    </span>
                    <span class="px-2">
                        <a href="javascript:void(0)"  class="btn btn-sm btn-primary rounded-pill">
                            Book Lab Test
                        </a>
                    </span>
                    <strong class="col-md-4 float-end">Rs. 600</strong>                    
                </div>          
            </div> 
            <div class="col-md-3 col-sm-3 col-12">
                <div class="widget">
                    <div class="widget-content">
                        <div class="widget-icon">
                            <img [src]="['./assets/images/icon/healthcare-prof.png']" alt="">
                        </div>
                        <h4>Opening Hours</h4>
                        <ul class="list-unstyled mb-0">
                            <li><span>Monday - Friday</span><span>8.00 - 7:00 pm</span></li>
                            <li><span>Saturday</span><span>9.00 - 10:00 pm</span></li>
                            <li><span>Sunday</span><span>10.00 - 12:00 pm</span></li>
                        </ul>
                    </div><!-- /.widget-content -->
                </div>

                <div class="widget emergency-call-bg" >
                    <div class="widget-content">
                        <div class="widget-icon">
                            <img [src]="['./assets/images/icon/emergency-call.png']" alt="">
                        </div>
                        <h4>Emergency Cases</h4>
                        <p>Please feel welcome to contact our friendly reception staff with any general
                            or medical enquiry call us.
                        </p>
                        <a href="tel:8585930185" class="phone__number">
                            <i class="fas fa-phone-volume"></i> <span>858-593-0185</span>
                        </a>
                    </div><!-- /.widget-content -->
                </div>
            </div>           
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">                
                <div class="product-overview">
                    <h3 class="heading mt-3">Popular Health Checkup Packages</h3>
                    <div class="tab-section">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#tab1">Featured Checkups</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab2">Women's Health</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab3">Men's Health</a>
                            </li>
                        </ul>
                        <div class="pharmacy-common-slider">
                            <div class="tab-content">
                                <div id="tab1" class="tab-pane active">
                                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" responsive="breakpoints">
                                        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                                            <div class="pharmacy-common-box">
                                                <figure>
                                                    <img [src]="['./assets/images/pharmacy/p1.jpg']" alt="">
                                                </figure>
                                                <div class="product-details">
                                                    <h4><a href="">Equinox Personal Weighing Scale-Digital EQ-EB-9300</a></h4>
                                                    <p>box of 1 Device</p>
                                                    <div class="mrp_off">
                                                        <span>MRP <span>600</span></span>
                                                        <span class="off">30%</span>
                                                    </div>
                                                    <div class="price-add-cart">
                                                        <span class="price">Rs 420</span>
                                                        <span class="addtocart">
                                                            <a href="#" class="btn btn-sm btn-success">Book Now</a>
                                                        </span>
                                                    </div>								
                                                </div>						
                                            </div>
                                        </div>
                                    </ngx-slick-carousel>
                                </div>
                                <div id="tab2" class="tab-pane fade">
                                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" responsive="breakpoints">
                                        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                                            <div class="pharmacy-common-box">
                                                <figure>
                                                    <img [src]="['./assets/images/pharmacy/p2.jpg']" alt="">
                                                </figure>
                                                <div class="product-details">
                                                    <h4><a href="">Equinox Personal Weighing Scale-Digital EQ-EB-9300</a></h4>
                                                    <p>box of 1 Device</p>
                                                    <div class="mrp_off">
                                                        <span>MRP <span>600</span></span>
                                                        <span class="off">30%</span>
                                                    </div>
                                                    <div class="price-add-cart">
                                                        <span class="price">Rs 420</span>
                                                        <span class="addtocart">
                                                            <a href="#" class="btn btn-sm btn-success">Book Now</a>
                                                        </span>
                                                    </div>								
                                                </div>						
                                            </div>
                                        </div>
                                    </ngx-slick-carousel>
                                </div>
                                <div id="tab3" class="tab-pane fade">
                                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" responsive="breakpoints">
                                        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                                            <div class="pharmacy-common-box">
                                                <figure>
                                                    <img [src]="['./assets/images/pharmacy/p3.jpg']" alt="">
                                                </figure>
                                                <div class="product-details">
                                                    <h4><a href="">Equinox Personal Weighing Scale-Digital EQ-EB-9300</a></h4>
                                                    <p>box of 1 Device</p>
                                                    <div class="mrp_off">
                                                        <span>MRP <span>600</span></span>
                                                        <span class="off">30%</span>
                                                    </div>
                                                    <div class="price-add-cart">
                                                        <span class="price">Rs 420</span>
                                                        <span class="addtocart">
                                                            <a href="#" class="btn btn-sm btn-success">Book Now</a>
                                                        </span>
                                                    </div>								
                                                </div>						
                                            </div>
                                        </div>
                                    </ngx-slick-carousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>             
        </div>
    </div>
</section>


<app-top-footer></app-top-footer>
<app-footer></app-footer>