.add-edit-address{ border: 1px solid #ccc; padding: 15px;
    h4{padding: 0px 10px;}
    h5{padding:0px 10px 15px 0px; font-size: 16px;}    
}

.cart-section{ display: none;
    h5{padding: 15px 10px; font-size: 14px;}    
    .check-out{border: 1px dashed #ccc; padding: 10px; font-size: 14px;        
        p{margin-bottom: 5px;
            span{float: right}
        }
    }    
}