<app-header></app-header>

<section class="py-3">
    <div class="container">
        <div class="row">            
            <div class="col-md-8 col-sm-10 col-12">
                <div class="add-edit-address">
                    <form action="">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="mb-2">
                                    <span class="form-check float-start">
                                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="home" checked>
                                    </span>
                                    <div>
                                        <strong>OFFICE</strong>
                                        <span class="float-end"><i class="fas fa-ellipsis-v"></i></span>
                                    </div>
                                    <div class="px-4">Ram kumar<br>8802801996 <br>
                                        309, 3rd floor, Vipul Agora Building, near sahara mall, MG Road, Gurgaon,<br>
                                        Gurgaon, Haryana - 122002
                                    </div>
                                </div>				
                            </div>
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="mb-2">
                                    <span class="form-check float-start">
                                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="home" checked>
                                    </span>
                                    <div>
                                        <strong>HOME</strong>
                                        <span class="float-end"><i class="fas fa-ellipsis-v"></i></span>
                                    </div>
                                    <div class="px-4">Ram kumar<br>8802801996 <br>
                                        309, 3rd floor, Vipul Agora Building, near sahara mall, MG Road, Gurgaon,<br>
                                        Gurgaon, Haryana - 122002
                                    </div>
                                </div>				
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-6 text-center mb-2 mt-md-4 mt-sm-0">
                                <a href="javascript:void(0)" class="btn btn-sm btn-outline-danger rounded-0 d-block">ADD NEW ADDRESS</a>
                            </div>
                            <div class="col-md-12 col-sm-12 col-6 text-center">
                                <a href="javascript:void(0)" class="btn btn-sm btn-success rounded-0 d-block">CONTINUE</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="add-edit-address">
                    <h5>Add Address/Edit Address</h5>
                    <form action="">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-12">
                       			<div class="mb-2">
                                    <input type="text" class="form-control rounded-0" placeholder="Enter Your Name">
                                </div>				
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="mb-2">
                                 <input type="text" class="form-control rounded-0" placeholder="Contact Number">
                                </div>				
                            </div>
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="mb-2">
                                    <input type="text" class="form-control rounded-0" placeholder="Enter address">
                                </div>				
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="mb-2">
                                    <input type="text" class="form-control rounded-0" placeholder="Landmark (optional)">
                                </div>				
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="mb-2">
                                    <input type="text" class="form-control rounded-0" placeholder="Pin Number">
                                </div>				
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="mb-2">
                                    <input type="text" class="form-control rounded-0" placeholder="City">
                                </div>				
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="mb-2">
                                    <input type="text" class="form-control rounded-0" placeholder="State">
                                </div>				
                            </div>
                            <div class="col-md-3 col-sm-3 col-4">
                                <div class="mb-2 mt-3">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="home" checked>Home
                                        <label class="form-check-label" for="radio1"></label>
                                    </div>
                                </div>				
                            </div>
                            <div class="col-md-3 col-sm-6 col-4">
                                <div class="mb-2 mt-3">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="office">Office
                                        <label class="form-check-label" for="radio2"></label>
                                    </div>
                                </div>				
                            </div>
                            <div class="col-md-3 col-sm-6 col-4">
                                <div class="mb-2 mt-3">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="radio3" name="optradio" value="other">Other
                                        <label class="form-check-label"></label>
                                    </div>
                                </div>				
                            </div>
                        </div>
                        <div class="row"><hr>
                            <div class="col text-end">
                                <button type="button" class="btn btn-outline-danger rounded-0">cancel</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-success rounded-0">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-12 m-padding-lr">
                <div class="cart-section">
                    <h5 class="alert alert-info">Combo packs for this product</h5>
                    <div class="check-out">
                        <p>
                            MRP Total
                            <span>Rs 165</span>
                        </p>									
                        <p>
                            Price Discount
                            <span>- ₹74</span>
                        </p>
                        <p>
                            Shipping Charges
                            <span>As per delivery address</span>
                        </p>
                        <hr>
                        <p>
                            <strong>To be paid</strong>
                            <span><strong>Rs 421</strong></span>
                        </p>
                    </div>
                    <div class="alert alert-success">
                        <span>Total Savings: <strong>Rs 70</strong></span>
                        <button type="button" class="btn btn-sm btn-success float-end">CHECKOUT</button>
                    </div>
                </div>                
            </div>            
        </div>
    </div>
</section>
