<app-header></app-header>
<app-navigation></app-navigation>
<section class="py-3">
    <div class="container">
        <div class="row" *ngIf="info">
            <div class="col-md-12">
                <h3 class="mb-sm-0 fs-4">{{info?.item_name}}</h3>
                <p class="fs-6">Company : {{ info?.company }}</p>
            </div>
            <div class="col-md-4 col-sm-4 col-12">
                <div class="product-detail"  style="width:100%"> 
                    <img [src]="changeImageUrl || info?.image" style="width:100%"/> 
                    <br>
                    <div class="d-flex mt-2">
                        <div class="col p-1" (click)="changeImage(info?.image)">
                            <img [src]="info?.image" style="width:100%; cursor:pointer"/> 
                        </div>
                        <div class="col p-1" (click)="changeImage(info?.image_2)">
                            <img [src]="info?.image_2" style="width:100%; cursor:pointer"/> 
                        </div>
                        <div class="col p-1" (click)="changeImage(info?.image_3)">
                            <img [src]="info?.image_3" style="width:100%; cursor:pointer"/> 
                        </div>
                        <div class="col p-1" (click)="changeImage(info?.image_4)">
                            <img [src]="info?.image_4" style="width:100%; cursor:pointer"/> 
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="info?.status == '1'">
                <div class="col-md-4 col-sm-4 col-12">
                    <div class="product-price" *ngIf="info?.mrp != 0 && info?.mrp != ''">
                        <h3><b>Buy Now</b></h3>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>Price</td>
                                    <td>
                                        Rs {{ info?.mrp- ((info?.discount /100)* info?.mrp) | number: "1.2-2" }}
                                        <br>
                                        <del style="font-weight: 400;">MRP {{ info?.mrp }}</del>

                                    </td>
                                </tr>
                                <tr style="font-weight: 400;">
                                    <td>Discount</td>
                                    <td><span class="off">{{ (info?.discount) | number: "1.2-2" }}%
                                            OFF</span></td>
                                </tr>
                                <tr>
                                    <td>Delivery Charges</td>
                                    <td>Rs {{ info?.delivery_charges }}</td>
                                </tr>
                                <tr>
                                    <td>Quantity</td>
                                    <td>
                                        <div class="quantity">

                                            <select [(ngModel)]="buyCount"  id="qty_{{info?.id}}" (change)="updateToCart($event,info?.id, 'equp','purchase')">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                            </select>

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <button class="btn btn-success w100"  (click)="addToCart(info.id, 'equp', 'purchase')"   *ngIf="findInCart(info?.id, 'equp', 'purchase') == false">Add to cart (Rs {{
                                            ((info?.mrp- (info?.discount /100)* info?.mrp)*buyCount)+info?.delivery_charges  | number : '1.0-0' }})</button>
                                        
                                        <button class="btn btn-warning w100"  (click)="removeFromCart(info.id, 'equp', 'purchase')"   *ngIf="findInCart(info?.id, 'equp', 'purchase') == true">Remove from cart</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>
                     
                </div>
                <div class="col-md-4 col-sm-4 col-12"  *ngIf="info?.is_rent == '1'">
                    <div class="product-price">
                        <h3><b>Enter Address here, only if booking for Rent</b></h3>
                        <form [formGroup]="form" novalidate>
                            <mat-form-field appearance="fill">
                                <mat-label>Enter address</mat-label>
                                <input matInput [ngClass]="{
                                    'is-invalid': submitted && f.address.errors
                                }" formControlName="address" required />
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Enter city</mat-label>
                                <input matInput [ngClass]="{
                                    'is-invalid': submitted && f.city.errors
                                }" formControlName="city" required />
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Enter pincode</mat-label>
                                <input matInput [ngClass]="{
                                    'is-invalid': submitted && f.pincode.errors
                                }" formControlName="pincode" required />
                            </mat-form-field>
                            <div class="mb-3" *ngIf="info?.is_prescription_required == '1'">
                                <label for="prcid"> Upload prescription</label>
                                <span> <input class="form-control mb13" (change)="onFileChange($event)" id="prcid" type="file" required/></span>
                            </div> 
                        </form>

                        <h3><b>Take on Rent</b></h3>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>Rent per day</td>
                                    <td>
                                        Rs {{ info?.rent_per_day }}
                                    </td>
                                </tr>
                                <tr style="font-weight: 400;">
                                    <td>Security (Refundable)</td>
                                    <td>{{info?.security_for_rent}}</td>
                                </tr>
                                <tr>
                                    <td>Delivery Charges</td>
                                    <td>Rs {{ info?.delivery_charges_for_rent }}</td>
                                </tr>
                                <tr>
                                    <td>Rent for number of days</td>
                                    <td>
                                        <div class="quantity">
    
                                            <select [(ngModel)]="rentCount">
                                                <ng-container *ngFor="let f of daysLoop;let i = index;">
                                                    <option [value]="f"*ngIf="i != 0" >{{f}}</option>
                                                </ng-container>
                                            </select>
    
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <button class="btn btn-success w100" (click)="submitForm('rent')">Rent Now (Rs {{
                                            ((info?.rent_per_day 
                                            )*rentCount)+info?.delivery_charges_for_rent+info?.security_for_rent }})</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                   
                </div>
            </ng-container>
            <ng-container *ngIf="info?.status == '0'">
                <div class="col-md-4 col-sm-4 col-12">
                    <div class="product-price">
                        <h3>Product is out of stock</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-12">
                    <div class="product-price">
                        <h3><b>Buy Now</b></h3>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>Price</td>
                                    <td>
                                        Rs {{ info?.mrp- ((info?.discount /100)* info?.mrp) | number: "1.2-2" }}
                                        <br>
                                        <del style="font-weight: 400;">MRP {{ info?.mrp }}</del>

                                    </td>
                                </tr>
                                <tr style="font-weight: 400;">
                                    <td>Discount</td>
                                    <td><span class="off">{{ (info?.discount) | number: "1.2-2" }}%
                                            OFF</span></td>
                                </tr>
                                <tr>
                                    <td>Delivery Charges</td>
                                    <td>Rs {{ info?.delivery_charges }}</td>
                                </tr>
                                
                            </tbody>
                        </table> 
                    </div>
                    <div class="product-price mt-3" *ngIf="info?.is_rent == '1'">
                        <h3><b>Take on Rent</b></h3>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>Rent per day</td>
                                    <td>
                                        Rs {{ info?.rent_per_day }}
                                    </td>
                                </tr>
                                <tr style="font-weight: 400;">
                                    <td>Security (Refundable)</td>
                                    <td>{{info?.security_for_rent}}</td>
                                </tr>
                                <tr>
                                    <td>Delivery Charges</td>
                                    <td>Rs {{ info?.delivery_charges_for_rent }}</td>
                                </tr>
                                
                                
                            </tbody>
                        </table> 
                    </div>
                </div>
               
            </ng-container>
        </div>
    </div>
</section>

<section class="my-3">
    <div class="container">
        <div class="row" *ngIf="info">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="product-overview">
                    <h3 class="heading">Product Details</h3>
                    <div class="tab-section">
                        <div class="scroll">
                            <ul class="nav nav-tabs inner-scroll">
                                <li class="nav-item active">
                                    <a class="nav-link" data-bs-toggle="tab" href="#Home">Description</a>
                                </li>

                            </ul>
                        </div>
                        <div class="tab-content pb-4">
                            <div id="Home" class="tab-pane active">
                                <div [innerHtml]="info?.description"></div>
                                <div>
                                    <table class="table table-striped mt-3">
                                        <tbody>
                                            <tr>
                                                <td>Prescription required</td>
                                                <td>{{ info?.is_prescription_required == "0" ? 'No' : 'Yes' }}</td>
                                            </tr>
                                            
                                            <tr>
                                                <td>Company Address</td>
                                                <td>{{ info?.manufacturer_address }}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clear border-one"></div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>