
<app-header></app-header>
<app-navigation></app-navigation>
<!-- slider section end -->
<section class="our-mission-section mt-3">
    <div class="container">
        <h3 class="heading mt-3 mb-4 text-center">
            <span class="border-2 border-bottom pb-2">CANCELLATION AND REFUND POLICY</span>
        </h3>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12 text-start border-1">                
                <p><strong>A)	Medicine and healthcare products</strong></p>
                
                <p><strong>Cancellation</strong></p>                
                <p>The customer can cancel the order for the product before the order is shipped. Orders once shipped cannot be cancelled.</p>
                <p>There may be certain orders that cannot be fulfilled and may need to be cancelled. Some situations that may result in your order being cancelled include, non-availability of the product, inaccuracies or errors in pricing information specified by our partners. </p>
                <p>Topmedz.com also reserves the right to cancel orders that includes:</p>
                <ul style="list-style: none">    
                    <li>•	Orders suspected to be for commercial resale and not for self- consumption.</li>
                    <li>•	Multiple orders placed for same product at the same address.</li>
                    <li>•	Bulk quantity of the same product ordered.</li>
                    <li>•	Invalid address given in order details.</li>
                    <li>•	Any malpractice used to place the order.</li>
                </ul>
                <p><strong>Return and Refund </strong></p>
                <ul style="list-style: none"> 
                    <li>A complete refund is possible in the following circumstances.</li>
                    <li>Delivered item(s) doesn't match your order.</li>
                    <li>The ordered item(s) is/are lost or damaged during transit. </li>
                    <li></li>
                    <li></li>
                </ul>
                <p>Please note that we cannot promise a replacement for all products as it will depend on the availability of the particular product, in such cases we will offer a refund.</p>  
                <p>In the aforesaid unlikely situations, if there is something wrong with the order, we'd be happy to assist and resolve your concern. You may raise a Return request with our customer care within 07 (Seven) days from the delivery of the product. No return/cancellation request will be entertained after 7 days of delivery.</p>
                <p>Upon receiving your Return/Refund request, Topmedz.com shall verify the authenticity and the nature of the request. If Topmedz.com finds that the request is genuine, it will initiate the Return and Refund process. Topmedz.com shall process the refund only once it has received the confirmation from the vendor concerned in respect of the contents of the product relating to that refund.</p>
                <p>In the event of frivolous and unjustified complaints regarding the quality and content of the products, Topmedz.com reserves the right to pursue necessary legal actions against you and you will be solely liable for all costs incurred by Topmedz.com in this regard. 
                    Customer care team will verify the claim made by the customer within 5 days from the time of receipt of complaint. Once the claim is verified as genuine and reasonable, Topmedz.com will initiate the collection of product(s) to be returned. The customer will be required to pack the product(s) in original manufacturer’s packaging. Refund will be completed within 30 (thirty) days from date of reverse pick up.
                    </p>
                <p><em>Following circumstances do not qualify for Return or Refund.</em></p>
                <ul style="list-style: none">   
                    <li>•	Any wrong ordering of product.</li>
                    <li>•	Return or refund requests arising due to change in prescription.</li>
                    <li>•	All products to be returned should always be in their original manufacturer's packaging i.e., with original tags, labels, bar-code and invoice.</li>
                    <li>•	Used, Opened or Partially consumed products do not qualify for Return, only completely intact products can be returned.</li>
                    <li>•	Return product should have the same batch number as mentioned on the invoice.</li>
                    <li>•	Non-delivery of product reported after 48 hours of delivery confirmation mail on your email address </li>
                </ul> <br>
                <p>Certain categories of products (as mentioned under) will not qualify for the Return: -</p>
                <div>
                    <table class="table table-bordered" align="center" border="2" cellpadding="1" cellspacing="1" style="width:700px; max-width:100%">
                        
                        <tr>
                            <td>Baby Care</td>
                            <td>Wipes and Wipe Warmers, Wet Reminder, Nappy, Ear Syringes, Bottle Nipples, Breast Nipple Care, Breast Pumps, Diapers </td>
                        </tr>
                        <tr>
                            <td>Food and Nutrition</td>
                            <td>Health Supplements, Health Drinks</td>
                        </tr>
                        <tr>
                            <td>Healthcare Devices</td>
                            <td>Glucometer, Lancet/Strip, Healthcare Devices and Kits, Surgical, Health Monitors</td>
                        </tr>
                        <tr>
                            <td>Sexual Wellness</td>
                            <td>Pregnancy Kits, Lubricants, Condoms, Fertility Kit/Supplement.</td>
                        </tr>
                        <tr>
                            <td>Temperature Controlled and Specialty Medicines</td>
                            <td>Vials, Injections, Vaccines, Pen fills and any other Product, requiring cold storage, or medicines that fall under the category of specialty medicines.</td>
                        </tr>
                    </table>
                </div>
                <p>In case the service provider/vendor cancels the order, total amount will be refunded within 30days.</p>
                
                <p><strong>Lab test </strong></p>
                <p><strong>Cancellation and refund</strong></p>
                <ul style="list-style: none">
                    <li>You may cancel your order for diagnostic tests before your sample collection is done. After sample collection, the test cannot be cancelled and will be non-refundable. </li>
                    <li>In case of test like MRI scan, CT scan etc. when ambulance pick up is sought, the test can be cancelled till the ambulance leaves for pick up. However, if due to any circumstances home sample collection is unsuccessful, then you have to give the sample at laboratory on your own. If you don’t get the test done on scheduled day, then no refund will be provided.</li>
                    <li>In case the laboratory service provider/vendor cancels the order, total amount will be refunded within 30days.</li>
                </ul>
                <p><strong>C) Healthcare Devices for sale / rent</strong>
                <p><strong>Cancellation</strong></p>
                <p>The customer can cancel the order before it is shipped. Orders once shipped cannot be cancelled.</p>
                <p>There may be certain orders that cannot be fulfilled and may need to be cancelled. Some situations that may result in your order being cancelled include, non-availability of the product, inaccuracies or errors in pricing information specified by our partners. </p>
                <p>Topmedz.com also reserves the right to cancel the orders, that includes:</p>
                <ul style="list-style: none">
                    <li>•	Orders suspected to be for commercial resale and not for self- consumption.</li>
                    <li>•	Multiple orders placed for same product at the same address.</li>
                    <li>•	Bulk quantity of the same product ordered.</li>
                    <li>•	Invalid address given in order details.</li>
                    <li>•	Any malpractice used to place the order.</li>
                </ul>
                <p>In case of healthcare devices on rent, customer cannot cancel the order before the specified rental period, for which initially he/she has ordered. However, if one wants to extend the rental period for the healthcare device, same can be done by placing request at Topmedz.com.</p>
                <p><strong>Return and Refund </strong></p>
                <p>A complete refund is possible in the following circumstances.</p>
                <ul style="list-style: none">
                    <li>You received a defective/damaged item(s).</li>
                    <li>Delivered item(s) doesn't match your order.</li>
                    <li>The ordered item(s) is/are lost or damaged during transit. </li>
                </ul>
                <p>Please note that we cannot promise a replacement for all products as it will depend on the availability of the particular product, in such cases we will offer a refund.</p>
                <p>In the aforesaid unlikely situations, if there is something wrong with the order, we'd be happy to assist and resolve your concern. You may raise a Return request with our customer care within 07 (Seven) days from the delivery of the product. No return/cancellation request will be entertained after 7 days of delivery.</p>
                <p>Upon receiving your Return/Refund request, Topmedz.com shall verify the authenticity and the nature of the request. If Topmedz.com finds that the request is genuine, it will initiate the Return and Refund process. Topmedz.com shall process the refund only once it has received the confirmation from the vendor concerned in respect of the contents of the product relating to that refund.</p>
                <p>In the event of frivolous and unjustified complaints regarding the quality and content of the products, Topmedz.com reserves the right to pursue necessary legal actions against you and you will be solely liable for all costs incurred by Topmedz.com in this regard. </p>
                <p>Customer care team will verify the claim made by the customer within 5 days from the time of receipt of complaint. Once the claim is verified as genuine and reasonable, Topmedz.com will initiate the collection of product(s) to be returned. The customer will be required to pack the product(s) in original manufacturer’s packaging. Refund will be completed within 30 (thirty) days from date of reverse pick up.</p>
                <p>Following circumstances do not qualify for Return or Refund.</p>
                <ul>
                    <li>Any wrong ordering of product.</li>
                    <li>Return or refund requests arising due to change in prescription.</li>
                    <li>All products to be returned should always be in their original manufacturer's packaging i.e., with original tags, labels, bar-code and invoice.</li>
                    <li>Return product should have the same batch number as mentioned on the invoice.</li>
                    <li>Non-delivery of product reported after 48 hours of delivery confirmation mail on your email address. </li>
                </ul>
                <p>Certain categories of products (as mentioned under) will not qualify for the Return: -</p>
                <div>
                    <table class="table table-bordered" align="center" border="2" cellpadding="1" cellspacing="1" style="width:400px; max-width:100%">
                        <tr>
                            <td>Baby Care</td>
                            <td>Breast Pumps, Ear Syringes, Wet Reminder and Wipe Warmers</td>
                        </tr>
                        <tr>
                            <td>Healthcare Devices</td>
                            <td>Glucometer Lancet/Strip, Healthcare Devices and Kits, Surgical, Health Monitors</td>
                        </tr>
                        <tr>
                            <td>Sexual Wellness</td>
                            <td>Fertility Kit/Supplement, Pregnancy Kits</td>
                        </tr>
                    </table>
                </div>
                <p>In case of the healthcare devices on rent, if the item ordered malfunctions at the time of delivery or within rental period, you have to raise a request to the local vendor or at Topmedz.com. Local vendor will confirm about authenticity of the request, a replacement may be offered, if available. If replacement cannot be provided, refund against the remaining rental period will be provided within 30 days of raising the request. In case device is damaged at your end, security amount will be forfeited. Security amount will be refunded only after the device is returned to local vendor in original condition.</p>
                <p>In case the service provider/vendor cancels the order, total amount will be refunded within 30days.</p>
                <p><strong>D) Ambulance Services</strong></p>
                <p><strong>Cancellation and refund</strong></p>
                <p>Order can be cancelled before the ambulance leaves for pick up. Once the ambulance is out for pick up, it cannot be cancelled even if the customer does not avail the services.</p>
                <p>Topmedz.com shall not be liable for You missing appointment or delays etc. as the Service is dependent on many factors not in our control. You must book Your ambulance after taking into account the pick-up time, traffic and weather conditions, political rallies, natural calamities, traffic barricades, ambulance breakdowns and other unexpected delays. </p>
                <p>In case the ambulance service provider/vendor cancels the order, total amount will be refunded within 30days.</p>
                <p><strong>E) Home Care Services</strong></p>
                <p>Once order for home care services placed, it cannot be cancelled by the customer. In case the Homecare service provider/vendor cancels the order, total amount will be refunded within 30days.</p>
                <p><strong>F) Treatment and Surgical Packages</strong></p>
                <p>Once order for Treatment and surgical packages placed, it cannot be cancelled by the customer. However, if the hospital or doctor cancels the order amount will be refunded within 30days.</p>
                <p><strong>G) Doctor Consultation</strong></p>
                <p>Once order is placed for online doctor consultation or in clinic appointment or home visit is placed then it cannot be cancelled. In case if user does not avail the services after booking, for whatsoever reasons, refund will not be provided. In case the doctor cancels the appointment, total amount will be refunded within 30days. The Doctor with whom User has booked an appointment with topmedz.com, has not been able to meet the User, User will need to write to us within five days from the occurrence of such event. If the claim is genuine, the amount paid will be refunded to the User within 30 days.</p>                             
                <p><strong>H) Service Providers</strong></p>
                <p>For Service providers viz. Doctors, Hospitals, Laboratory service providers, Ambulance service providers, Homecare service providers, Health care devices dealers, Pharmacist listing charges once paid will not be refunded, even if the services are discontinued.</p>                         
            </div>             
        </div>
    </div>
</section>




<app-top-footer></app-top-footer>
<app-footer></app-footer>