<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-6">
                <div class="footer-contant">
                    <h3>About Us</h3>
                    <ul>
                        <li><a [routerLink]="['/about-us']">About</a></li>
                        <li><a [routerLink]="['/blog']">Blog</a></li>
                        <!-- <li><a href="#">Careers</a></li>
                        <li><a href="#">FAQs</a></li>-->
                        <li><a  [routerLink]="['/contact']">Contact us</a></li> 
                    </ul>
                </div>
            </div>
            <!-- <div class="col-md-2 col-sm-3 col-6">
                <div class="footer-contant">
                    <h3>For patients</h3>
                    <ul>
                        <li><a href="#">Search for doctors</a></li>
                        <li><a href="#">Search for clinics</a></li>
                        <li><a href="#">Search for hospitals</a></li>
                        <li><a href="#">Book Diagnostic Tests</a></li>
                        <li><a href="#">Book Full Body Checkups</a></li>
                    </ul>
                </div>
            </div> -->
            <!-- <div class="col-md-2 col-sm-3 col-6">
                <div class="footer-contant">
                    <h3>For doctors</h3>
                    <ul>
                        <li><a href="#">doctors Profile</a></li>
                    </ul>
                    <h3>For hospitals</h3>
                    <ul>
                        <li><a href="#">hospitals by Topmedz</a></li>
                        <li><a href="#">hospitals Profile</a></li>
                        <li><a href="#">hospitals Reach</a></li>
                    </ul>
                </div>
            </div> -->
            <div class="col-md-4 col-sm-4 col-6">
                <div class="footer-contant">
                    <h3>More</h3>
                    <ul>
                        <!-- <li><a href="#">Help</a></li> -->
                        <li><a [routerLink]="['/privacy-policy']">Privacy</a></li>
                        <li><a [routerLink]="['/Tnc']">Terms and Conditions</a></li>
                        <li><a [routerLink]="['/refund']">Cancellation and Refund Policy</a></li>
                    </ul>
                </div>
            </div>			
            <div class="col-md-4 col-sm-12 col-12">
                <div class="footer-contant">
                    <h3>Subscribe newsletter</h3>
                    <p>
                        Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                    </p>
                    <div>
                        <form class="search" action="">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control rounded-0" placeholder="Search">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <hr>
                <div class="social">
                    <h5>Follow US</h5>
                    <a href="#">
                        <img [src]="['./assets/images/icon/facebook-icon.png']">
                    </a>
                    <a href="#">
                        <img [src]="['./assets/images/icon/instagram-Icon.png']">
                    </a>
                    <a href="#">
                        <img [src]="['./assets/images/icon/twetter-Icon.png']">
                    </a>
                </div>
                <div class="accepted-card">
                    <h5>We Accept</h5>
                    <a href="#">
                        <img [src]="['./assets/images/icon/we-accept.png']">
                    </a>
                    <!--<a href="#">
                        <img [src]="['./assets/images/icon/visa-card-icon.png']">
                    </a>
                    <a href="#">
                        <img [src]="['./assets/images/icon/american-express-icon.png']">
                    </a>
                    <a href="#">
                        <img [src]="['./assets/images/icon/paypal-icon.png']">
                    </a> -->
                </div>
            </div>
        </div>   	
    </div>
    <div class="all-right">
        <a href="#"> Topmedz.com © 2023 All rights reserved.</a>
    </div>
</footer>
<div class="join-as-partner">
    <a class="text-dark" [routerLink]="['/signup']">
        <img [src]="['./assets/images/join-us-now2.jpg']" alt="" />
    </a>
 </div>
