<div class="common-record">
    <div class="d-block p-2">
        <strong class="text-gray rounded-0"> Order Requests</strong>
        <!-- <button printSectionId="section" styleSheetFile="../../../../styles.css" ngxPrint>Print</button> -->
    </div>
    <div class="col-md-12">
        <button class="btn btn-warning" *ngIf="doc_id != ''" (click)="backClicked()">
            Go Back
        </button>
    </div>
    <div class="bg-opacity-10 card d-block px-2 py-3 mt-2 rounded-0">
        <div class="card mb-3" *ngFor="let o of orderList">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        ORDER ID : {{o?.order_id}}
                    </div>
                    <div class="col-md-3">
                        <app-rating-section [review]="o?.info.comment"  [user_id]="o?.order_id"  [count]="o?.info.stars" [service_id]="o?.info.id" [agent_type]="'Medicine'" (reviewData)="onReviewData($event)"></app-rating-section>
                    </div>
                    <div class="col-md-3">
                        <span class="badge badge-primary" *ngIf="o?.info?.is_completed == '0'">Order not accepted
                            yet</span>
                        <span class="badge badge-info" *ngIf="o?.info?.is_completed == '1'">Order accepted</span>
                        <span class="badge badge-success" *ngIf="o?.info?.is_completed == '2'">Order delivered</span>
                        <span class="badge badge-danger" *ngIf="o?.info?.is_completed == '3'">Order cancelled</span>
                        <span class="badge badge-warning" *ngIf="o?.info?.is_completed == '4'">Order out for
                            delivery</span>
                    </div>
                </div>
            </div>
            <div class="card-body" style="background-color: ghostwhite;">
                <div class="container">
                    <div class="card mb-1" *ngFor="let p of o?.products">
                        <div class="card-header">
                            {{p?.title}} - {{p?.formulation_name}}
                            <!-- <small>{{ p?.p_name}} - {{ p?.description}}</small> -->
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <img [src]="p?.product_image ? p?.product_image : p?.image | concatBase: 'product_image/'" style="width: 40px"
                                        *ngIf="p?.product_image != ''" />
                                </div>
                                <div class="col-md-6">
                                    Payment status : {{p?.payment_status | titlecase}} <br>
                                    Price Paid : {{p?.mrp - (p?.mrp*(p?.discount/100)) }} <br>
                                    Quantity : {{p?.qty}}
                                </div>
                                <div class="col-md-4">
                                    <span class="badge badge-primary" *ngIf="p?.is_completed == '0'">Order not accepted
                                        yet</span>
                                    <span class="badge badge-info" *ngIf="p?.is_completed == '1'">Order accepted</span>
                                    <span class="badge badge-success" *ngIf="p?.is_completed == '2'">Order
                                        delivered</span>
                                    <span class="badge badge-danger" *ngIf="p?.is_completed == '3'">Order
                                        cancelled</span>
                                    <span class="badge badge-warning" *ngIf="p?.is_completed == '4'">Order out for
                                        delivery</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer" *ngIf="o?.info">
                <div class="row">
                    <div class="col-md-8">
                        Customer info : {{o?.customer_name}} (<a href="tel:{{o?.customer_mobile}}"> <i class="fa fa-phone-square" aria-hidden="true"></i>{{o?.customer_mobile}}</a>) <br>
                        Address : {{ o?.info?.address}}, {{ o?.info?.locality}}, {{ o?.info?.city}}, {{ o?.info?.pincode}}
                    </div>
                    <div class="col-md-4">
                        Total Amount : {{o?.info?.total_amount - o?.info?.total_discount}} <br>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="bg-opacity-10 card d-block px-2 py-3 mt-2 rounded-0" *ngIf="orderList?.length == 0">
    <p>No record found</p>
</div>