<div id="slider" class="carousel" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        [src]="['./assets/images/hospital-banner.jpg']"
        alt=""
        class="d-block"
      />
    </div>
  </div>
  <div class="banner-search">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-12">
        <h1>Committed to Trusted Health Care</h1>

        <div class="col-md-12 col-sm-12 col-12">
          <a
           [routerLink]="['/hospital-list']"
            class="btn btn-light border-2 rounded-0 mt-4"
          >
            Book appointment
          </a>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="verified-banner-box">
            <span>
              <img [src]="['./assets/images/icon/first-aid-kit.png']" alt="" />
            </span>
            <h6>1500+ Doctors</h6>
          </div>
          <div class="verified-banner-box">
            <span>
              <img [src]="['./assets/images/icon/hospital.png']" alt="" />
            </span>
            <h6>1475+ Hospital</h6>
          </div>
          <div class="verified-banner-box">
            <span>
              <img [src]="['./assets/images/icon/doctor.png']" alt="" />
            </span>
            <h6>Top Specialities</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider section end -->
