<app-header></app-header>
<app-navigation></app-navigation>
<ng-container *ngIf="dInfo">
  <div id="slider" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="
            (dInfo?.doctor_banner != ''
              ? dInfo?.doctor_banner
              : 'dr-list-banner.jpg'
            ) | concatBase: 'doctor_image/'
          " alt="" class="d-block" />
      </div>
    </div>
    <div class="dr-profile">
      <div class="row">
        <div class="col-md-2 col-sm-3 col-3" *ngIf="dInfo?.doctor_image">
          <figure>
            <img [src]="
                (dInfo?.doctor_image != '' ? dInfo?.doctor_image : 'dummy.png')
                  | concatBase: 'doctor_image/'
              " alt="" />
          </figure>
        </div>
        <div class="col-md-7 col-sm-6 col-9">
          <div class="dr-details">
            <h5>{{ dInfo?.full_name }}</h5>
            <div class="rating">
              <span><i class="fas fa-star"></i> {{stars || 0.0}}</span>
              <a [routerLink]="['/review-of/Appointments/', dInfo?.id]" target="_blank">reviews: {{dInfo?.reviews?.total_reviews || 0}}</a> 
            </div>        
            <p>{{ dInfo?.designation }}</p>
            <p>{{ dInfo?.Specialization }}</p>
            <p>
              {{ dInfo?.Specialities }}
            </p>
            <p *ngIf="dInfo?.experience != ''">
              {{ dInfo?.experience }} Year's Experience overall
            </p>            
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-12">
          <div class="fee">
            <!-- <p><span >Available Today</span></p> -->
            <p>
              <span>
               Consultation Fee: <i class="fas fa-rupee-sign"></i>{{ dInfo?.consultancy_fee }}</span>
            </p>
            <p *ngIf="dInfo?.home_visit == 'Yes'">
              <span>Home Visit Fee : <i class="fas fa-rupee-sign"></i>
                {{ dInfo?.home_consultancy_fee }}</span>
            </p>
            <p>
              <span>Online Consultation : <i class="fas fa-rupee-sign"></i>
                {{ dInfo?.online_consultancy_fee }}</span>
            </p>
          </div>
        </div>        
      </div>
      <div class="row">
          <div class="col-md-2 col-sm-2 col-12 p-0"></div>
          <div class="col-md-10 col-10 col-12 p-0">
            <app-rating-info [star]="stars" [slug]="'/appointment-form/'+ dInfo?.slug"></app-rating-info>
            <!-- <div class="row">
              <div class="col-12 mt-2 px-4">
                <a href="javascript:void(0)" class="btn btn-info rounded-pill float-md-end video-consult">
                  Video Consult
                </a>
              </div>
            </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- slider section end -->

  <section class="about-top-margin">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-9 col-12">
          <h4 class="mt-3">About {{ dInfo.full_name }}</h4>
          <div class="profile-details-box">
            <p [innerHtml]="dInfo?.about"></p> 
          </div>
          <h4 class="mt-3">Awards</h4>
          <div class="profile-details-box">
            <div class="container" [innerHtml]="dInfo?.award"></div>
          </div>

          <div class="col-12">
            <div class="accordion" id="myAccordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <a href="javascript:void(0)" class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne">
                    <i class="fas fa-pen-fancy px-2"></i> Membership Details
                  </a>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                  <div class="container" [innerHtml]="dInfo?.memberships_detail | replaceLineBreaks">
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="regisOne">
                  <a href="javascript:void(0)" class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#rcone">
                    <i class="fas fa-pen-fancy px-2"></i> Registration Details
                  </a>
                </h2>
                <div id="rcone" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                  <div class="card-body">
                    {{ dInfo?.registration_details }}
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <a href="javascript:void(0)" class="accordion-button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo">
                    <i class="fas fa-graduation-cap px-2"></i> Education &
                    Traning
                  </a>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                  <div class="card-body">
                    <p>{{ dInfo?.Specialization }}</p>
                    <p>
                      {{ dInfo?.Specialities }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="display:none;">
            <div class="col-md-4">
              <div class="b-shadow">
                <h3><b>Symptoms I See</b></h3>
                <div class="row p-2 pt0">
                  <ul *ngIf="dInfo?.SymptomsList != ''">
                    <li *ngFor="let s of dInfo?.SymptomsList">
                      {{ s?.title }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="b-shadow">
                <h3><b>Diseases I Treat</b></h3>
                <div class="row p-2 pt0">
                  <ul *ngIf="dInfo?.IllnessList != ''">
                    <li *ngFor="let s of dInfo?.IllnessList">
                      {{ s?.title }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="b-shadow">
                <h3><b>Treatments & Surgery</b></h3>
                <div class="row p-2 pt0">
                  <ul *ngIf="dInfo?.TreatmentAndSurgeryList != ''">
                    <li *ngFor="let s of dInfo?.TreatmentAndSurgeryList">
                      {{ s?.title }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3" *ngIf="dInfo?.Treatment != ''">
            <div class="col-md-12">
              <div class="b-shadow">
                <h3><b>Treatment Package</b></h3>
                <div class="row p-2 pt0">
                  <div class="card p0" *ngFor="let t of dInfo?.Treatment">
                    <div class="card-header">
                      {{ t?.package_name }}
                      <button class="btn btn-success f-right" (click)="addToCart(t?.id, 'treatment')"
                        *ngIf="findInCart(t?.id, 'treatment') == false && isLoggedIn">
                        Add To Cart
                      </button>
                      <button class="btn btn-warning f-right" (click)="removeFromCart(t?.id, 'treatment')"
                        *ngIf="findInCart(t?.id, 'treatment') == true && isLoggedIn">
                        Remove From Cart
                      </button>
                    </div>
                    <div class="card-body">
                      Treatment For : {{ t?.illness_name }} <br />
                      Speciality Name : {{ t?.speciality_name }} <br />
                      Stay Type:
                      {{ t?.stay_type }} <br />
                      <div *ngIf="isLoggedIn">
                        Charges : INR
                        <del>{{ t?.charges_in_rs }}</del>
                        {{ t?.charges_in_rs - ((t?.discount_in_rs/100)*t?.charges_in_rs) }}
                      </div>
                      <div *ngIf="!isLoggedIn">
                         To view price please login
                      </div>
                      <!-- <div>
                        Charges for foreigner patient: INR
                        <del>{{ t?.charges_in_doller }}</del>
                        {{ t?.charges_in_doller - t?.discount_in_doller }}
                      </div> -->
                      Location: {{ t?.package_location }} (<span *ngIf="t?.package_location == 'Clinic'">
                        {{ dInfo?.address }} {{ dInfo?.city }}
                        {{ dInfo?.pincode }}</span>
                      <span *ngIf="t?.package_location == 'Hospital'">
                        {{ t?.hospital_name }}
                        {{ t?.hospital_address && t?.hospital_address != 'null' ? t?.hospital_address : '' }}</span>)
                      <br />
                      <mat-expansion-panel (opened)="(false)" *ngIf="isLoggedIn">
                        <mat-expansion-panel-header>
                          <mat-panel-title> Details : </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="container" [innerHtml]="t?.details"></div>
                      </mat-expansion-panel>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          
        </div>
        <div class="col-md-3 col-sm-3 col-12">
          <div class="widget">
            <div class="widget-content">
              <div class="fee">
                <!-- <p><span >Available Today</span></p> -->
                <p>
                  <span>
                   Consultation Fee: <i class="fas fa-rupee-sign"></i>{{ dInfo?.consultancy_fee }}</span>
                </p>
                <p *ngIf="dInfo?.home_visit == 'Yes'">
                  <span>Home Visit Fee : <i class="fas fa-rupee-sign"></i>
                    {{ dInfo?.home_consultancy_fee }}</span>
                </p>
                <p>
                  <span>Online Consultation : <i class="fas fa-rupee-sign"></i>
                    {{ dInfo?.online_consultancy_fee }}</span>
                </p>
              </div>
            </div>
            <!-- /.widget-content -->
          </div>

          <div class="widget">
            <div class="widget-content">
              <!-- <div class="widget-icon">
                <img [src]="['./assets/images/icon/healthcare-prof.png']" alt="" />
              </div> -->
              <h4>Working Days</h4>
              <ul class="list-unstyled mb-0">
                <li>{{ dInfo?.days_string }}</li>

                <li *ngIf="dInfo?.medical_counsiling?.title != ''">
                  <span>Medical Council :</span>
                  <span> {{ dInfo?.medical_counsiling?.title }}</span>
                </li>
              </ul>
            </div>
            <!-- /.widget-content -->
          </div>

          <!-- <div class="widget emergency-call-bg">
            <div class="widget-content">
              <div class="widget-icon">
                <img [src]="['./assets/images/icon/emergency-call.png']" alt="" />
              </div>
              <h4>Emergency Cases</h4>
              <p>
                Please feel welcome to contact our friendly reception staff with
                any general or medical enquiry call us.
              </p>
              <a href="tel:8585930185" class="phone__number">
                <i class="fas fa-phone-volume"></i> <span>858-593-0185</span>
              </a>
            </div>
          </div> -->
        </div>
      </div>

    </div>
  </section>
</ng-container>
<app-top-footer></app-top-footer>
<app-footer></app-footer>