<app-header></app-header>
<app-navigation></app-navigation>
<div id="slider" class="carousel" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="['./assets/images/surgeries-banner.jpg']" alt="" class="d-block" />
    </div>
  </div>
  <!-- <div class="banner-search">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-12">
                <h1>For All the Emergency and non-emergency Medical Needs</h1>                
                <div class="col-md-12 col-sm-12 col-12">
                    <a href="javascript:void(0)" class="btn btn-light border-2 rounded-0 mt-4">
                        Book appointment
                    </a>
                </div>
            </div>            
        </div>
    </div>     -->
</div>
<!-- slider section end -->
<section class="banner-bottom-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-12">
        <div class="banner-bottom-box">
          <a href="javascript:void(0)">
            <span>
              <img [src]="['./assets/images/icon/icon-1.png']" alt="" />
            </span>
            <h6>Expert surgeons with 10+ years of exp</h6>
            <p>
              Our firm is expert to create an efficient user interface that.
            </p>
            <p class="text-end"><small>read more..</small></p>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-12">
        <div class="banner-bottom-box">
          <a href="javascript:void(0)">
            <span>
              <img [src]="['./assets/images/icon/icon-2.png']" alt="" />
            </span>
            <h6>Advanced Surgical Technologies</h6>
            <p>
              Our firm is expert to create an efficient user interface that.
            </p>
            <p class="text-end"><small>read more..</small></p>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-12">
        <div class="banner-bottom-box">
          <a href="javascript:void(0)">
            <span>
              <img [src]="['./assets/images/icon/icon-3.png']" alt="" />
            </span>
            <h6>Personal Care Assistants</h6>
            <p>
              Our firm is expert to create an efficient user interface that.
            </p>
            <p class="text-end"><small>read more..</small></p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="test-type-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12">
        <h3 class="heading mt-3">Surgeries we provide</h3>
        <div class="scroll">
          <div class="test-type-slider inner-scroll">
            <div class="test-type">
              <figure>
                <a href="">
                  <img [src]="['./assets/images/lab/fever.png']" alt="" />
                </a>
              </figure>
              <a href="">Kidney Stones</a>
            </div>
            <div class="test-type">
              <figure>
                <a href="">
                  <img [src]="['./assets/images/lab/skin.png']" alt="" />
                </a>
              </figure>
              <a href="">Gall stones</a>
            </div>
            <div class="test-type">
              <figure>
                <a href="">
                  <img [src]="['./assets/images/lab/cancer.png']" alt="" />
                </a>
              </figure>
              <a href="">Appendicitis</a>
            </div>
            <div class="test-type">
              <figure>
                <a href="">
                  <img [src]="['./assets/images/lab/Diabetes.png']" alt="" />
                </a>
              </figure>
              <a href="">Lipoma Removal</a>
            </div>
            <div class="test-type">
              <figure>
                <a href="">
                  <img [src]="['./assets/images/lab/kidney.png']" alt="" />
                </a>
              </figure>
              <a href="">Cardiology</a>
            </div>
            <div class="test-type">
              <figure>
                <a href="">
                  <img [src]="['./assets/images/lab/Bone.png']" alt="" />
                </a>
              </figure>
              <a href="">Neurologists</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about-doctor-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6 col-12">
        <div class="row about-img">
          <div class="col-md-12 col-sm-12 col-12">
            <img class="" [src]="['./assets/images/about-surgery.png']" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-7 col-sm-6 col-12">
        <!-- <p>Since 1990-2022, New Delhi India</p> -->
        <h2 class="heading">What About Surgery ?</h2>
        <p>
          Delightful unreserved impossible few estimating men favourable see
          entreaties. She propriety immediate was improving. He or entrance
          humoured likewise moderate. Much nor game son say feel. On am in
          nearer square wanted.
        </p>
        <p>
          Delightful unreserved impossible few estimating men favourable see
          entreaties. She propriety immediate was improving. He or entrance
          humoured likewise moderate. Much nor game son say feel. On am in
          nearer square wanted.
        </p>
        <a [routerLink]="['/doctor-list']" class="btn btn-success rounded-0">
          <i class="fas fa-chevron-circle-right"></i>
          Make Appointment
        </a>
      </div>
    </div>
  </div>
</section>

<section class="why-us-box-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-6">
        <div class="why-us-box">
          <span>
            <img [src]="['./assets/images/icon/medical-team.png']" alt="" />
          </span>
          <h6>2000+</h6>
          <p>Expert Doctors</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-6">
        <div class="why-us-box">
          <span>
            <img [src]="['./assets/images/icon/love.png']" alt="" />
          </span>
          <h6>990 +</h6>
          <p>Successful Story</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-6">
        <div class="why-us-box">
          <span>
            <img [src]="['./assets/images/icon/global-presence.png']" alt="" />
          </span>
          <h6>10+</h6>
          <p>Global Presence</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-6">
        <div class="why-us-box">
          <span>
            <img [src]="['./assets/images/icon/rating.png']" alt="" />
          </span>
          <h6>4.5</h6>
          <p>Global Rating</p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-download-app></app-download-app>
<app-footer></app-footer>