.service-box {
  width: 100%;
  height: 150px;
  margin-top: 40px;
  padding: 15px;
  box-shadow: 0px 0px 5px #aba4a4;
  border-radius: 10px;
  transition: 0.5s;
}
.service-box span {
  width: auto;
  height: 60px;
  padding: 6px;
  border-radius: 5px;
  transition: 1s;
  display: block;
  text-align: center;
}
.service-box span img {
  width: 60px;
  margin-top: -7px;
}
.service-box h6 {
  font-size: 14px;
  margin: 5px 0px 2px;
}
.service-box p {
  font-size: 14px;
  margin-bottom: 0px;
}
.service-box p a {
  font-weight: 500;
  font-size: 11px;
}
.service-box p a img {
  float: right;
  padding: 5px;
  width: 18px;
  border-radius: 50%;
  margin-top: 3px;
}

.service-box:hover {
  background-color: rgb(231, 229, 229);
}

@media only screen and (max-width: 1180px) {
  .m-col {
    width: 33%;
    flex: none;
    padding: 5px;
  }
  .m-col .service-box {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .m-col {
    width: 33%;
    flex: none;
    padding: 5px;
  }
  .m-col .service-box {
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px #aba4a4;
    border-radius: 3px;
  }
  .m-col .service-box span {
    height: 32px;
    padding: 2px 4px;
    border-radius: 3px;
  }
  .m-col .service-box span img {
    width: 32px;
  }
  .m-col .service-box h6 {
    font-size: 9px;
    margin: 5px 0px 2px;
  }
  .m-col .service-box p {
    font-size: 12px;
  }
  .m-col .service-box p a {
    font-size: 9px;
  }
  .m-col .service-box p a img {
    padding: 3px;
    width: 15px;
  }
}
.welcome-section {
  padding: 80px 0px 20px;
}
.welcome-section p {
  margin: 0px;
  text-align: justify;
}
.welcome-section h2 {
  margin-bottom: 30px;
}
.welcome-section a {
  margin-top: 20px;
}
.welcome-section .welcome-img img {
  width: 100%;
  height: 135px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1180px) {
  .welcome-section {
    padding: 50px 0px 20px;
  }
}
@media only screen and (max-width: 767px) {
  .welcome-section {
    padding: 25px 0px 20px;
  }
  .welcome-section h2 {
    margin-bottom: 15px;
  }
  .welcome-section p {
    font-size: 14px;
  }
  .welcome-section a {
    margin-top: 20px;
    font-size: 12px;
  }
  .welcome-section .welcome-img {
    margin-top: 10px;
  }
  .welcome-section .welcome-img img {
    width: 100%;
    height: 110px;
    margin-bottom: 15px;
  }
}
.consult-top-doctors {
  border: 2px solid #f4eeff;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  padding: 20px;
}
.consult-top-doctors h2 {
  font-size: 26px;
  color: #2297be;
}
.consult-top-doctors .section-header-icons {
  width: 70%;
}
.consult-top-doctors .section-header-icons .icon-wrap {
  margin-bottom: 12px;
  display: flex;
}
.consult-top-doctors .section-header-icons .icon-wrap .icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  text-align: center;
}
.consult-top-doctors .section-header-icons .icon-wrap .icon i {
  font-size: 24px;
  line-height: 1;
  color: #2297BE;
}
.consult-top-doctors .section-header-icons .icon-wrap .icon p {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--text-color-1);
  flex: 1;
  font-weight: 500;
}
.consult-top-doctors .doct-img img {
  width: 200px;
}

.how-it-works {
  margin-bottom: 24px;
  color: #6d8298;
  padding: 15px;
}
.how-it-works .icon-wrap {
  display: flex;
}
.how-it-works .icon-wrap .icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.how-it-works .icon-wrap .icon i {
  font-size: 18px;
  color: #2297be;
}
.how-it-works .icon-wrap p {
  font-size: 14px;
}
.how-it-works .icon-wrap:not(:last-child) {
  padding-bottom: 15px;
  position: relative;
}
.how-it-works .icon-wrap:not(:last-child)::after {
  content: "";
  border-left: 1px dashed #c6d6e6;
  width: 0;
  height: 15px;
  position: absolute;
  bottom: 7px;
  left: 6px;
}

@media only screen and (max-width: 767px) {
  .consult-top-doctors {
    border-radius: 20px;
    display: block;
    padding: 20px;
  }
  .consult-top-doctors h2 {
    font-size: 20px;
  }
  .consult-top-doctors .section-header-icons {
    width: 100%;
  }
  .consult-top-doctors .doct-img {
    display: none;
  }
  .consult-top-doctors .doct-img img {
    width: 200px;
  }
}
.slider-section {
  padding: 60px 0px;
}

.slider-box {
  border: 1px solid #ccc;
  max-width: 100%;
  margin: 5px;
  padding: 8px;
  box-shadow: 0px 0px 3px #ccc;
}
.slider-box figure {
  height: 150px;
  width: 100%;
  margin-bottom: 5px;
}
.slider-box figure img {
  width: 100%;
  max-height: 150px;
}
.slider-box .service_heading h6 {
  margin: 0px 0px 3px;
  color: #000;
}
.slider-box .service_text p {
  padding: 0px;
  color: #000;
  font-size: 14px;
}

@media only screen and (max-width: 1180px) {
  .slider-section {
    padding: 30px 0px;
  }
}
@media only screen and (max-width: 767px) {
  .slider-section {
    padding: 0px 0px;
  }
  .slider-box figure {
    height: 100px;
    width: 100%;
    margin-bottom: 0px;
  }
  .slider-box figure img {
    width: 100%;
    max-height: 100px;
  }
  .slider-box .service_heading h6 {
    font-size: 14px;
  }
  .slider-box .service_text p {
    font-size: 12px;
  }
}
.top-entry-area-section {
  padding: 30px 0px;
}
.top-entry-area-section .item {
  padding-right: 30px;
  text-align: center;
}
.top-entry-area-section .item i {
  display: inline-block;
  font-size: 40px;
  margin-bottom: 40px;
  color: #1ebeb6;
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.top-entry-area-section .item i::after {
  position: absolute;
  left: -10px;
  top: -10px;
  content: "";
  height: 120px;
  width: 120px;
  background-image: url("../../../assets/images/board.svg");
  background-size: contain;
  z-index: -2;
  background-position: center;
  background-repeat: no-repeat;
}
.top-entry-area-section .item .fa-ambulance:before {
  content: "\f0f9";
}
.top-entry-area-section .item .fa-ribbon:before {
  content: "\f4d6";
}
.top-entry-area-section .item h4 {
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 25px;
}
.top-entry-area-section .item ul li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px dashed #cccccc;
  margin-top: 10px;
  padding-top: 15px;
}
.top-entry-area-section .item ul li p {
  margin: 0;
  font-weight: 600;
}
.top-entry-area-section .thumb {
  position: relative;
  z-index: 1;
}
.top-entry-area-section .thumb img {
  width: 100%;
}
.top-entry-area-section .thumb::before {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 350px;
  width: 350px;
  background: #1ebeb6;
  z-index: -1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.1;
}
.top-entry-area-section .thumb::after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 300px;
  width: 300px;
  background: #1ebeb6;
  z-index: -1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

@media only screen and (max-width: 1180px) {
  .t-display {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .top-entry-area-section .item {
    padding-right: 0px;
    margin-top: 15px;
  }
  .top-entry-area-section .item h4 {
    margin-bottom: 5px;
  }
  .top-entry-area-section .item i {
    margin-bottom: 15px;
  }
  .top-entry-area-section .item ul {
    padding: 0px;
  }
  .top-entry-area-section .item ul li {
    display: block;
  }
}
.true-healthcare-section {
  background-color: #3851a3;
  padding: 40px 0px;
}
.true-healthcare-section .healthcare {
  color: #fff;
  position: relative;
  padding-left: 30%;
}
.true-healthcare-section .healthcare::before {
  position: absolute;
  left: 10px;
  top: -15px;
  content: "";
  height: 120px;
  width: 150px;
  background-image: url("../../../assets/images/icon/health-aside.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1180px) {
  .true-healthcare-section {
    padding: 15px 0px;
  }
  .true-healthcare-section .healthcare {
    padding-left: 0%;
  }
  .true-healthcare-section .healthcare::before {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .true-healthcare-section {
    padding: 15px 0px;
    text-align: center;
  }
  .true-healthcare-section .healthcare {
    padding-left: 0%;
  }
  .true-healthcare-section .healthcare::before {
    display: none;
  }
}/*# sourceMappingURL=home.component.css.map */