// common service box
.service-box{ width: 100%; height: 150px; margin-top: 40px; padding:15px;box-shadow: 0px 0px 5px #aba4a4;
    border-radius: 10px; transition: 0.5s;
    span {width:auto; height: 60px; padding: 6px; border-radius: 5px; 
        transition: 1s; display: block; text-align: center;}
    span img{width:60px; margin-top: -7px;}
    h6{font-size: 14px; margin: 5px 0px 2px;}
    p{font-size: 14px; margin-bottom: 0px;
        a{font-weight:500; font-size: 11px;
            img{float: right; padding: 5px; width: 18px; border-radius: 50%; margin-top: 3px;}
        }
    }
    // &:hover span{margin-left: 84%;}     
}
.service-box:hover{background-color: rgb(231, 229, 229);}

@media only screen and (max-width: 1180px){
    .m-col{ width: 33%; flex: none;padding: 5px;
        .service-box{margin-top: 10px;}
    }
}
@media only screen and (max-width: 767px){
    .m-col{ width: 33%; flex: none;padding: 5px;
        .service-box{height: 100px; margin-top: 10px; padding: 10px; box-shadow: 0px 0px 3px #aba4a4;
            border-radius: 3px;
            span {height: 32px; padding: 2px 4px; border-radius: 3px;}
            span img{width:32px;}
            h6{font-size: 9px; margin: 5px 0px 2px;}
            p{font-size: 12px;
                a{font-size: 9px;
                    img{padding: 3px; width: 15px;}
                }
            }            
        }
    }
}

// welcome section
.welcome-section{padding: 80px 0px 20px;
    p{margin: 0px; text-align: justify;}
    h2{margin-bottom: 30px;}
    a{margin-top: 20px;}
    .welcome-img img{width: 100%; height: 135px; margin-bottom: 15px;}
}
@media only screen and (max-width: 1180px){
    .welcome-section{padding: 50px 0px 20px;}
}
@media only screen and (max-width: 767px){
    .welcome-section{padding: 25px 0px 20px;
        h2{margin-bottom: 15px;}
        p{font-size: 14px;}
        a{margin-top: 20px; font-size: 12px;}
        .welcome-img { margin-top: 10px;
            img{width: 100%; height: 110px; margin-bottom: 15px;}
        }
    }
}

// How does it work

.consult-top-doctors{border: 2px solid #f4eeff;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    padding: 20px;
    h2{font-size: 26px; color: #2297be;}
    .section-header-icons{width: 70%;
        .icon-wrap{
            margin-bottom: 12px;
            display: flex;
            .icon{width: 24px;
                height: 24px;
                margin-right: 12px;
                text-align: center;
                i {
                    font-size: 24px;
                    line-height: 1;
                    color: #2297BE;
                }
                p{font-size: 14px;
                    line-height: 1.5;
                    font-weight: 500;
                    color: var(--text-color-1);
                    flex: 1;
                    font-weight: 500;
                }
            }
        }
    }
    .doct-img{
        img{width: 200px;}
    }
}

.how-it-works{
    margin-bottom: 24px;
    color: #6d8298;
    padding: 15px;    
    .icon-wrap{
        display: flex;
        .icon {
            width: 32px;
            height: 32px;
            margin-right: 10px;
            i{font-size: 18px; color: #2297be;}
        }
        p{font-size: 14px;}
    }
    .icon-wrap:not(:last-child) 
    {
        padding-bottom: 15px;
        position: relative;
    }
    .icon-wrap:not(:last-child)::after {
        content: "";
        border-left: 1px dashed #c6d6e6;
        width: 0;
        height: 15px;
        position: absolute;
        bottom: 7px;
        left: 6px;
    }
}

@media only screen and (max-width: 1180px){
    
}
@media only screen and (max-width: 767px){
    .consult-top-doctors{
        border-radius: 20px;
        display: block;
        padding: 20px;
        h2{font-size: 20px;}
        .section-header-icons{width: 100%;}        
        .doct-img{ display: none;
            img{width: 200px;}
        }
    }
     
}
// slider section
.slider-section{padding: 60px 0px}
.slider-box{border: 1px solid #ccc; max-width: 100%; margin: 5px; 
    padding: 8px; box-shadow: 0px 0px 3px #ccc;
    figure{ height: 150px; width: 100%; margin-bottom: 5px;
        img{width: 100%; max-height: 150px;}
    }
    .service_heading{
        h6{margin: 0px 0px 3px; color: #000;}
    }
    .service_text{
        p{padding: 0px; color: #000; font-size: 14px;}
    }
}

@media only screen and (max-width: 1180px){
    .slider-section{padding: 30px 0px}
}
@media only screen and (max-width: 767px){
    .slider-section{padding: 0px 0px}
    .slider-box{
        figure{ height: 100px; width: 100%; margin-bottom: 0px;
            img{width: 100%; max-height: 100px;}
        }
        .service_heading{
            h6{font-size: 14px;}
        }
        .service_text{
            p{font-size: 12px;}
        }
    }
}

// .top-entry-area-section{}
.top-entry-area-section{padding: 30px 0px;
    .item {padding-right: 30px; text-align: center;
        i{
            display: inline-block;
            font-size: 40px;
            margin-bottom: 40px;
            color: #1ebeb6;
            height: 100px;
            width: 100px;
            line-height: 100px;
            border-radius: 50%;
            position: relative;
            z-index: 1;
        }
        i::after{
            position: absolute;
            left: -10px;
            top: -10px;
            content: "";
            height: 120px;
            width: 120px; 
            background-image: url("../../../assets/images/board.svg");
            background-size: contain;
            z-index: -2;
            background-position: center;
            background-repeat: no-repeat;
        }
        .fa-ambulance:before { content: "\f0f9"; }
        .fa-ribbon:before { content: "\f4d6"; }
        h4 {
            text-transform: capitalize;
            font-weight: 600;
            margin-bottom: 25px;
        }
        ul{ 
            li {
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-top: 1px dashed #cccccc;
            margin-top: 10px;
            padding-top: 15px;
                p {
                    margin: 0;
                    font-weight: 600;
                }
            }
        }
    }

    .thumb{position: relative;z-index: 1;
        img{
            width: 100%;
        }
    }
    .thumb::before {
        position: absolute;
        left: 50%;
        top: 50%;
        content: "";
        height: 350px;
        width: 350px;
        background: #1ebeb6;
        z-index: -1;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        opacity: 0.1;
    }
    .thumb::after {
        position: absolute;
        left: 50%;
        top: 50%;
        content: "";
        height: 300px;
        width: 300px;
        background: #1ebeb6;
        z-index: -1;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }
}
@media only screen and (max-width: 1180px){
    .t-display{display: none;}
}
@media only screen and (max-width: 767px){
    .top-entry-area-section{
        .item {padding-right: 0px; margin-top: 15px;
            h4 {margin-bottom: 5px;}
            i{
                margin-bottom: 15px;
            }
            ul{padding: 0px;
                li{
                    display: block;
                }
            } 
        }       
    }
}
// true-healthcare-section
.true-healthcare-section{background-color: #3851a3; padding: 40px 0px;
    .healthcare{color: #fff; position: relative; padding-left: 30%;}
    .healthcare::before{
        position: absolute;
        left: 10px;
        top: -15px;
        content: "";
        height: 120px;
        width: 150px;
        background-image: url("../../../assets/images/icon/health-aside.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat
        
    }
}

@media only screen and (max-width: 1180px){
    .true-healthcare-section{padding: 15px 0px;
        .healthcare{padding-left: 0%;}
        .healthcare::before{display: none;}
    }
}
@media only screen and (max-width: 767px){
    .true-healthcare-section{padding: 15px 0px; text-align: center;
        .healthcare{padding-left: 0%;}
        .healthcare::before{display: none;}
    }
}