<app-header></app-header>
<app-navigation></app-navigation>
<app-slider></app-slider>
<section>
  <div class="container">
    <div class="row gx-3 gy-1">
      <div class="col m-col">
        <div class="service-box">
          <a class="text-dark" [routerLink]="['/video-consult']">
            <figure>
              <img [src]="['./assets/images/icon/consult-dr.webp']" alt="" />
            </figure>
            <h6>Consult <span>Online</span>  </h6>
          </a>
        </div>
      </div>
      <div class="col m-col">
        <div class="service-box">
          <a class="text-dark" [routerLink]="['/doctor-list']">
            <figure>
              <img [src]="['./assets/images/icon/book-appointment-new2.png']" alt="" />
            </figure>
            <h6>Book <span>Appointment</span> </h6>
          </a>
        </div>
      </div>
      <div class="col m-col">
        <div class="service-box">
          <a class="text-dark" [routerLink]="['/pharmacy']">
            <figure>
              <img [src]="['./assets/images/icon/treatment.png']" alt="" />
            </figure>
            <h6>Buy <span>Medicines</span> </h6>
          </a>
        </div>
      </div>
      <div class="col m-col">
        <div class="service-box">
          <a class="text-dark" [routerLink]="['/lab']">
            <figure>
              <img [src]="['./assets/images/icon/science-book-new.png']" alt="" />
            </figure>
            <h6>Book <span>Lab Test</span> </h6>
          </a>
        </div>
      </div>
      <div class="col m-col">
        <div class="service-box">
          <a class="text-dark" [routerLink]="['/doctor']">
            <figure>
              <img [src]="['./assets/images/icon/list-items.png']" alt="" />
            </figure>
            <h6>Buy <span>Package</span> </h6>
          </a>
        </div>
      </div>
      <div class="col m-col">
        <div class="service-box">
          <a class="text-dark" [routerLink]="['/home-nursing']">
            <figure>
              <img [src]="['./assets/images/icon/nursing-home.png']" alt="" />
            </figure>
            <h6>Nursing Care<span>  at Home</span>  </h6>
          </a>
        </div>
      </div>
      <div class="col m-col">
        <div class="service-box">
          <a class="text-dark" [routerLink]="['/ambulance']">
            <figure>
              <img [src]="['./assets/images/icon/ambulance2.png']" alt="" />
            </figure>
            <h6>Book <span>Ambulance</span> </h6>
          </a>
        </div>
      </div>
      <div class="col m-col">
        <div class="service-box">
          <a class="text-dark" [routerLink]="['/equipment/medical-equipment']">
            <figure>
              <img [src]="['./assets/images/icon/defribillator.png']" alt="" />
            </figure>
            <h6>Sale & Rent <span>Healthcare Device</span> </h6>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mt-sm-5 mt-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-12">
        <div class="consult-top-doctors">            
            <div class="section-header-icons">
                <h2>Consult top Doctors online</h2>
                <div class="icon-wrap">
                    <div class="icon">
                      <i class="far fa-clock"></i>
                    </div>
                    <p>Start consultation in 60 seconds</p>
                </div>
                <div class="icon-wrap">
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <p>Free follow-up for the next 5 days</p>
                </div>
                <div class="icon-wrap">
                    <div class="icon">
                      <i class="far fa-hospital"></i>
                    </div>
                    <p>Doctors across 35+ specialties</p>
                </div>
                <a [routerLink]="['/doctor-list']" class="btn btn-primary float-end rounded-0">
                  <i class="fas fa-chevron-circle-right"></i>
                  Make Appointment / Consult Online
                </a> 
            </div>
            <div class="doct-img">
              <img [src]="['./assets/images/consult-doctor.jpg']" alt="" />
            </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-12">
        <div class="how-it-works">
          <h3> How does it work? </h3>
          <div class="icon-wrap">
              <div class="icon">
                <i class="fas fa-user-md"></i>
              </div>
              <p>Choose a symptom/ speciality</p>
          </div>
          <div class="icon-wrap">
              <div class="icon">
                <i class="fas fa-video"></i>
              </div>
              <p>Video consultation with a doctor</p>
          </div>
          <div class="icon-wrap">
              <div class="icon">
                <i class="fas fa-file-alt"></i>
              </div>
              <p>Get online prescription</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="welcome-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6 col-12">
        <p>Since 1990-2022, New Delhi India</p>
        <h2 class="heading">
          <span>Welcome</span> to <span class="text-info">Our Medical</span>
        </h2>
        <p>
          Delightful unreserved impossible few estimating men favourable see
          entreaties. She propriety immediate was improving. He or entrance
          humoured likewise moderate. Much nor game son say feel. On am in
          nearer square wanted.
        </p>
        <p>
          Delightful unreserved impossible few estimating men favourable see
          entreaties. She propriety immediate was improving. He or entrance
          humoured likewise moderate. Much nor game son say feel. On am in
          nearer square wanted.
        </p>
        <a [routerLink]="['/doctor-list']" class="btn btn-success rounded-0">
          <i class="fas fa-chevron-circle-right"></i>
          Make Appointment
        </a>        
      </div>
      <div class="col-md-5 col-sm-6 col-12">
        <div class="row welcome-img">
          <div class="col-md-6 col-sm-6 col-6">
            <img class="" [src]="['./assets/images/welcome-1.jpg']" alt="" />
          </div>
          <div class="col-md-6 col-sm-6 col-6">
            <img class="" [src]="['./assets/images/welcome-2.jpg']" alt="" />
          </div>
          <div class="col-md-6 col-sm-6 col-6">
            <img class="" [src]="['./assets/images/welcome-3.jpg']" alt="" />
          </div>
          <div class="col-md-6 col-sm-6 col-6">
            <img class="" [src]="['./assets/images/welcome-4.jpg']" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="slider-section my-5 py-sm-4 py-3" style="background-color: #ecf5fe;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-12">
        <h3 class="heading mb-1 fs-3">
          Get Medicine at Your Doorsteps
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsum dolorum perspiciatis nulla inventore tempora numquam rem incidunt beatae officia! Doloremque, pariatur error cum facere quasi atque commodi voluptates minus?</p>
        <ul class="tick">
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum excepturi 
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum excepturi 
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum excepturi 
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum excepturi 
            </li>
        </ul>
        <p class="mt-2">
          <a [routerLink]="['/pharmacy']" class="btn btn-primary float-start rounded-pill">            
            Buy Medicine / Heath Product
            <i class="fas fa-chevron-circle-right"></i>
          </a> 
        </p>
      </div>
      <div class="col-md-4 col-sm-4 col-12">
          <figure class="text-center">
            <img [src]="['./assets/images/get-medicine-at-doorstep.jpg']" class="w-75" alt="" />
          </figure>
        </div>
    </div>
  </div>
</section>

<section class="slider-section mt-5 py-sm-4 py-3 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-12 order-1">
        <h3 class="heading mb-1 fs-3">
          Book Lab Test From Comfort of your Home
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsum dolorum perspiciatis nulla inventore tempora numquam rem incidunt beatae officia! Doloremque, pariatur error cum facere quasi atque commodi voluptates minus?</p>
        <ul class="tick">
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum excepturi 
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum excepturi 
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum excepturi 
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum excepturi 
            </li>
        </ul>
        <p class="mt-2">
          <a [routerLink]="['/lab']" class="btn btn-primary float-start rounded-pill">            
            Book Lab Test
            <i class="fas fa-chevron-circle-right"></i>
          </a> 
        </p>
      </div>
      <div class="col-md-4 col-sm-4 col-12">
          <figure class="text-center">
            <img [src]="['./assets/images/lab-test-at-home.png']" class="w-100 img-thumbnail" alt="" />
          </figure>
        </div>
    </div>
  </div>
</section>

<app-blog [blogList]="blogList"></app-blog>
<!-- <section class="top-entry-area-section">
  <div class="container">
    <div class="row align-center">
      <div class="col single-item">
        <div class="item">
          <i class="fas fa-ambulance"></i>
          <h4>Emergency Case</h4>
          <p>
            Few preferred continual sir led incommode neglected. Discovered too
            old insensible collecting unpleasant.
          </p>
          <ul>
            <li>
              <span>Phone</span>
              <p>+91 999-940-7104</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col single-item d-display t-display">
        <div class="thumb">
          <img [src]="['./assets/images/doct.png']" alt="doctor" />
        </div>
      </div>
      <div class="col single-item">
        <div class="item">
          <i class="fas fa-ribbon"></i>
          <h4>Cancer Care</h4>
          <p>
            Few preferred continual sir led incommode neglected. Discovered too
            old insensible collecting unpleasant.
          </p>
          <ul>
            <li>
              <span>Phone</span>
              <p>+91 999-940-7104</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="true-healthcare-section">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-md-9 col-sm-12 col-12">
          <div class="healthcare">
            <h4>True Healthcare for Your family!</h4>
            <p>
              Few preferred continual sir led incommode neglected. Discovered
              too old insensible collecting unpleasant.
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 col-12">
          <a [routerLink]="['/doctor-list']" class="mt-3 py-3 px-4 btn btn-info rounded-pill text-white">
            Make Appointment
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section> -->

<app-download-app></app-download-app>
<app-footer></app-footer>