
<div class="common-record">
    <div class="bg-opacity-25 bg-secondary d-block overflow-auto p-2">
        <span class="btn btn-success text-white rounded-0 float-end">
            Upload records
        </span>
    </div>
    <div class="d-block p-2">
        <strong class="text-gray rounded-0">
            2022
        </strong>
    </div>

    <div class="bg-opacity-10 card bg-secondary d-block p-2 mt-2 rounded-0">
        <a href="javascript:void(0)" class="text-body">
            <div class="row">
                <div class="col-12 col-sm-1 col-md-1">
                    <div class="text-center bg-primary bg-opacity-50 rounded-3">
                        <div class="date">12</div>
                        <div class="month">OCT</div>
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-md-8">
                    <div class="card-title">
                        <strong>Visited Dentist for Extraction</strong>                        
                    </div>
                    <div class="card-title">
                        <div>Records for Ram Kumar</div>
                        <div>Dr. Dr.Abhishek Shokeen, Dentist</div>
                    </div>
                </div>
                <div class="col-12 col-sm-2 col-md-2 text-small pt-4">
                    1 Treatment Plan
                </div>
                <div class="col-12 col-sm-1 col-md-1 text-center pt-4 text-black-50">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="bg-opacity-10 card bg-secondary d-block p-2 mt-2 rounded-0">
        <a href="javascript:void(0)" class="text-body">
            <div class="row">
                <div class="col-12 col-sm-1 col-md-1">
                    <div class="text-center bg-primary bg-opacity-50 rounded-3">
                        <div class="date">11</div>
                        <div class="month">OCT</div>
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-md-8">
                    <div class="card-title">
                        <strong>Visited Dentist for Extraction</strong>                        
                    </div>
                    <div class="card-title">
                        <div>Records for Ram Kumar</div>
                        <div>Dr. Dr.Abhishek Shokeen, Dentist</div>
                    </div>
                </div>
                <div class="col-12 col-sm-2 col-md-2 text-small pt-4">
                    1 Bill
                </div>
                <div class="col-12 col-sm-1 col-md-1 text-center pt-4 text-black-50">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="common-record" style="display: none;">
    <div class="bg-opacity-25 card d-block p-2 rounded-0">
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1 pt-4 text-center">
                <i class="fas fa-arrow-left"></i>
            </div>                
            <div class="col-12 col-sm-10 col-md-10">
                <div class="card-title">
                    <div>12 OCT 2021</div>
                    <strong>Visited Dentist for Extraction</strong>
                    <div>Dr.Abhishek Shokeen, Dentist</div> 
                </div>
            </div>
            <div class="col-12 col-sm-1 col-md-1 text-center pt-4 text-black-50">
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
    </div>

    <div class="bg-opacity-10 card d-block p-2 mt-2 rounded-0">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-8">
                <div class="card-title">
                    <div>Dr.Abhishek Shokeen, Dentist</div>
                    <strong>Visited Dentist for Extraction</strong>                        
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 text-end pt-2 text-black-50">
                <a href="javascript:void(0)" class="btn btn-sm btn-outline-primary rounded-0">
                    Book Again
                </a>
            </div>
        </div>
    </div>
    <div class="bg-opacity-10 card d-block p-2 mt-2 rounded-0">
        <div class="col-md-12 col-sm-12 col-12 p-1">
            <div class="row border-bottom pb-2">
                <div class="col-md-8 col-sm-8 col">
                    Treatment Plan by Dr. Dr.Abhishek Shokeen
                </div>
                <div class="col">
                    <a href="javascript:void(0)" class="text-small">View Original</a>
                </div>
                <div class="col">
                    <a href="javascript:void(0)" class="text-small">Download</a>
                </div>
                <div class="col-1 text-center pt-0 text-black-50">
                    <i class="fas fa-ellipsis-v"></i>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col">                    
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Treatment</td>
                                <td class="text-end">Estimated Cost</td>
                            </tr>
                            <tr>
                                <td>Extraction</td>
                                <td class="text-end">500</td>
                            </tr>
                            <tr>
                                <td>Grand Total</td>
                                <td class="text-end"><strong>500</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>