<div class="head">
  <div class="container">
    <header>
      <!-- <div id="sideNav" href="#" class="toggle">
                    <i class="fa fa-bars"></i> 
                </div> -->
      <div class="row">
        <div class="col-md-7 col-sm-7 col-6">
          <a class="logo" [routerLink]="['/home']">
            <img [src]="['./assets/images/logo.jpg']" alt="Logo" />
          </a>
        </div>
        <div class="col-md-5 col-sm-5 col-6">
          <ul>
            <li *ngIf="isLoggedIn">
              <span>
                {{ myInfo?.name }}
                <i class="fas fa-chevron-down"></i>
              </span>
            </li>
            <li *ngIf="isLoggedIn">
              <span (click)="openVerticallyCentered(logoutModel)" style="cursor: pointer">Logout
                <i class="fas fa-sign-out"></i>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </div>
</div>

<div class="bg-dark bg-opacity-10 px-3">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-12 my-2">
      <div class="patient-name bg-success bg-opacity-75 p-3">
        <img [src]="['./assets/images/doctor-demo.png']" alt="" />
        <span>{{ myInfo?.name }}</span>
      </div>
    </div>
    <div class="col-md-12">
      <app-listingstatus [service_id]="serviceId"></app-listingstatus>
    </div>
    <div class="col-md-3 col-sm-">
      <aside>
        <nav>
          <ul>
            <li>
              <a href="javascript:void(0)" (click)="changePage('setup-profile')">
                <span><i class="fas fa-user"></i></span>Setup Profile
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changePage('doctor-list')">
                <span><i class="fas fa-tasks"></i></span>Doctors List
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changePage('treatments')">
                <span><i class="fas fa-plus-square"></i></span>Treatment packages
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changePage('treatment-request')">
                <span><i class="fas fa-medkit" aria-hidden="true"></i></span>Treatment Package Requests
              </a>
            </li>
            <!-- <li>
              <a href="javascript:void(0)" (click)="changePage('blog-list')">
                <span><i class="fas fa-rss-square"></i></span>Blog List
              </a>
            </li> -->
            <!-- <li>
              <a href="javascript:void(0)" (click)="changePage('payment-history')">
                <span><i class="far fa-credit-card"></i></span>Payments
              </a>
            </li> -->
          </ul>
        </nav>
      </aside>
    </div>
    <div class="col-md-9 col-sm-9 col-12">
      <app-hospital-doc-list *ngIf="page == 'doctor-list'"></app-hospital-doc-list>
      <app-hospital-setup-profile *ngIf="page == 'setup-profile'"></app-hospital-setup-profile>
      <app-dashboard-blog *ngIf="page == 'blog-list'"></app-dashboard-blog>
      <app-doc-treatment-request *ngIf="page == 'treatment-request'"></app-doc-treatment-request>
      <app-dashboard-treatment [pageFrom]="'hospital'" *ngIf="page == 'treatments'"></app-dashboard-treatment>
    </div>
  </div>
</div>

<ng-template #logoutModel let-modal>
  <div class="modal-body" style="padding-top: 30px">
    <p class="text-center">Are you sure you want to logout?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-light" ngbAutofocus (click)="modal.close('Close click')">
      Cancel
    </button>
    <button type="button" class="btn btn-sm btn-danger" (click)="logout()">
      Logout
    </button>
  </div>
</ng-template>