<section class="mdiv pt-4 pb-4">
    <div class="container">
        <div class="row minside m0">
            <div class="col-md-3 br-gray">
                <div [class]="'row '+ (activeApn?.id == a?.id ? 'dr-box-active': 'dr-box')" (click)="selectApn(a)"
                    *ngFor="let a of apnList">
                    <div class="col-md-4">
                        <img [src]="
                        (a?.doctor_image != '' ? a?.doctor_image : 'dummy.png')
                          | concatBase: 'doctor_image/'
                      " class="doc-img" />
                    </div>
                    <div class="col-md-8 d-flex">
                        <div>
                            <label>{{ a?.m_type == 'User' ? a?.doc_name : a?.name }}</label>
                            <p><small>Appointment ID : #{{a?.id}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9" style="position: relative;">
                <ng-container *ngIf="activeApn?.length != 0 && (activeApn?.report_status == '' || activeApn?.report_status == null)">
                    <div class="row p-4 dr-title">
                        <div class="col-md-6">
                            {{activeApn?.m_type == 'User' ? activeApn?.doc_name :  activeApn?.name }}
                        </div>
                        <div class="col-md-6 text-right">
                            Appointment ID : #{{activeApn?.id}} 
                            <i class="fa fa-info-circle f-right c-pointer" aria-hidden="true" (click)="reportModelAction(reportModal)">Report</i> 
                        </div>
                        <div class="col-md-12 btn-insbx">

                            <button [class]="'mr-2 btn '+(vPage == 'chat' ? 'btn-primary' : 'btn-secondary')"
                                (click)="pagechange('chat')"> Chat
                            </button>
                            <button class="btn btn-primary f-right" (click)="startVideo()"
                            *ngIf="this.myInfo.type == 'Doctor'"> Audio/Video Call <i class="fas fa-video"
                                aria-hidden="true"></i></button>
                            <button (click)="viewMember(memberFModel)" style="cursor: pointer;"
                                [class]="'mr-2 btn '+(vPage == 'mi' ? 'btn-primary' : 'btn-secondary')">View Patient
                                Info</button>
                           
                            <button [class]="'mr-2 btn '+(vPage == 'prh' ? 'btn-primary' : 'btn-secondary')"
                                (click)="pagechange('prh')"> My Prescription 
                            </button>
                            <br>
                            <div>
                                <button *ngIf="activeApn?.m_type == 'Doctor'" [class]="'mr-2 btn '+(vPage == 'pr' ? 'btn-primary' : 'btn-secondary')"
                                (click)="pagechange('pr')"> Dr prescription form
                                </button>
                                <button *ngIf="activeApn?.m_type == 'Doctor'" [class]="'mr-2 btn '+(vPage == 'pr' ? 'btn-primary' : 'btn-secondary')"
                                    (click)="pagechange('pru')"> Upload prescription
                                </button>
                            </div>
                            
                            <div class="col-md-12" *ngIf="activeApn?.m_type == 'User' && activeApn?.type == 'Online'">
                                <small>Note: You can ask doctor to start audio/video call here</small>
                            </div>
                        </div>
                    </div>
                    <div class="chat-box" id="chat-box" *ngIf="vPage == 'pru'">
                        <h3 class="text-center">Upload prescription
                        </h3>
                        <div class="row pl-3 pr-3">
                            <label class="mt-2">Select file </label>
                            <input class="form-control mb13" (change)="onFileChange($event, 'prescription_reports')" type="file" />

                            <div class="col-md-12 mt-2">
                                <button (click)="submitPrsForm()" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="chat-box" id="chat-box" *ngIf="vPage == 'pr'">
                        <h3 class="text-center">Details
                        </h3>
                        <div class="row">
                            <form [formGroup]="cForm" novalidate>
                                <ckeditor [editor]="editor" formControlName="relevent_point_from_history" [config]="{
                                    placeholder: 'Enter relevent points from history and examination...',
                                    ckfinder: {
                                      options: {
                                        resourceType: 'Images'
                                      },
                                      openerMethod: 'popup',
                                      uploadUrl: BACK_END_MAPPING_URL_FOR_SAVE_IMG
                                    }
                                  }"></ckeditor>
                                <ckeditor [editor]="editor" formControlName="provisional_diagnosis" [config]="{
                                    placeholder: 'PROVISIONAL DIAGNOSIS OR DIAGNOSIS...',
                                    ckfinder: {
                                      options: {
                                        resourceType: 'Images'
                                      },
                                      openerMethod: 'popup',
                                      uploadUrl: BACK_END_MAPPING_URL_FOR_SAVE_IMG
                                    }
                                  }"></ckeditor>

                                <mat-form-field class="example-chip-list" appearance="fill">
                                    <mat-label>INVESTIGATION SUGGESTED (Please type and press enter)</mat-label>
                                    <mat-chip-list #chipListQ aria-label="INVESTIGATION SUGGESTED">
                                        <mat-chip *ngFor="let sInfo of selectedInves; let i = index"
                                            (removed)="remove(sInfo,'investigation')">
                                            {{ sInfo?.title }}
                                            <button matChipRemove>
                                                <mat-icon>cancel</mat-icon>
                                            </button>
                                        </mat-chip>
                                        <input placeholder="Enter details..." #invsInput [formControl]="invsCtrl"
                                            [matAutocomplete]="autoQ" [matChipInputFor]="chipListQ"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            (matChipInputTokenEnd)="add($event,'investigation')">
                                    </mat-chip-list>
                                    <mat-autocomplete #autoQ="matAutocomplete"
                                        (optionSelected)="selected($event,'investigation')">
                                        <mat-option *ngFor="let s of filteredInves | async" [value]="s">
                                            {{ s?.title }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                                <ckeditor [editor]="editor" formControlName="treatment_suggested" [config]="{
                                    placeholder: 'TREATMENT SUGGESTED...',
                                    ckfinder: {
                                      options: {
                                        resourceType: 'Images'
                                      },
                                      openerMethod: 'popup',
                                      uploadUrl: BACK_END_MAPPING_URL_FOR_SAVE_IMG
                                    }
                                  }"></ckeditor>
                                <ckeditor [editor]="editor" formControlName="special_instruction" [config]="{
                                    placeholder: 'SPECIAL INSTRUCTIONS OR PRECAUTIONS ADVISED IF ANY...',
                                    ckfinder: {
                                      options: {
                                        resourceType: 'Images'
                                      },
                                      openerMethod: 'popup',
                                      uploadUrl: BACK_END_MAPPING_URL_FOR_SAVE_IMG
                                    }
                                  }"></ckeditor>

                                <mat-form-field appearance="fill">
                                    <mat-label>FOLLOW UP ADVISED (After no. of days)</mat-label>
                                    <input matInput type="number" min="1" formControlName="followup_advice"
                                        style="border: none; padding: 0px" />
                                </mat-form-field>

                                <div class="row">
                                    <div class="card">
                                        <div class="card-head pt-3">MEDICINES ADVISED
                                            
                                        </div>
                                        <div class="card-body">
                                            <div class="col-md-12 p-2 shadow mb-2"
                                                *ngFor="let mGroup of cForm.get('medical_advice').controls;let i = index"
                                                [formGroup]="mGroup">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Name</mat-label>
                                                            <input matInput type="text" (keyup)="changeName($event,i)" formControlName="name"
                                                                style="border: none; padding: 0px" />
                                                        </mat-form-field>
                                                       <div style="height:125px" *ngIf="searchProduct[i]?.length > 0">
                                                        <div (click)="updateProduct(p,i)" *ngFor="let p of searchProduct[i]" class="pd-lst">
                                                            {{p.title}}
                                                        </div>
                                                       </div>
                                                    </div>
                                                    
                                                    <div class="col-md-3">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Select Formulation</mat-label>
                                                            <mat-select matInput formControlName="formulation">
                                                              <mat-option [value]="c?.id" *ngFor="let c of fmList">
                                                                {{ c?.title }}
                                                              </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                  
                                                    <div class="col-md-3">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Strength</mat-label>
                                                            <input matInput type="text" formControlName="strength"
                                                                style="border: none; padding: 0px" />
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Route of administration</mat-label>
                                                            <input matInput type="text"
                                                                formControlName="route_of_administration"
                                                                style="border: none; padding: 0px" />
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Frequncy</mat-label>
                                                            <input matInput type="text" formControlName="frequncy"
                                                                style="border: none; padding: 0px" />
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Duration</mat-label>
                                                            <input matInput type="text" formControlName="duration"
                                                                style="border: none; padding: 0px" />
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Special instruction</mat-label>
                                                            <input matInput type="text"
                                                                formControlName="special_instruction"
                                                                style="border: none; padding: 0px" />
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <button class="btn btn-danger"
                                                            (click)="deleteMG(i)">Remove</button>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-12 text-right">
                                                <button class="btn btn-success f-right" (click)="addNewMG()">Add
                                                    More</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <button (click)="submitApnComment()" class="btn btn-primary">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="chat-box" id="chat-box" *ngIf="vPage == 'prh'">
                        <h3 class="text-center">Prescription
                        </h3>
                        <div class="row">
                            <table class="table table-striped" *ngIf="fvpage == 'list'">
                                <thead>
                                    <th>S.no</th>
                                    <th>Date</th>
                                    <th>View</th>
                                </thead>
                                <tbody>
                                    <tr *ngIf="cmtList.length == 0">
                                        <td colspan="3">No data found</td>
                                    </tr>
                                    <tr *ngFor="let d of cmtList; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{d.created_at | date:'medium'}}</td>
                                        <td>
                                            <button class="btn btn-success" (click)="viewP(d)">View</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="fvpage == 'view'">
                                <div class="col-md-12 pb-3">
                                    <button class="btn f-right" printSectionId="section"
                                        styleSheetFile="../../../../styles.css" ngxPrint>Print</button>
                                    <button class="btn f-right" (click)="fvpage = 'list'">Go back</button>
                                </div>
                                <div id="section" *ngIf="!fv.treatment_suggested" class="text-center">
                                    <a href="{{fv.prescription_reports  | concatBase: 'uploads/'}}" id="vpr" target="_blank">
                                        <button class="btn btn-success">View File</button>
                                    </a>
                                    
                                </div>
                                <div id="section" *ngIf="fv.treatment_suggested">
                                    <img [src]="docInfo?.letterhead" alt="" style="width:100%" />
                                    <div class="col-md-12 mt-2">
                                        <hr>
                                        Name : {{activeApn.name}} <br>
                                        Gender : {{activeApn.gender}} <br>
                                        Age : {{calculateAge(activeApn.dob)}} <br>
                                        DOB : {{activeApn.dob}} <br>
                                        Marital status : {{activeApn.marital_status}} <br>
                                    </div>
                                   
                                    <div class="col-md-12">
                                        <table class="table striped">
                                            <tbody>
                                                <tr>
                                                    <td>Relevent point from history</td>
                                                    <td [innerHtml]="fv.relevent_point_from_history"></td>
                                                </tr>
                                                <tr>
                                                    <td>Provisional diagnosis</td>
                                                    <td [innerHtml]="fv.provisional_diagnosis"></td>
                                                </tr>
                                                <tr>
                                                    <td>Investigation suggested</td>
                                                    <td [innerHtml]="fv.investigation_suggested"></td>
                                                </tr>
                                                <tr>
                                                    <td>Treatment suggested</td>
                                                    <td [innerHtml]="fv.treatment_suggested"></td>
                                                </tr>
                                                <tr>
                                                    <td>Special instruction</td>
                                                    <td [innerHtml]="fv.special_instruction"></td>
                                                </tr>
                                                <tr *ngIf="fv.followup_advice != ''">
                                                    <td>Followup after</td>
                                                    <td>{{fv.followup_advice}} days</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12 mt-2">
                                        <table class="table table-striped">
                                            <thead>
                                                <th>S.no</th>
                                                <th>Formulation</th>
                                                <th>Name</th>
                                                <th>Strength</th>
                                                <th>Route of administration</th>
                                                <th>Frequncy</th>
                                                <th>Duration</th>
                                                <th>Special instruction</th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let d of medList; let i = index">
                                                    <td>{{i+1}}</td>
                                                    <td>{{d.formulation}}</td>
                                                    <td>{{d.name}}</td>
                                                    <td>{{d.strength}}</td>
                                                    <td>{{d.route_of_administration}}</td>
                                                    <td>{{d.frequncy}}</td>
                                                    <td>{{d.duration}}</td>
                                                    <td>{{d.special_instruction}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-3">
                                        <img [src]="docInfo?.signature" alt="" style="width:100%; max-width:200px" /> <br>
                                        Authorized Signatory
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ng-container *ngIf="vPage == 'chat'">
                        <div class="chat-box mb-5" id="chat-box">
                            <div class="d-block" *ngFor="let m of messageList">
                                <div
                                    [class]="(this.myInfo?.user_id == m.sender_id && this.myInfo?.type == m?.sender_type) ? 'd-reply' : 'd-receive'">
                                    <p
                                        [class]="(this.myInfo?.user_id == m.sender_id && this.myInfo?.type == m?.sender_type) ? 'text-right' : 'text-left'">
                                        <ng-container *ngIf="m?.msg_type == 'message'">{{m?.message}}</ng-container>
                                        <ng-container *ngIf="m?.msg_type == 'zoom'">
                                            <div class="card" (click)="openMeeting(m)"
                                                style="color:black; cursor:pointer">
                                                <div class="card-header"> <i class="fas fa-video"
                                                        aria-hidden="true"></i>
                                                    Click to start
                                                </div>
                                                <div class="card-body text-center"> Join Meeting</div>
                                            </div>
                                        </ng-container>
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="row reply-box">
                            <div class="d-flex" *ngIf="activeApn?.is_accepted != '2'">
                                <input type="text" class="form-control" placeholder="Enter message to send.."
                                    [(ngModel)]="message" (keyup.enter)="sendMessage()">
                                <button class="btn btn-send" (click)="sendMessage()">Send</button>
                            </div>
                            <div class="text-center" *ngIf="activeApn?.is_accepted == '2'">
                                <span class="badge badge-success">This appointment is completed</span>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="activeApn?.report_status !='' && activeApn?.report_status != null">
                    <div class="row p-4 dr-title">
                        <div class="col-md-12">
                            Appointment ID : #{{activeApn?.id}} is reported and under {{activeApn?.report_status}} status.
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>


<ng-template #reportModal let-modal>
    <div class="modal-body" style="padding-top: 30px">
        <h3 class="text-center">Report Now </h3>
        <p>Note: After reporting you can't communicate with each other</p>
        <div class="row">
            <div class="form-group">
                <textarea class="form-control" rows="6" placeholder="Enter your message" [(ngModel)]="reportMsg"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-success" (click)="submitReport()">Submit</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" ngbAutofocus (click)="modal.close('Close click')">
            Cancel
        </button>
    </div>
</ng-template>
<ng-template #memberFModel let-modal>
    <div class="modal-body" style="padding-top: 30px">
        <h3 class="text-center">Patient Details
            <button class="btn btn-secondary  f-right" *ngIf="!editInfo" (click)="editInfo = true">Edit</button>
            <button class="btn btn-secondary  f-right" *ngIf="editInfo" (click)="editInfo = false">Cancel</button>
        </h3>
        <table class="table table-striped" *ngIf="!editInfo">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{activeApn.name}}</td>
                </tr>
                <tr>
                    <td>DOB</td>
                    <td>{{activeApn.dob}} ({{calculateAge(activeApn.dob)}})</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{activeApn.gender}}</td>
                </tr>
                <tr *ngIf="activeApn.p_reports != ''">
                    <td>Previous treatment or consultation records</td>
                    <td><a href="{{activeApn.p_reports | concatBase: 'uploads/'}}" target="_blank">View File</a></td>
                </tr>
                <tr *ngIf="activeApn.id_proof != ''">
                    <td>Identity proof</td>
                    <td><a href="{{activeApn.id_proof | concatBase: 'uploads/'}}" target="_blank">View File</a></td>
                </tr>
                <tr *ngIf="activeApn.is_consent == 'true'">
                    <td>Is consent?</td>
                    <td>Yes</td>
                </tr>
                <ng-container *ngIf="activeApn.is_consent == 'Yes'">
                    <tr>
                        <td>Authorization/consent Proof</td>
                        <td><a href="{{activeApn.consent_with_proof | concatBase: 'uploads/'}}" target="_blank">View
                                File</a></td>
                    </tr>
                    <tr>
                        <td>Relationship to patient</td>
                        <td>{{activeApn.c_relationship}}</td>
                    </tr>
                    <tr>
                        <td>Relationship Proof</td>
                        <td><a href="{{activeApn.c_relationship_proof | concatBase: 'uploads/'}}" target="_blank">View
                                File</a></td>
                    </tr>
                </ng-container>
                <tr>
                    <td>Current complaints with their duration </td>
                    <td>{{activeApn.current_complaints_w_t_duration}}</td>
                </tr>
                <tr>
                    <td>Marital status</td>
                    <td>{{activeApn.marital_status}}</td>
                </tr>
                <tr>
                    <td>Religion</td>
                    <td>{{activeApn.religion}}</td>
                </tr>
                <tr>
                    <td>Occupation</td>
                    <td>{{activeApn.occupation}}</td>
                </tr>
                <tr>
                    <td>Dietary habits</td>
                    <td>{{activeApn.dietary_habits}}</td>
                </tr>
                <ng-container *ngIf="activeApn.gender == 'Female'">
                    <tr>
                        <td>Last menstrual period</td>
                        <td>{{activeApn.last_menstrual_period}}</td>
                    </tr>
                    <tr>
                        <td>Previous pregnancy, abortion, no of living children and their age and mode of delivery</td>
                        <td>{{activeApn.previous_pregnancy_abortion}}</td>
                    </tr>
                </ng-container>

                <tr>
                    <td>Vaccination in children</td>
                    <td>{{activeApn.vaccination_in_children}}</td>
                </tr>
                <tr>
                    <td>Residence</td>
                    <td>{{activeApn.residence}}</td>
                </tr>
                <tr>
                    <td>Height</td>
                    <td>{{activeApn.height}}</td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>{{activeApn.weight}}</td>
                </tr>
                <tr>
                    <td>Pulse</td>
                    <td>{{activeApn.pulse}}</td>
                </tr>
                <tr>
                    <td>Blood Pressure (BP)</td>
                    <td>{{activeApn.b_p}}</td>
                </tr>
                <tr>
                    <td>Body temprature</td>
                    <td>{{activeApn.temprature}}</td>
                </tr>
                <tr>
                    <td>Blood Suger (Fasting)</td>
                    <td>{{activeApn.blood_suger_fasting}}</td>
                </tr>
                <tr>
                    <td>Blood Suger (Random)</td>
                    <td>{{activeApn.blood_suger_random}}</td>
                </tr>
                <tr>
                    <td>History of diseases</td>
                    <td>{{activeApn.history_of_previous_diseases}}</td>
                </tr>
                <tr>
                    <td>History of allergies</td>
                    <td>{{activeApn.history_of_allergies}}</td>
                </tr>
                <tr>
                    <td>History of previous surgeries or procedures </td>
                    <td>{{activeApn.history_of_previous_surgeries_or_procedures}}</td>
                </tr>
                <tr>
                    <td>Significant family history </td>
                    <td>{{activeApn.significant_family_history}}</td>
                </tr>
                <tr>
                    <td>History of substance abuse </td>
                    <td>{{activeApn.history_of_substance_abuse}}</td>
                </tr>
            </tbody>
        </table>
        <form [formGroup]="fForm" novalidate *ngIf="editInfo">
            <mat-form-field appearance="fill">
                <mat-label>Patient name</mat-label>
                <input matInput [ngClass]="{
                  'is-invalid': b2 && f2.name.errors
                }" formControlName="name" required />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Date of birth</mat-label>
                <input matInput type="date" [ngClass]="{
                  'is-invalid': b2 && f2.dob.errors
                }" formControlName="dob" required />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Gender</mat-label>
                <mat-select matInput formControlName="gender" required>
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                    <mat-option value="Special">Special</mat-option>
                </mat-select>
            </mat-form-field>

            <label class="mt-2">Upload previous treatment or consultation records (If any) </label>
            <input class="form-control mb13" (change)="onFileChange($event, 'p_reports')" type="file" />
            <label class="mt-2">Upload identity proof (driving liscence/aadhar/passport/voter id/ rashan card.)
            </label>
            <input class="form-control mb13" (change)="onFileChange($event, 'id_proof')" type="file" />

            <mat-form-field appearance="fill">
                <mat-label>Is consent?</mat-label>
                <mat-select matInput formControlName="is_consent">
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                </mat-select>
            </mat-form-field>

            <ng-container *ngIf="f2.is_consent.value == 'Yes'">
                <label class="mt-2">Authorization/consent Proof</label>
                <input class="form-control mb13" (change)="onFileChange($event, 'consent_with_proof')" type="file" />
                <mat-form-field appearance="fill">
                    <mat-label>Relationship to patient </mat-label>
                    <input matInput [ngClass]="{
                'is-invalid': b2 && f2.c_relationship.errors
                }" formControlName="c_relationship" />
                </mat-form-field>
                <label class="mt-2">Relationship Proof</label>
                <input class="form-control mb13" (change)="onFileChange($event, 'c_relationship_proof')" type="file" />
            </ng-container>

            <mat-form-field appearance="fill">
                <mat-label>Current complaints with their duration </mat-label>
                <input matInput [ngClass]="{
                'is-invalid': b2 && f2.current_complaints_w_t_duration.errors
            }" formControlName="current_complaints_w_t_duration" />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Marital status</mat-label>
                <mat-select matInput formControlName="marital_status">
                    <mat-option value="Married">Married</mat-option>
                    <mat-option value="Unmarried">Unmarried</mat-option>
                    <mat-option value="Divorced">Divorced</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Religion</mat-label>
                <mat-select matInput formControlName="religion">
                    <mat-option value="Hindu">Hindu</mat-option>
                    <mat-option value="Muslim">Muslim</mat-option>
                    <mat-option value="Sikh">Sikh</mat-option>
                    <mat-option value="Buddhist">Buddhist</mat-option>
                    <mat-option value="Christian">Christian</mat-option>
                    <mat-option value="Jain">Jain</mat-option>
                    <mat-option value="Other">Other</mat-option>
                    <mat-option value="Atheist">Atheist</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Occupation</mat-label>
                <input matInput [ngClass]="{
                'is-invalid': b2 && f2.occupation.errors
            }" formControlName="occupation" />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Dietary habits</mat-label>
                <mat-select matInput formControlName="dietary_habits">
                    <mat-option value="Vegetarian">Vegetarian</mat-option>
                    <mat-option value="Nonvegetarian">Nonvegetarian</mat-option>
                    <mat-option value="Eggetarian">Eggetarian</mat-option>
                </mat-select>
            </mat-form-field>

            <ng-container *ngIf="f2.gender.value == 'Female'">
                <mat-form-field appearance="fill">
                    <mat-label>Last menstrual period</mat-label>
                    <input matInput [ngClass]="{
                'is-invalid': b2 && f2.last_menstrual_period.errors
                }" formControlName="last_menstrual_period" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Previous pregnancy, abortion, no of living children and their age and mode of
                        delivery<br>
                        <small>Note: Seperate with new line</small>
                    </mat-label>
                    <textarea matInput class="txtbx" [ngClass]="{
                'is-invalid': b2 && f2.previous_pregnancy_abortion.errors
                }" formControlName="previous_pregnancy_abortion"></textarea>
                </mat-form-field>
            </ng-container>
            <mat-form-field appearance="fill">
                <mat-label>Vaccination in children<br>
                    <!-- <small>Note: Seperate with new line</small> -->
                </mat-label>
                <textarea matInput class="txtbx" [ngClass]="{
                'is-invalid': b2 && f2.vaccination_in_children.errors
            }" formControlName="vaccination_in_children"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Residence</mat-label>
                <input matInput [ngClass]="{
                'is-invalid': b2 && f2.residence.errors
            }" formControlName="residence" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Height</mat-label>
                <input matInput [ngClass]="{
                'is-invalid': b2 && f2.height.errors
            }" formControlName="height" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Weight</mat-label>
                <input matInput [ngClass]="{
                'is-invalid': b2 && f2.weight.errors
            }" formControlName="weight" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Pulse</mat-label>
                <input matInput [ngClass]="{
                'is-invalid': b2 && f2.pulse.errors
            }" formControlName="pulse" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Blood Pressure (BP)</mat-label>
                <input matInput [ngClass]="{
                'is-invalid': b2 && f2.b_p.errors
            }" formControlName="b_p" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Body Temprature</mat-label>
                <input matInput [ngClass]="{
                'is-invalid': b2 && f2.temprature.errors
            }" formControlName="temprature" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Blood Suger (Fasting)</mat-label>
                <input matInput [ngClass]="{
                'is-invalid': b2 && f2.blood_suger_fasting.errors
            }" formControlName="blood_suger_fasting" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Blood Suger (Random)</mat-label>
                <input matInput [ngClass]="{
                'is-invalid': b2 && f2.blood_suger_random.errors
            }" formControlName="blood_suger_random" />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>History of diseases <br>
                    <!-- <small>Note: Seperate with new line</small> -->
                </mat-label>
                <textarea matInput class="txtbx" [ngClass]="{
                'is-invalid': b2 && f2.history_of_previous_diseases.errors
            }" formControlName="history_of_previous_diseases"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>History of allergies <br>
                    <!-- <small>Note: Seperate with new line</small> -->
                </mat-label>
                <textarea matInput class="txtbx" [ngClass]="{
                'is-invalid': b2 && f2.history_of_allergies.errors
            }" formControlName="history_of_allergies"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>History of previous surgeries or procedures <br>
                    <!-- <small>Note: Seperate with new line</small> -->
                </mat-label>
                <textarea matInput class="txtbx" [ngClass]="{
                'is-invalid': b2 && f2.history_of_previous_surgeries_or_procedures.errors
            }" formControlName="history_of_previous_surgeries_or_procedures"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Significant family history <br>
                    <!-- <small>Note: Seperate with new line</small> -->
                </mat-label>
                <textarea matInput class="txtbx" [ngClass]="{
                'is-invalid': b2 && f2.significant_family_history.errors
            }" formControlName="significant_family_history"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>History of substance abuse (Tobacco/Smoking/Alcohal/Other) <br>
                    <!-- <small>Note: Seperate with new line</small> -->
                </mat-label>
                <textarea matInput class="txtbx" [ngClass]="{
                'is-invalid': b2 && f2.history_of_substance_abuse.errors
            }" formControlName="history_of_substance_abuse"></textarea>
            </mat-form-field>

            <div class="col-md-12">
                <button (click)="onSubmitFM()"  type="button" class="btn btn-warning">Submit</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" ngbAutofocus (click)="modal.close('Close click')">
            Cancel
        </button>
    </div>
</ng-template>