<div class="common-record">
    <div class="d-block p-2">
        <strong class="text-gray rounded-0"> Treatment Requests</strong>
    </div>
    <div class="col-md-12">
        <button class="btn btn-warning" *ngIf="doc_id != ''" (click)="backClicked()">
            Go Back
        </button>
    </div>
    <div class="bg-opacity-10 card d-block px-2 py-3 mt-2 rounded-0">
        <div class="card mb-3" *ngFor="let o of tList">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        ORDER ID : {{o?.order_id}}
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <span class="badge badge-warning" *ngIf="o?.info?.is_completed == '0'">Order pending</span>
                        <span class="badge badge-success" *ngIf="o?.info?.is_completed == '1'">Order completed</span>
                    </div>
                </div>
            </div>
            <div class="card-body" style="background-color: ghostwhite;">
                <div class="container">
                    <div class="card mb-1" *ngFor="let p of o?.treatment">
                        <div class="card-header">
                            {{p?.package_name}} - <small> {{ p?.stay_type}} {{ p?.package_location}} </small>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    Booked by : {{p?.name | titlecase}} <br>
                                    Mobile : {{p?.mobile }} <br>
                                    Email : {{p?.email }} <br>
                                </div>
                                <div class="col-md-4">
                                    Payment status : {{p?.payment_status | titlecase}} <br>
                                    Price Paid :  {{p?.price - ((p?.discount/100)*p?.price)}} <br>
                                    Service Location: <span *ngIf="p?.package_location == 'Clinic'">{{p?.a1}} {{p?.c1}}
                                        {{p?.p1}}</span>
                                        <span>Under : {{p?.doctor_name}}</span> <br>
                                        <span
                                        *ngIf="p?.package_location != 'Clinic'">{{p?.hospital_name}} -
                                        {{( p?.hospital_address && p?.hospital_address != 'null') ? p?.hospital_address : ''}}</span>
                                </div>
                                <div class="col-md-4">
                                    Requested Date: {{p?.req_date}} <br>
                                    <ng-container *ngIf="p?.record_image != ''">
                                        <a class="badge badge-info" [href]="img | concatBase: 'uploads/'" target="_blank" *ngFor="let img of getAray(p?.record_image); let i = index ">
                                            View Previous Records ({{i+1}})
                                        </a><br>
                                    </ng-container>
                                    <span class="badge badge-warning" *ngIf="p?.is_completed == '0'">Request not
                                        accepted yet</span>
                                    <span class="badge badge-info" *ngIf="p?.is_completed == '1'">Request
                                        accepted</span>
                                    <span class="badge badge-success" *ngIf="p?.is_completed == '2'">Treatment
                                        Completed</span>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Status</mat-label>
                                        <mat-select matInput [(ngModel)]="p.is_completed"
                                            (selectionChange)="changeStatus($event,p?.id)">
                                            <mat-option value="0">Request not accepted yet</mat-option>
                                            <mat-option value="1">Request accepted</mat-option>
                                            <mat-option value="2">Treatment Completed</mat-option>
                                            <mat-option value="3">Treatment Started</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="bg-opacity-10 card d-block px-2 py-3 mt-2 rounded-0" *ngIf="tList?.length == 0">
        <p>No record found</p>
    </div>
</div>