<app-header></app-header>
<app-navigation></app-navigation>
<div id="slider" class="carousel" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="['./assets/images/equipment-banner.jpg']" alt="" class="d-block" />
    </div>
  </div>
  <div class="banner-search">
    <div class="row">
      <div class="col-md-6 col-sm-8 col-12">
        <h1>Healthcare devices for sale/rent And Purchase</h1>
        <div class="col-md-12 col-sm-12 col-12">
          <a [routerLink]="['/equipment/equipment-list']" class="btn btn-light border-2 rounded-0 mt-4">
            Book Now
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="equipment-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6 col-12">
        <h2 class="heading">Healthcare devices for sale/rent</h2>
        <p>
          Delightful unreserved impossible few estimating men favourable see
          entreaties. She propriety immediate was improving. He or entrance
          humoured likewise moderate. Much nor game son say feel. On am in
          nearer square wanted.
        </p>
        <p>
          Delightful unreserved impossible few estimating men favourable see
          entreaties. She propriety immediate was improving. He or entrance
          humoured likewise moderate. Much nor game son say feel. On am in
          nearer square wanted.
        </p>
        <a [routerLink]="['/equipment/equipment-list']" class="btn btn-success rounded-0">
          <i class="fas fa-chevron-circle-right"></i>
          Equipment On Rent
        </a>
      </div>
      <div class="col-md-5 col-sm-6 col-12">
        <div class="row equipment-img">
          <div class="col-md-12 col-sm-12 col-12">
            <img class="" [src]="['./assets/images/welcome-1.jpg']" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-download-app></app-download-app>
<app-footer></app-footer>