<div class="common-record">
    <div class="d-block p-2">
        <strong class="text-gray rounded-0"> Labtest Requests</strong>
        <!-- <button printSectionId="section" styleSheetFile="../../../../styles.css" ngxPrint>Print</button> -->
    </div>
    <div class="col-md-12">
        <button class="btn btn-warning" *ngIf="doc_id != ''" (click)="backClicked()">
            Go Back
        </button>
    </div>
    <div class="bg-opacity-10 card d-block px-2 py-3 mt-2 rounded-0">
        <div class="card mb-3" *ngFor="let o of tList">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        Receipt ID : {{o?.receipt}}
                    </div>
                    <div class="col-md-2">
                        <app-rating-section [review]="o?.comment"  [user_id]="o?.lab_id"  [count]="o?.stars" [service_id]="o?.id" [agent_type]="'Labtest'" (reviewData)="onReviewData($event)"></app-rating-section>
                      </div>
                    <div class="col-md-3">
                        <span *ngIf="o?.report_file != ''">
                            <a [href]="o?.report_file | concatBase: 'uploads/'" target="_blank"> View Report</a>
                        </span>
                    </div>
                    <div class="col-md-3">
                        <span class="badge badge-warning" *ngIf="o?.is_completed == '0'">Sample collection
                            pending</span>
                        <span class="badge badge-info" *ngIf="o?.is_completed == '1'">Sample collected</span>
                        <span class="badge badge-success" *ngIf="o?.is_completed == '2'">Report Generted</span>
                    </div>
                </div>
            </div>
            <div class="card-body" style="background-color: ghostwhite;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    Delivery Partner : {{o?.delivery_boy_name}} 
                                </div>
                                <div class="col-md-6">
                                    Sample Collector : {{o?.sample_collector_name}}
                                </div>
                                <div class="col-md-12 border-tb"> 
                                    Contact no : {{o?.lab_number}} <br>
                                    Lab Name : {{o?.lab_name}} <br>
                                    Lab address : {{o?.lab_address}} {{o?.city}} 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    Test List :
                                </div>
                                <div class="col-md-12 c-shadow mb-2 p-1" *ngFor="let p of o?.list;let i = index"> 
                                    <span *ngIf="p?.type == 'test'">{{i+1}}. {{p?.info?.test_name}} <br>
                                        <span class="badge badge-success" *ngIf="p?.info?.prerequisite != ''">Prerequisite : {{p?.info?.prerequisite}}</span>
                                        <!-- <span class="badge badge-info" *ngIf="p?.info?.home_sample_collection == 'Yes'">Sample collection : {{p?.info?.home_sample_collection}}</span> 
                                        <span class="badge badge-primary" *ngIf="p?.info?.report_home_delivery == 'Yes'">Report Delivery : {{p?.info?.report_home_delivery}}</span> 
                                        <span class="badge badge-info" *ngIf="p?.info?.is_ambulance == 'Yes'">Ambulance : {{p?.info?.is_ambulance}}</span>  -->
                                    </span>
                                    <p *ngIf="p?.type == 'labpackage'">
                                        <span>{{i+1}} {{p?.package_name}}</span>  <br>
                                        <ng-container *ngFor="let s of p?.info;let j = index">
                                            <span>{{1+j}}. {{s?.test_name}}  <br>
                                                <span class="badge badge-success" *ngIf="s?.prerequisite != ''">Prerequisite : {{s?.prerequisite}}</span> 
                                                <!-- <span class="badge badge-info" *ngIf="s?.home_sample_collection == 'Yes'">Sample collection : {{s?.home_sample_collection}}</span> 
                                                <span class="badge badge-primary" *ngIf="s?.report_home_delivery == 'Yes'">Report Delivery : {{s?.report_home_delivery}}</span> 
                                                <span class="badge badge-info" *ngIf="s?.is_ambulance == 'Yes'">Ambulance: {{s?.is_ambulance}}</span>  -->
                                            </span> 
                                        </ng-container>
                                    </p>
                                </div>
                            </div> 
                        </div>
                        <div class="col-md-4">
                            Name : {{o?.u_name}} <br>
                            Mobile : {{o?.u_mobile}} <br>
                            Email : {{o?.u_email}} <br>
                            Address : {{o?.u_address}} {{o?.u_city}} {{o?.u_pincode}} <br>
                            Payment status : {{o?.payment_status | titlecase}} <br>
                            Price Paid : {{o?.amount_paid}} <br>
                            <span class="badge badge-success" *ngIf="o?.is_home_collection == 'Yes'">Home
                                Collection</span>
                            <span class="badge badge-info" *ngIf="o?.is_home_delivery == 'Yes'">Report Home
                                Delivery</span>
                            <span class="badge badge-danger" *ngIf="o?.is_ambulance == 'Yes'">Ambulance Required</span>
                        </div>

                    </div>
                </div>

            </div> 
        </div>


    </div>
</div>
<div class="bg-opacity-10 card d-block px-2 py-3 mt-2 rounded-0" *ngIf="tList?.length == 0">
    <p>No record found</p>
</div>