.menu{background-color: #0072cb;
    ul{list-style: none; padding: 0px; width: 90%; margin: 0px auto;
        li{display: inline-flex;
            a{padding: 8px 18px; font-size: 14px; color: #fff; text-decoration: none; transition: 0.5s;}
            :hover{color: rgb(255, 255, 255); background-color: #0c538b;}
        }
        .active{color: rgb(255, 255, 255); background-color: #0c538b;}
    }
}
@media only screen and (max-width: 820px)
{
    .menu{
        ul{width: 100%;
            li{display: inline-flex;
                a{padding: 8px 10px; font-size: 14px;}
                
            } 
                       
        }
    }
}
@media only screen and (max-width: 767px)
{
    .menu{background-color: #104d7c; left: -110%; height: 100vh; position: fixed;
        top: 0; z-index: 9;width: 100%; padding-top: 40px;
        ul{width: 100%;
            li{display: block;
                a{padding: 8px 23px; font-size: 14px; display: block;border-bottom: 1px solid #fff;}
            }
        }
    }
    .add-menu{left: 0%;} 
}
