<div class="menu">
  <ul class="">
    <li><a [routerLink]="['/doctor']" routerLinkActive="active">Doctor</a></li>
    <li>
      <a [routerLink]="['/hospital']" routerLinkActive="active">Hospital / Clinic</a>
    </li>
    <li>
      <a [routerLink]="['/pharmacy']" routerLinkActive="active">Medicines & Health products</a>
    </li>
    <li><a [routerLink]="['/lab']" routerLinkActive="active">Lab Test</a></li>
    <li>
      <a [routerLink]="['/blood-bank']" routerLinkActive="active">Blood Bank</a>
    </li>
    <li>
      <a [routerLink]="['/home-nursing']" routerLinkActive="active"
        >Home Care</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/equipment/medical-equipment']"
        routerLinkActive="active"
        >Healthcare devices for sale/rent</a
      >
    </li>
    <li>
      <a class="login" [routerLink]="['/ambulance']" routerLinkActive="active"
        >Ambulance Services</a
      >
    </li>
  </ul>
</div>
