<app-header></app-header>
<app-navigation></app-navigation>
<app-hospital-banner></app-hospital-banner>

<section class="bg-info py-3">
  <div class="container">
    <div class="row row-cols-md-6 row-cols-sm-6 row-cols-3 g-md-0 g-1">
      <div class="col">
        <div class="service-box">
          <a [routerLink]="['/hospital-list']">
            <span>
              <img [src]="['./assets/images/icon/find-hospital.png']" alt="" />
            </span>
            <h6>Find Hospital/Clinic</h6>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="service-box">
          <a [routerLink]="['/doctor-list']">
            <span>
              <img [src]="['./assets/images/icon/appointments.png']" alt="" />
            </span>
            <h6>Book Appointment/Consult Online</h6>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="service-box">
          <a [routerLink]="['/hospital-list']">
            <span>
              <img [src]="['./assets/images/icon/consult-online.png']" alt="" />
            </span>
            <h6>Find Surgical/Treatment Packages</h6>
          </a>
        </div>
      </div>      
      <div class="col">
        <div class="service-box">
          <a [routerLink]="['/ambulance']">
            <span>
              <img [src]="['./assets/images/icon/ambulance.png']" alt="" />
            </span>
            <h6>Book Ambulance</h6>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="service-box">
          <a [routerLink]="['/pharmacy']">
            <span>
              <img [src]="['./assets/images/icon/buy-online.png']" alt="" />
            </span>
            <h6>Buy Medicine</h6>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="service-box">
          <a [routerLink]="['/blood-bank']">
            <span>
              <img [src]="['./assets/images/icon/book-lab-test.png']" alt="" />
            </span>
            <h6>Book Lab Test</h6>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-12">
        <div class="consult-top-doctors">            
            <div class="section-header-icons">
                <h2 class="fs-4 m-0">Consult Doctors from Top Hospitals/Clinics  online</h2>
                <h2 class="text-dark fs-5 m-0"><small>Book an appointment for in-clinic consultation</small></h2>
                <p>Find experience Doctors</p>
                <div class="icon-wrap">
                    <div class="icon">
                      <i class="far fa-clock"></i>
                    </div>
                    <p>Start consultation in 60 seconds</p>
                </div>
                <div class="icon-wrap">
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <p>Free follow-up for the next 5 days</p>
                </div>
                <div class="icon-wrap">
                    <div class="icon">
                      <i class="far fa-hospital"></i>
                    </div>
                    <p>Doctors across 35+ specialties</p>
                </div>
                <a [routerLink]="['/hospital-list']" class="btn btn-primary float-end rounded-0">
                  <i class="fas fa-chevron-circle-right"></i>
                  Find Hospital/Clinic
                </a> 
            </div>
            <div class="doct-img">
              <img [src]="['./assets/images/hospital-building2.webp']" alt="" />
            </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-12">
        <div class="how-it-works">
          <h3>How does it work? </h3>
          <div class="icon-wrap">
              <div class="icon">
                <i class="fas fa-user-md"></i>
              </div>
              <p>Choose Hospital/Clinic</p>
          </div>
          <div class="icon-wrap">
              <div class="icon">
                <i class="fas fa-user-md"></i>
              </div>
              <p>Select a Doctor</p>
          </div>
          <div class="icon-wrap">
              <div class="icon">
                <i class="fas fa-video"></i>
              </div>
              <p>Consult Online / Book Appointment </p>
          </div>
          <div class="icon-wrap">
              <div class="icon">
                <i class="fas fa-file-alt"></i>
              </div>
              <p>Get online prescription</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="welcome-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6 col-12">
        <p>Since 1990-2022, New Delhi India</p>
        <h2 class="heading">
          <span>Thousands Of Specialities </span> For
          <span class="text-info">Any Type Diagnostic.</span>
        </h2>
        <p>
          Delightful unreserved impossible few estimating men favourable see
          entreaties. She propriety immediate was improving. He or entrance
          humoured likewise moderate. Much nor game son say feel. On am in
          nearer square wanted.
        </p>
        <p>
          Delightful unreserved impossible few estimating men favourable see
          entreaties. She propriety immediate was improving. He or entrance
          humoured likewise moderate. Much nor game son say feel. On am in
          nearer square wanted.
        </p>
        <a href="javascript:void(0)" class="btn btn-success rounded-0">
          <i class="fas fa-chevron-circle-right"></i>
          More About us
        </a>
      </div>
      <div class="col-md-5 col-sm-6 col-12">
        <div class="row welcome-img">
          <img class="" [src]="['./assets/images/about-hospital.png']" alt="" />
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="hospital-Specialities-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12">
        <h3 class="heading mt-3">Our Specialities</h3>
        <p>
          We offer extensive medical procedures to outbound and inbound patients
          what it is and we are very proud of achievement of our staff, We are
          all work together to help our all patients for recovery
        </p>
        <div class="hospital-Specialities-slider">
          <div class="hospital-Specialities" *ngFor="let s of spacialityList">
            <figure *ngIf="s.image != ''">
              <a [routerLink]="['/doctor-list']" [queryParams]="{ sid: s?.id }">
                <img class="s-img" [src]="s.image | concatBase: 'specialities_image/'" alt="" />
              </a>
            </figure>
            <a [routerLink]="['/doctor-list']" [queryParams]="{ sid: s?.id }">{{ s?.speciality_name }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<app-specialities></app-specialities>
<section class="test-type-section">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-12">
              <h3 class="mt-0">Empanelment <a href="javascript:void(0)" class="btn btn-sm btn-outline-primary float-end">View more..</a></h3>
              <div class="scroll">
                  <div class="test-type-slider inner-scroll">
                      <div class="test-type">
                          <figure>
                              <a href="javascript:void(0)">
                                  <img [src]="['./assets/images/star-health.png']" alt="">
                              </a>
                          </figure>
                          <a href="javascript:void(0)">Star Health </a>                        													
                      </div>
                      <div class="test-type">
                          <figure>
                              <a href="javascript:void(0)">
                                  <img [src]="['./assets/images/hdfc-ergo.jpg']" alt="">
                              </a>
                          </figure>
                          <a href="javascript:void(0)">HDFC Ergo</a>							
                      </div>
                      <div class="test-type">
                          <figure>
                              <a href="javascript:void(0)">
                                  <img [src]="['./assets/images/acko.jpg']" alt="">
                              </a>
                          </figure>
                          <a href="javascript:void(0)">Acko</a>							
                      </div>
                      <div class="test-type">
                          <figure>
                              <a href="javascript:void(0)">
                                  <img [src]="['./assets/images/icici-lombard.png']" alt="">
                              </a>
                          </figure>
                          <a href="javascript:void(0)">ICICI Lombard</a>						
                      </div>
                      <div class="test-type">
                          <figure>
                              <a href="javascript:void(0)">
                                  <img [src]="['./assets/images/ayushman-bharat.jpg']" alt="">
                              </a>
                          </figure>
                          <a href="javascript:void(0)">Ayushman Bharat</a>							
                      </div>
                  </div>
              </div>
          </div>             
      </div>
  </div>
</section>
<section class="facilities-section">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-12">
              <h3 class="mt-0 mb-4">Facilities 
                <a href="javascript:void(0)" class="btn btn-sm btn-outline-primary float-end">View more..</a>
              </h3>
              <div class="facilities-slider row gx-sm-3 g-2">
                <div class="col">
                  <div class="facilities">
                    <figure>
                        <a href="javascript:void(0)">
                            <img [src]="['./assets/images/cath-lab.jpg']" alt="">
                        </a>
                    </figure>
                    <a href="javascript:void(0)">Cath Lab </a>                        													
                  </div>
                </div>
                <div class="col">
                  <div class="facilities">
                      <figure>
                          <a href="javascript:void(0)">
                              <img [src]="['./assets/images/dialysis.jpeg']" alt="">
                          </a>
                      </figure>
                      <a href="javascript:void(0)">Dialysis</a>							
                  </div>
                </div> 
                <div class="col">
                  <div class="facilities">
                      <figure>
                          <a href="javascript:void(0)">
                              <img [src]="['./assets/images/emergency-services.png']" alt="">
                          </a>
                      </figure>
                      <a href="javascript:void(0)">24x7 Emergency Services</a>							
                  </div>
                </div> 
                <div class="col">
                  <div class="facilities">
                      <figure>
                          <a href="javascript:void(0)">
                              <img [src]="['./assets/images/labour-room.png']" alt="">
                          </a>
                      </figure>
                      <a href="javascript:void(0)">Labour Room</a>						
                  </div>
                </div> 
                <div class="col">
                  <div class="facilities">
                      <figure>
                          <a href="javascript:void(0)">
                              <img [src]="['./assets/images/intensive-care-units.webp']" alt="">
                          </a>
                      </figure>
                      <a href="javascript:void(0)">ICU (Intensive care unit)</a>							
                  </div>
                </div>
              </div>
          </div>             
      </div>
  </div>
</section>
<app-blog [blogList]="blogList"></app-blog>
<app-download-app></app-download-app>
<app-footer></app-footer>