.bg-info{background-color: #c4def4  !important;}

.service-box{ width: 100%; height: auto; padding:5px;
    position: relative; transition: 0.5s; text-align: center;
    span {width:70px;}
    span img{width:32px;}
    h6{font-size: 14px; margin: 5px 0px 2px; color: #000; transition: 0.5s;}      
}
.service-box:hover h6{color: rgb(110, 107, 107);}
@media only screen and (max-width: 820px){
    .service-box{
        span {width:50px;}
        span img{width:30px !important;}
        h6{font-size: 12px;}      
    }
}
@media only screen and (max-width: 767px){
    .m-col{width: 33%; flex:none;}
}

// welcome section
.welcome-section{padding: 60px 0px 20px;
    p{margin: 0px; text-align: justify;}
    h2{margin-bottom: 30px;}
    a{margin-top: 20px;}
    .welcome-img img{width: 100%; height: auto; margin-bottom: 15px;}
}
@media only screen and (max-width: 820px){
    .welcome-section{padding: 30px 0px 20px;
        h2{margin-bottom: 15px; font-size: 22px;}
        a{margin-top: 20px;}
        .welcome-img img{width: 100%; height: auto; margin-bottom: 15px;}
    }
}
@media only screen and (max-width: 767px){
    .welcome-section{padding: 30px 0px 20px;
        h2{margin-bottom: 15px; font-size: 18px; line-height: 31px;}
        p{font-size: 14px;}        
    }    
}

// hospital-Specialities-section
.hospital-Specialities-section{ margin: 20px; padding: 0px 0px;
    h3{font-size: 22px;}
    .hospital-Specialities-slider{ display: block;
        .hospital-Specialities{width: 19%;
            text-align: center;
            padding: 10px;
            background-color: #f00;
            margin: 3px 3px;
            float: left;
            text-transform: capitalize;
            background-color: #e4e4e4;
            border:1px solid #cccc;
             border-radius: 3px;
             transition: 0.5s;
            figure{box-shadow: 0px 0px 5px #857474; margin: 5px; padding: 20px;
                background-color: #0f6fb7; transition: 0.5s;
                img{border-radius: 50%; width: 100px; height: 100%; 
                    padding: 10px; box-shadow: 0px 0px 2px 2px #8ab4f2;
                }
                &:hover{background-color: #8ab4f2;}
            }            
         a{color: #000; font-weight: 500;}
         &:hover{background-color: #8ab4f2;}
        }
    }
}
@media only screen and (max-width: 820px){
    .hospital-Specialities-section{ margin: 20px 0px;
        h3{font-size: 22px;}
        .hospital-Specialities-slider{ display: flex;
            .hospital-Specialities{width: 17%;
                figure{margin: 5px; padding: 20px;
                    img{width: 70px; height: 100%; padding: 10px;
                    }                    
                }            
                a{font-size: 12px;}
            }
        }
    }
}
@media only screen and (max-width: 767px){
    .hospital-Specialities-section{
        h3{font-size: 22px;}
        .hospital-Specialities-slider{ display: block;
            .hospital-Specialities{width: 48%; float: left; padding: 10px 8px;
                figure{margin: 5px; padding: 10px; margin-bottom: 0px;
                    img{width: 50px; height: 100%; padding: 10px;}                    
                }
                a{font-size: 11px;}
            }
        }
        p{font-size: 14px;} 
    }  
}
// specialit-doctor
.specialit-doctor{padding: 30px 0px;
    h3{margin-bottom: 20px;}
    .nav-tabs{
        .nav-item{ width: 100%; border-bottom: 2px solid rgb(255, 255, 255); 
            .nav-link{background-color: #ccc8c8; border: 0px solid transparent; 
                color: rgb(0, 0, 0); border-radius: 0; padding: 12px;
                img{width: 32px;}               
            }
            .active{background-color: #0a538d !important; color: rgb(255, 255, 255);}
        }
    }
    .dr-box{background-color: #ccc8c8; margin-bottom: 15px; transition: 0.5s; display: flex; border-radius: 5px; padding: 10px;
        a{ display: flex; color: #000;
            figure{width: 35%;
                img{width: 100%;}
            }
            .dr-data{padding: 0px 10px; font-size: 14px;
                span{color: rgb(6, 66, 104); float: right;}
            }
        }
        &:hover{background-color: #857474;}
    }
}
@media only screen and (max-width: 820px){

}
@media only screen and (max-width: 767px){
    .specialit-doctor{padding: 30px 0px;
        h3{margin-bottom: 20px;}
        .nav-tabs{
            .nav-item{ width: auto;
                .nav-link{ padding: 5px 10px; margin-right: 2px;
                    border-radius: 20px;
                    font-size: 12px;
                    img{width: 20px;}               
                }
            }
        }
        .dr-box{margin: 5px; padding: 5px; border-radius: 3px;
            a{ display: block;
                figure{width: 100%; text-align: center; margin-bottom: 5px;
                    img{width: 62px;
                        padding: 5px;}
                }
                .dr-data{padding: 0px 0px; font-size: 12px;
                    h6{font-size: 12px;}
                    span{float: right;}
                }
            }
        }
    }
}