<div class="common-record">
  <div class="d-block p-2">
    <strong class="text-gray rounded-0">
      Note: Fill all info to make yourself visible on website
    </strong>
  </div>
  <mat-accordion>
    <mat-expansion-panel [expanded]="stepExpn == 1">
      <mat-expansion-panel-header>
        <mat-panel-title> Basic Information </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <form [formGroup]="setupForm" novalidate>
          <mat-form-field appearance="fill">
            <mat-label>Establish name of pharmacy</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b1 && f1.name.errors
              }" formControlName="name" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Owner Name</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b1 && f1.owner_name.errors
              }" formControlName="owner_name" required />
          </mat-form-field>
          <label class="mt-2">UPLOAD OWNER'S AADHAR
            <a href="{{ Linfo?.owner_id }}" target="_blank">View File</a></label>
          <input class="form-control mb13" (change)="onFileChange($event, 'owner_id')" type="file" accept="image/*" />
          <mat-form-field appearance="fill">
            <mat-label>Partner Name (If any)</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b1 && f1.partner_name.errors
              }" formControlName="partner_name" />
          </mat-form-field>
          <label class="mt-2">UPLOAD PARTNER'S ID PROOF (If partner)
            <a href="{{ Linfo?.partner_id }}" target="_blank">View File</a></label>
          <input class="form-control mb13" (change)="onFileChange($event, 'partner_id')" type="file" accept="image/*" />
          <mat-form-field appearance="fill">
            <mat-label>Pharmacist Name</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b1 && f1.pharmacist_name.errors
              }" formControlName="pharmacist_name" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Pharmacist Registration Number </mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b1 && f1.pharmacist_regis_no.errors
              }" formControlName="pharmacist_regis_no" required />
          </mat-form-field>
          <label class="mt-2">UPLOAD PHARMACIST REGISTRATION CERTIFICATE
            <a href="{{ Linfo?.pharmacist_regis_upload }}" target="_blank">View File</a></label>
          <input class="form-control mb13" (change)="onFileChange($event, 'pharmacist_regis_upload')" type="file"
            accept="image/*" />
          <mat-form-field appearance="fill">
            <mat-label>Gstin Number </mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b1 && f1.gstin.errors
              }" formControlName="gstin" required />
          </mat-form-field>
          <label class="mt-2">UPLOAD GSTIN CERTIFICATE
            <a href="{{ Linfo?.gstin_certificate }}" target="_blank">View File</a></label>
          <input class="form-control mb13" (change)="onFileChange($event, 'gstin_certificate')" type="file"
            accept="image/*" />

          <div class="row mb-2">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  Pharmacy Address
                  <button class="btn btn-success f-right" type="button" (click)="openAddressPopup(addressAddModel)">Edit</button>
                </div>
                <div class="card-body">
                  {{this.Linfo.address}} {{this.Linfo.city}} {{this.Linfo.pincode}} {{this.Linfo.country}}
                </div>

              </div>
            </div>
          </div>

          <!-- <label class="mt-2">UPLOAD LOGO
            <a href="{{ Linfo?.image }}" target="_blank">View File</a></label>
          <input class="form-control mb13" (change)="onFileChange($event, 'image')" type="file" accept="image/*" /> -->

          <mat-form-field appearance="fill">
            <mat-label>Drug liscense number</mat-label>
            <input matInput max="1000" min="1" [ngClass]="{
                'is-invalid': b1 && f1.drug_liscence_number.errors
              }" formControlName="drug_liscence_number" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Drug liscense valid upto</mat-label>
            <input matInput type="date" [ngClass]="{
                'is-invalid': b1 && f1.drug_liscence_valid_upto.errors
              }" formControlName="drug_liscence_valid_upto" required />
          </mat-form-field>

          <label class="mt-2">UPLOAD LICENSE
            <a href="{{ Linfo?.drug_liscence_file }}" target="_blank">View File</a></label>
          <input class="form-control mb13" (change)="onFileChange($event, 'drug_liscence_file')" type="file" />

          <div class="d-flex">
            <mat-form-field appearance="fill">
              <mat-label>Delivery Charges</mat-label>
              <input matInput type="number" min="0" [ngClass]="{
                  'is-invalid': b1 && f1.delivery_charges.errors
                }" formControlName="delivery_charges" required />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Apply Delivery Charges Only when total amount is less then _ rs</mat-label>
              <input matInput type="number" min="0" [ngClass]="{
                  'is-invalid': b1 && f1.delivery_charges_if_less.errors
                }" formControlName="delivery_charges_if_less" required />
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <button (click)="onSubmit()"  type="button" class="btn btn-primary">UPDATE</button>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="stepExpn == 2">
      <mat-expansion-panel-header>
        <mat-panel-title>Login & Contact Details </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <form [formGroup]="lForm" novalidate>
          <mat-form-field appearance="fill">
            <mat-label>Contact person name</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b2 && f2.cp_name.errors
              }" formControlName="cp_name" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b2 && f2.email.errors
              }" formControlName="email" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Mobile number</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b2 && f2.mobile.errors
              }" formControlName="mobile" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password (Enter you want to change)</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b2 && f2.password.errors
              }" formControlName="password" />
          </mat-form-field>
          <div class="col-md-12">
            <button (click)="onSubmitCp()"  type="button" class="btn btn-primary">
              UPDATE
            </button>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="stepExpn == 3">
      <mat-expansion-panel-header>
        <mat-panel-title> Bank Details </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <form [formGroup]="bForm" novalidate>
          <mat-form-field appearance="fill">
            <mat-label>Full name in bank account</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.name.errors
              }" formControlName="name" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Bank name</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.bank_name.errors
              }" formControlName="bank_name" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Branch name</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.branch_name.errors
              }" formControlName="branch_name" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>IFSC</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.ifsc.errors
              }" formControlName="ifsc" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Account Number</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.ac_no.errors
              }" formControlName="ac_no" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Account Type</mat-label>
            <mat-select matInput [ngClass]="{
                'is-invalid': b4 && f4.ac_type.errors
              }" formControlName="ac_type" required>
              <mat-option value="saving">Saving</mat-option>
              <mat-option value="current">Current</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>MICR Code</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.micr_code.errors
              }" formControlName="micr_code" />
          </mat-form-field>
          <label class="mt-2">Cancelled Cheque
            <a href="{{ Linfo?.cancel_cheque }}" target="_blank">View File</a></label>
          <input class="form-control mb13" (change)="onFileChange($event, 'cancel_cheque')" type="file" />

          <mat-form-field appearance="fill">
            <mat-label>PAN Number</mat-label>
            <input matInput [ngClass]="{
                'is-invalid': b4 && f4.pan_no.errors
              }" formControlName="pan_no" required />
          </mat-form-field>
          <label class="mt-2">PAN Image
            <a href="{{ Linfo?.pan_image }}" target="_blank">View File</a></label>
          <input class="form-control mb13" (change)="onFileChange($event, 'pan_image')" type="file" />
          <div class="col-md-12">
            <button (click)="onSubmitBank()"  type="button" class="btn btn-primary">
              Save
            </button>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>


<ng-template #addressAddModel let-modal>
  <div class="modal-body" style="padding-top: 30px">
    <app-addresss-add [updating_for]="'pharmacy'"></app-addresss-add>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-light" ngbAutofocus (click)="modal.close('Close click')">
      Cancel
    </button>
  </div>
</ng-template>