<app-header></app-header>
<section class="mt-5">
  <div class="container">
    <div class="">
      <div class="appointment-left-box">
        <div class="clinic-details">
          <div class="clinic-name">
            <img [src]="['./assets/images/icon/clinic.png']" alt="" />
            <span>Book Appointment</span>
          </div>
          <div class="consult-fee">
            <img [src]="['./assets/images/icon/rupee.png']" alt="" />
            <span>Total Fee :
              {{
              f.type.value == "Home"
              ? dInfo?.home_consultancy_fee
              :   f.type.value == "Online" ? dInfo?.online_consultancy_fee : dInfo?.consultancy_fee
              }}</span>
          </div>
        </div>
        <div class="row consult-doctor">
          <div class="col-md-6 col-sm-6">
            <h6>with certified partner doctors & receive Personalized care</h6>
            <p>
              <img [src]="['./assets/images/icon/dr-online.png']" alt="" />
              Visit only trusted partner doctors
            </p>
            <p>
              <img [src]="['./assets/images/icon/prescription.png']" alt="" />
              Easy in-app access to prescription
            </p>
            <p>
              <img [src]="['./assets/images/icon/clinic.png']" alt="" />
              Integrates lab and medicine ordering
            </p>
          </div>
          <div class="col-md-6 col-sm-6">
            <img class="consult-doctor-img" [src]="['./assets/images/consult-doctor.jpg']" alt="" />
          </div>
        </div>
      </div>

      <form [formGroup]="form" novalidate>
        <div class="appointment-right-box">
          <div class="appointment-form" [hidden]="isFSubmit">
            <div class="col-md-12 col-sm-12 col-12 mt-1 mb-3" [hidden]="isFSubmit">
              <div class="row">
                <div class="col-md-4" *ngIf="slotList.length > 0">
                  <label class="card" for="oc_t">
                    <div class="card-header">
                      Audio/Video Consultation
                      <input type="radio" value="Online" id="oc_t" class="f-right" formControlName="type" />
                    </div>
                    <div class="card-body">
                      Price : <i class="fas fa-rupee-sign"></i>{{ dInfo?.online_consultancy_fee }} 
                    </div>
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="card" for="oc_c">
                    <div class="card-header">
                      On Clinic / Hospital
                      <input type="radio" value="Clinic/Hospital" id="oc_c" class="f-right" formControlName="type" />
                    </div>
                    <div class="card-body">
                      Price : <i class="fas fa-rupee-sign"></i>{{ dInfo?.consultancy_fee }} 
                    </div>
                  </label>
                </div>
                <div class="col-md-4" *ngIf="dInfo?.home_visit == 'Yes'">
                  <label class="card" for="oc_h">
                    <div class="card-header">
                      Home Visit
                      <input type="radio" value="Home" class="f-right" id="oc_h" formControlName="type" />
                    </div>
                    <div class="card-body">
                      Price : {{ dInfo?.home_consultancy_fee }} INR
                    </div>
                  </label>
                </div>
                
              </div>
              <div class="row mt-3 p-3" *ngIf="f.type.value == 'Home'">
                <h4>Enter your address</h4>
                <mat-form-field appearance="fill">
                  <mat-label>Address *</mat-label>
                  <input matInput [ngClass]="{
                  'is-invalid': submitted && f.address.errors
                }" formControlName="address" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Locality</mat-label>
                  <input matInput [ngClass]="{
                    'is-invalid': submitted && f.locality.errors
                  }" formControlName="locality" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Pincode *</mat-label>
                  <input matInput [ngClass]="{
                    'is-invalid': submitted && f.pincode.errors
                  }" formControlName="pincode" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>City *</mat-label>
                  <input matInput [ngClass]="{
                    'is-invalid': submitted && f.city.errors
                  }" formControlName="city" />
                </mat-form-field>
              </div>
            </div>
            <div class="date-img">
              <img [src]="['./assets/images/icon/schedule.png']" alt="" />
              <span>Select Date</span>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-12">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                  responsive="breakpoints">
                  <ng-container *ngFor="let s of dInfo?.slot_clinic; let i = index">
                    <div ngxSlickItem *ngIf="s?.slot?.length > 0" class="slide">
                      <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a [class]="
                              'nav-link ' + (acIn == s?.date ? 'active' : '')
                            " (click)="activeDay(s?.date)">
                            <strong>{{ s?.day }}, {{ s?.date | date: "dd" }}
                              {{ s?.date | date: "MMM" }}</strong>
                            <small>{{ s?.slot?.length }} Slots Available</small>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </ng-container>
                </ngx-slick-carousel>
                <div class="tab-content"  *ngIf="f.type.value != 'Home'">
                  <div class="tab-pane fade show active">
                    <div class="slot-time">
                      <span *ngIf="f.type.value != 'Online'">Slot List A</span>
                      <ul>
                        <li *ngFor="let s of slotList">
                          <a href="javascript:void(0)" [class]="slotTime == s ? 'stime' : ''" (click)="setSlot(s)">
                            {{ s }}
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="slot-time">
                      <span *ngIf="f.type.value != 'Online'">Slot List B</span>
                      <ul>
                        <li *ngFor="let s of slotListH">
                          <a href="javascript:void(0)" [class]="slotTime == s ? 'stime' : ''" (click)="setSlot(s)">
                            {{ s }}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="appointment-form">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-12" [hidden]="isFSubmit">
                <p><strong>Select Patient</strong></p>
                <small>Note: If you are creating new appointment then add new patient</small> <br>
                <label class="card mt-2" *ngFor="let f of fList" for="mid_{{ f?.id }}">
                  <div class="card-header">
                    {{ f?.name }}
                    <input type="radio" class="f-right" [value]="f?.id" id="mid_{{ f?.id }}"
                      formControlName="member_id" />
                    <!-- <span class="badge badge-warning f-right fm-btn" (click)="editMember(memberFModel,f?.id)">Edit</span> -->
                    
                  </div>
                  <div class="card-body">
                    Gender: {{ f?.gender }} <br />
                    DOB: {{ f?.dob }} <br />
                  </div>
                </label>
                <div class="card mt-2">
                  <div class="card-header text-center">
                    <button class="btn btn-primary" (click)="addNewMember(memberFModel)">
                      Add New Patient
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-12 mt-3" [hidden]="isFSubmit">
                <div class="card mt-2">
                  <div class="card-header text-center">
                    <button class="btn btn-success" (click)="onSubmit()"  type="button">
                      Proceed to checkout
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-12" *ngIf="isFSubmit">
                <h3>Appointment Request is Sent</h3>
                <p>Please wait for the confirmation</p>
                <a [routerLink]="['/Patient-Record/record']"><button class="btn btn-success">Go to
                    dashboard</button></a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<ng-template #memberFModel let-modal>
  <div class="modal-body" style="padding-top: 30px">
    <p class="text-center">Enter Details</p>
    <form [formGroup]="fForm" novalidate>
      <mat-form-field appearance="fill">
        <mat-label>Patient name</mat-label>
        <input matInput [ngClass]="{
            'is-invalid': b2 && f2.name.errors
          }" formControlName="name" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Date of birth</mat-label>
        <input matInput type="date" [ngClass]="{
            'is-invalid': b2 && f2.dob.errors
          }" formControlName="dob" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select matInput formControlName="gender" required>
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Special">Special</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Current complaints with their duration </mat-label>
        <input matInput [ngClass]="{
          'is-invalid': b2 && f2.current_complaints_w_t_duration.errors
        }" formControlName="current_complaints_w_t_duration" />
      </mat-form-field>
       
      <label class="mt-2">Upload previous treatment or consultation records (If any) </label>
      <input class="form-control mb13" (change)="onFileChange($event, 'p_reports')" type="file" />

      <label>I give my consent for online consultation &nbsp; &nbsp;</label>
      <input type="checkbox"  formControlName="is_consent" />
      <!-- <mat-form-field appearance="fill">
        <mat-label>I give my consent for online consultation</mat-label>
        <input type="checkbox"  formControlName="is_consent" />
       <mat-select matInput formControlName="is_consent">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field> -->

       
      <div class="col-md-12 admd mt-3 mb-3" *ngIf="isAddMore == false" (click)="isAddMore = true">
        ADD MORE DETAILS
      </div>
      <div class="col-md-12 admd mt-3 mb-3" *ngIf="isAddMore == true" (click)="isAddMore = false">
        Hide Extras
      </div>
      <ng-container *ngIf="isAddMore == true">
        <label class="mt-2">Upload identity proof (driving liscence/aadhar/passport/voter id/ rashan card.) </label>
      <input class="form-control mb13" (change)="onFileChange($event, 'id_proof')" type="file" />

        <ng-container *ngIf="f2.is_consent.value == 'Yes'">
          <label class="mt-2">Authorization/consent Proof</label>
          <input class="form-control mb13" (change)="onFileChange($event, 'consent_with_proof')" type="file" />
          <mat-form-field appearance="fill">
            <mat-label>Relationship to patient </mat-label>
            <input matInput [ngClass]="{
              'is-invalid': b2 && f2.c_relationship.errors
            }" formControlName="c_relationship" />
          </mat-form-field>
          <label class="mt-2">Relationship Proof</label>
          <input class="form-control mb13" (change)="onFileChange($event, 'c_relationship_proof')" type="file" />
        </ng-container>

      

        <mat-form-field appearance="fill">
          <mat-label>Marital status</mat-label>
          <mat-select matInput formControlName="marital_status">
            <mat-option value="Married">Married</mat-option>
            <mat-option value="Unmarried">Unmarried</mat-option>
            <mat-option value="Divorced">Divorced</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Religion</mat-label>
          <mat-select matInput formControlName="religion">
            <mat-option value="Hindu">Hindu</mat-option>
            <mat-option value="Muslim">Muslim</mat-option>
            <mat-option value="Christian">Christian</mat-option>
            <mat-option value="Sikh">Sikh</mat-option>
            <mat-option value="Buddhist">Buddhist</mat-option>
            <mat-option value="Jain">Jain</mat-option>
            <mat-option value="Other">Other</mat-option>
            <mat-option value="Atheist">Atheist</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Occupation</mat-label>
          <input matInput [ngClass]="{
            'is-invalid': b2 && f2.occupation.errors
          }" formControlName="occupation" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Dietary habits</mat-label>
          <mat-select matInput formControlName="dietary_habits">
            <mat-option value="Vegetarian">Vegetarian</mat-option>
            <mat-option value="Nonvegetarian">Nonvegetarian</mat-option>
            <mat-option value="Eggetarian">Eggetarian</mat-option>
          </mat-select>
        </mat-form-field>

        <ng-container *ngIf="f2.gender.value == 'Female'">
          <mat-form-field appearance="fill">
            <mat-label>Last menstrual period</mat-label>
            <input matInput [ngClass]="{
              'is-invalid': b2 && f2.last_menstrual_period.errors
            }" formControlName="last_menstrual_period" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Previous pregnancy, abortion, no of living children and their age and mode of delivery <br>
              <small>Note: Seperate with new line</small>
            </mat-label>
            <textarea matInput class="txtbx" [ngClass]="{
              'is-invalid': b2 && f2.previous_pregnancy_abortion.errors
            }" formControlName="previous_pregnancy_abortion"></textarea>
          </mat-form-field>
        </ng-container>
        <mat-form-field appearance="fill">
          <mat-label>History of Vaccination (if any)<br>
            <!-- <small>Note: Seperate with new line</small> -->
          </mat-label>
          <textarea matInput class="txtbx" [ngClass]="{
            'is-invalid': b2 && f2.vaccination_in_children.errors
          }" formControlName="vaccination_in_children"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Residence</mat-label>
          <input matInput [ngClass]="{
            'is-invalid': b2 && f2.residence.errors
          }" formControlName="residence" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Height</mat-label>
          <input matInput [ngClass]="{
            'is-invalid': b2 && f2.height.errors
          }" formControlName="height" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Weight</mat-label>
          <input matInput [ngClass]="{
            'is-invalid': b2 && f2.weight.errors
          }" formControlName="weight" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Pulse</mat-label>
          <input matInput [ngClass]="{
            'is-invalid': b2 && f2.pulse.errors
          }" formControlName="pulse" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Blood Pressure (BP)</mat-label>
          <input matInput [ngClass]="{
            'is-invalid': b2 && f2.b_p.errors
          }" formControlName="b_p" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Body Temprature</mat-label>
          <input matInput [ngClass]="{
            'is-invalid': b2 && f2.temprature.errors
          }" formControlName="temprature" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Blood Suger (Fasting)</mat-label>
          <input matInput [ngClass]="{
            'is-invalid': b2 && f2.blood_suger_fasting.errors
          }" formControlName="blood_suger_fasting" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Blood Suger (Random)</mat-label>
          <input matInput [ngClass]="{
            'is-invalid': b2 && f2.blood_suger_random.errors
          }" formControlName="blood_suger_random" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>History of previous diseases <br>
            <!-- <small>Note: Seperate with new line</small> -->
          </mat-label>
          <textarea matInput class="txtbx" [ngClass]="{
            'is-invalid': b2 && f2.history_of_previous_diseases.errors
          }" formControlName="history_of_previous_diseases"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>History of allergies <br>
            <!-- <small>Note: Seperate with new line</small> -->
          </mat-label>
          <textarea matInput class="txtbx" [ngClass]="{
            'is-invalid': b2 && f2.history_of_allergies.errors
          }" formControlName="history_of_allergies"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>History of previous surgeries or procedures <br>
            <!-- <small>Note: Seperate with new line</small> -->
          </mat-label>
          <textarea matInput class="txtbx" [ngClass]="{
            'is-invalid': b2 && f2.history_of_previous_surgeries_or_procedures.errors
          }" formControlName="history_of_previous_surgeries_or_procedures"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Significant family history <br>
            <!-- <small>Note: Seperate with new line</small> -->
          </mat-label>
          <textarea matInput class="txtbx" [ngClass]="{
            'is-invalid': b2 && f2.significant_family_history.errors
          }" formControlName="significant_family_history"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>History of substance abuse (Tobacco/Smoking/Alcohal/Other) <br>
            <!-- <small>Note: Seperate with new line</small> -->
          </mat-label>
          <textarea matInput class="txtbx" [ngClass]="{
            'is-invalid': b2 && f2.history_of_substance_abuse.errors
          }" formControlName="history_of_substance_abuse"></textarea>
        </mat-form-field>

      </ng-container>
      <div class="col-md-12">
        <button (click)="onSubmitFM()"  type="button" class="btn btn-warning">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-light" ngbAutofocus (click)="modal.close('Close click')">
      Cancel
    </button>
  </div>
</ng-template>