#slider img {
  width: 100%;
  max-height: 300px;
}

.list-banner {
  position: absolute;
  width: 87%;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0px auto;
}
.list-banner h1 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 700;
}
.list-banner h6 {
  font-size: 0.8rem;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  #slider img {
    width: auto;
    max-height: 200px;
  }
}
.aside-brand {
  display: block;
}

.left-category {
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
}
.left-category h3 {
  margin: 0px;
  font-size: 14px;
  padding: 10px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
}
.left-category .cat-box {
  border-bottom: 1px solid rgb(150, 189, 247);
  margin: 10px;
  padding-bottom: 10px;
}
.left-category .cat-box h4 {
  margin: 0px;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
  font-weight: 600;
}
.left-category .cat-box .check-list {
  height: 200px;
  overflow-y: scroll;
}
.left-category .cat-box .check-list .chk {
  display: block;
  position: relative;
  font-weight: normal;
  cursor: pointer;
  padding: 3px 0px 3px 25px;
}
.left-category .cat-box .check-list .chk input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.left-category .cat-box .check-list .chk input:checked ~ .checkmark {
  background-color: #2196F3;
  border: 1px solid #2196F3;
}
.left-category .cat-box .check-list .chk input:checked ~ .checkmark:after {
  display: block;
}
.left-category .cat-box .check-list .chk .checkmark {
  position: absolute;
  top: 7px;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #ccc;
}
.left-category .cat-box .check-list .chk .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 2px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.left-category .cat-box .check-list :hover input ~ .checkmark {
  background-color: #2196F3;
  border: 1px solid #2196F3;
}
.left-category .cat-box .check-list::-webkit-scrollbar {
  width: 2px;
  background-color: rgb(120, 131, 146);
}

@media only screen and (max-width: 820px) {
  .left-category h3 {
    font-size: 14px;
  }
  .left-category .cat-box h4 {
    font-size: 12px;
  }
  .left-category .cat-box .check-list .chk {
    padding: 3px 0px 3px 15px;
    font-size: 12px;
  }
  .left-category .cat-box .check-list .chk .checkmark {
    height: 12px;
    width: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .aside-brand {
    display: none;
  }
  .left-category h3 {
    font-size: 14px;
  }
  .left-category .cat-box h4 {
    font-size: 14px;
  }
  .left-category .cat-box .check-list .chk {
    padding: 3px 0px 3px 25px;
    font-size: 14px;
  }
  .left-category .cat-box .check-list .chk .checkmark {
    height: 15px;
    width: 15px;
  }
}
.sort-section {
  width: 100%;
  height: 35px;
  margin-top: 10px;
  padding-right: 1%;
}
.sort-section .sort {
  float: right;
  width: 200px;
}
.sort-section .sort label {
  float: left;
  padding: 8px;
  color: #61798c;
  font-weight: 600;
  font-size: 12px;
}
.sort-section .sort .dropdown {
  width: 140px;
  float: right;
}
.sort-section .sort .dropdown select {
  width: 100%;
  padding: 5px;
  font-size: 13px;
  border-color: #ccc;
}
.sort-section .sort .dropdown select option {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 767px) {
  .sort-section {
    padding-left: 1%;
  }
  .sort-section .sort {
    float: left;
    width: 100%;
  }
  .sort-section .sort .dropdown {
    width: 78%;
  }
}
.pharmacy-slider-section h3 {
  margin: 0px 5px;
  font-size: 18px;
  color: #0071cb;
  font-weight: 500;
}
.pharmacy-slider-section .pharmacy-common-slider {
  padding: 10px 0px;
  width: 100%;
}
.pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box {
  position: relative;
  min-height: 150px;
  width: 98%;
  float: left;
  border: 1px solid #e4dbdb;
  padding: 5px;
  margin: 10px 0px;
  transition: 0.5s;
  margin-bottom: 25px;
}
.pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box figure {
  width: 100%;
  margin-bottom: 0px;
  text-align: center;
}
.pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box figure img {
  width: 100%;
  height: 150px;
}
.pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box .product-details {
  width: 100%;
  margin-left: 0px;
}
.pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box .product-details h4 {
  margin: 0px;
  padding-top: 7px;
  line-height: 16px;
  margin-bottom: 7px;
}
.pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box .product-details h4 a {
  padding: 0px;
  font-size: 13px;
  margin: 5px 0px;
  color: #000;
}
.pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box .product-details p {
  margin: 0px;
  font-size: 14px;
}
.pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box .product-details .mrp_off {
  width: 100%;
}
.pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box .product-details .mrp_off span {
  padding: 5px 0;
  font-size: 14px;
  color: hsla(0, 0%, 46%, 0.87);
}
.pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box .product-details .mrp_off span :first-child {
  text-decoration: line-through;
}
.pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box .product-details .mrp_off .off {
  color: #4caf50;
  font-weight: 600;
  margin-left: 20%;
}
.pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box .product-details .price-add-cart {
  width: 100%;
}
.pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box .product-details .price-add-cart span {
  width: 49%;
  font-size: 14px;
  padding: 5px 0px;
  font-weight: 600;
}
.pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box .product-details .price-add-cart span :last-child {
  float: right;
}

@media only screen and (max-width: 820px) {
  .pharmacy-slider-section h3 {
    margin: 0px -11px;
  }
  .pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box {
    width: 98%;
    margin: 10px 0px;
  }
  .pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box figure img {
    height: 100px;
  }
  .pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box .product-details {
    width: 100%;
    margin-left: 0px;
  }
  .pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box .product-details h4 {
    line-height: 12px;
  }
  .pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box .product-details h4 a {
    font-size: 12px;
  }
  .pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box .product-details p {
    margin: 0px;
    font-size: 12px;
  }
  .pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box .product-details .mrp_off span {
    font-size: 12px;
  }
  .pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box .product-details .price-add-cart span {
    width: 49%;
    font-size: 12px;
  }
  .pharmacy-slider-section .pharmacy-common-slider .pharmacy-common-box .product-details .price-add-cart .addtocart a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .pharmacy-slider-section h3 {
    margin: 0px 0px;
  }
}
figure {
  margin-bottom: 0px;
}

.price-div {
  position: absolute;
  background-color: #fff;
  bottom: 10px;
  right: 10px;
  padding: 3px 10px;
  border-radius: 30px;
}
.price-div span {
  color: green;
}/*# sourceMappingURL=category.component.css.map */