<app-header></app-header>
<app-navigation></app-navigation>
<div id="slider" class="carousel" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        [src]="['./assets/images/pharmacy-banner.jpg']"
        alt=""
        class="d-block"
      />
    </div>
  </div>
  <div class="list-banner">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-12">
        <h1>Take Care Of Your Health</h1>
        <h6>
          In publishing and graphic design, Lorem ipsum is a placeholder text
          commonly used to demonstrate the visual form of a document or a
          typeface without relying on meaningful content.
        </h6>
      </div>
    </div>
  </div>
</div>
<!-- slider section end -->

<section class="">
  <!-- <div class="container-fluid"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-12 aside-brand" *ngIf="subCatList?.length > 0">
        <div class="left-category">
          <h3>FILTERS</h3>
          <div class="cat-box">
            <h4>Sub Category</h4>

            <div class="check-list">
              <label class="chk" *ngFor="let s of subCatList">
                <input
                  type="checkbox"
                  [value]="s?.id"
                  (change)="addRemoveSubCat($event)"
                />
                <span class="checkmark"></span>{{ s?.title }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div [class]=" subCatList?.length == 0 ? 'col-md-12 col-sm-12 col-12' : 'col-md-9 col-sm-8 col-12'">
        <!-- <div class="sort-section">
                    <div class="sort">
                        <label>Sort By </label>
                        <div class="dropdown">
                            <select type="dropdown">
                                <option>Relevance</option>
                                <option>Price Low to High</option>
                                <option>Price High to Low</option>
                                <option>Discount</option>
                            </select>
                        </div>
                    </div>
                </div> -->
        <div class="pharmacy-slider-section">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
              <h3 class="heading mt-2">Top Results</h3>
              <div class="row mt-3" *ngIf="productList?.length > 0">
                <div class="col-md-3" *ngFor="let p of productList">
                  <div class="shadow">
                    <figure  style="position: relative;">
                      <div class="price-div">
                        <del *ngIf="p?.discount != '' && p?.discount != 0"><small>{{ p?.mrp }}</small></del>
                      {{ (p?.mrp - (p?.discount*p?.mrp/100)) }} Rs. <span *ngIf="p?.discount != '' && p?.discount != 0">- {{p?.discount}} % OFF</span>
                      </div>
                      <img
                        [src]="p?.image | concatBase: 'product_image/'"
                        width="100%"
                      />
                    </figure>
                    <div class="product-details p-2">
                      <h4>
                        <a [routerLink]="['/pharmacy/p/' + p?.slug]">{{
                          p?.title
                        }} {{p?.formulation_name}} {{p?.strength}}
                      </a>
                      </h4>
                      <div class="price-add-cart">
                        <a [routerLink]="['/pharmacy/p/' + p?.slug]">
                          <button class="btn btn-success w100">
                            View Details
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="productList?.length == 0">
                <div class="col-md-12 p-4">
                  <h5>No result found</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-2 py-3 text-center bg-secondary text-white">
  <div class="container">
    <h3 class="heading mb-4">INDIA’S LARGEST HEALTHCARE PLATFORM</h3>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-4">
        <h4>260m+</h4>
        <p>Visitors</p>
      </div>
      <div class="col-md-4 col-sm-4 col-4">
        <h4>31m+</h4>
        <p>Orders Delivered</p>
      </div>
      <div class="col-md-4 col-sm-4 col-4">
        <h4>1800+</h4>
        <p>Cities</p>
      </div>
    </div>
  </div>
</section>

<app-top-footer></app-top-footer>
<app-footer></app-footer>
