#slider img {
  width: 100%;
  max-height: 300px;
}

.list-banner {
  position: absolute;
  width: 87%;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0px auto;
}
.list-banner h1 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 700;
}
.list-banner h6 {
  font-size: 0.8rem;
  color: #ffffff;
}

@media only screen and (max-width: 820px) {
  #slider img {
    width: 100%;
  }
  .list-banner {
    bottom: 30px;
  }
  .list-banner h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media only screen and (max-width: 767px) {
  #slider img {
    width: auto;
    max-height: 140px;
  }
  .list-banner {
    width: 90%;
    bottom: 0px;
    top: 30px;
  }
}
aside .join-as-partner {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
}
aside .join-as-partner h3 {
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: 600;
  color: #09539c;
}
aside .join-as-partner ul {
  padding: 0px;
  list-style: none;
}
aside .join-as-partner ul li {
  padding: 0px;
  list-style: none;
}
aside .join-as-partner ul li a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
aside .join-as-partner ul li a i {
  padding-right: 10px;
}
aside .join-as-partner .join-botton {
  background-color: #0b8239;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}
aside .join-as-partner .join-botton i {
  float: right;
  font-size: 16px;
  margin-top: 4px;
}
aside .join-as-partner:hover .join-botton::before {
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 2;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
}

@media only screen and (max-width: 820px) {
  aside .join-as-partner {
    padding: 10px;
    margin-top: 5px;
  }
  aside .join-as-partner h3 {
    font-size: 12px;
    padding-bottom: 10px;
    font-weight: 600;
  }
  aside .join-as-partner ul {
    padding: 0px;
    list-style: none;
  }
  aside .join-as-partner ul li {
    padding: 0px;
    list-style: none;
  }
  aside .join-as-partner ul li a {
    text-decoration: none;
    font-size: 12px;
  }
  aside .join-as-partner ul li a i {
    padding-right: 5px;
  }
  aside .join-as-partner .join-botton {
    font-size: 12px;
    padding: 5px 5px;
  }
  aside .join-as-partner .join-botton i {
    font-size: 12px;
    margin-top: 3px;
  }
}
@media only screen and (max-width: 767px) {
  aside {
    display: none;
  }
}
.recommended {
  margin-top: 20px;
}
.recommended h3 {
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: 600;
  color: #09539c;
}
.recommended ul {
  padding-left: 0px;
  list-style: none;
}
.recommended ul li {
  padding: 5px 2px;
  float: left;
}
.recommended ul li a {
  padding: 5px 8px;
  background-color: #1146a0;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.recommended ul li:hover a {
  background-color: #79de9b;
  color: #fff;
}

@media only screen and (max-width: 820px) {
  .recommended {
    margin-top: 20px;
  }
  .recommended h3 {
    font-size: 12px;
    padding-bottom: 10px;
  }
  .recommended ul li {
    padding: 2px 2px;
  }
  .recommended ul li a {
    padding: 3px 2px;
    font-size: 11px;
  }
}
@media only screen and (max-width: 767px) {
  .recommended {
    display: none;
  }
}
.list-box {
  border: 1px solid #ccc;
  display: flex;
  padding: 5px;
  margin-bottom: 20px;
}
.list-box figure {
  margin-bottom: 10px;
  width: 100%;
  max-width: 150px;
  padding: 5px;
}
.list-box figure img {
  width: 100%;
  height: 136px;
  background-color: #fcfdff;
  border: 1px solid #ccc;
  padding: 5px;
}
.list-box .list-details {
  position: relative;
  width: 100%;
  padding-left: 10px;
}
.list-box .list-details h5 {
  text-align: left;
}
.list-box .list-details h5 a {
  font-size: 18px;
}
.list-box .list-details .rating {
  width: 100%;
  margin-bottom: 15px;
}
.list-box .list-details .rating span {
  font-size: 14px;
  margin-right: 10px;
  background-color: #257c2e;
  color: #fff;
  padding: 2px 5px 4px;
}
.list-box .list-details .rating span i {
  font-size: 11px;
}
.list-box .list-details .rating a {
  color: #000;
  font-weight: 600;
}
.list-box .list-details .fee {
  margin-bottom: 15px;
  top: 10px;
  position: absolute;
  right: 10px;
}
.list-box .list-details .fee span {
  font-size: 14px;
  display: block;
  font-weight: 600;
  color: #257c2e;
}
.list-box .list-details .fee .verified {
  border: 2px solid #0a4110;
  background-color: #257c2e;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
  padding: 0px 10px 0px 5px;
  color: #fff;
}
.list-box .list-details p {
  font-size: 13px;
  margin: 0px;
}
.list-box .list-button {
  border-top: 1px dotted #ccc;
  margin-top: 10px;
  padding: 10px 0px;
}
.list-box .list-button a {
  margin-right: 10px;
  font-size: 12px;
}

@media only screen and (max-width: 820px) {
  .list-box {
    display: flex;
    padding: 5px;
    margin-bottom: 20px;
  }
  .list-box figure {
    margin-bottom: 10px;
    width: 100%;
    max-width: 80px;
    padding: 5px;
  }
  .list-box figure img {
    height: auto;
  }
  .list-box .list-details {
    padding-left: 10px;
  }
  .list-box .list-details h5 a {
    font-size: 16px;
  }
  .list-box .list-details .rating {
    width: 100%;
    margin-bottom: 15px;
  }
  .list-box .list-details .rating span {
    font-size: 12px;
    margin-right: 10px;
    padding: 2px 5px 4px;
  }
  .list-box .list-details .rating span i {
    font-size: 11px;
  }
  .list-box .list-details .fee {
    margin-bottom: 15px;
    top: 10px;
  }
  .list-box .list-details .fee span {
    font-size: 12px;
  }
  .list-box .list-details p {
    font-size: 12px;
    margin: 0px;
  }
  .list-box .list-button {
    margin-top: 10px;
    padding: 10px 0px;
  }
  .list-box .list-button a {
    margin-right: 10px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .list-box {
    position: relative;
  }
  .list-box figure {
    position: absolute;
    right: 10px;
  }
  .list-box .list-details {
    padding-left: 10px;
  }
  .list-box .list-details h5 a {
    font-size: 14px;
  }
  .list-box .list-details .fee {
    right: 0px;
    position: relative;
  }
  .list-box .list-details .fee span {
    font-size: 12px;
  }
  .list-box .list-details p {
    font-size: 12px;
    margin: 0px;
  }
  .list-box .list-button a {
    margin-right: 5px;
    font-size: 11px;
    margin-bottom: 7px;
  }
}/*# sourceMappingURL=ambulance-list.component.css.map */