// .blog-banner{}
.blog-page{padding:20px 0px; overflow: visible;
    h3{ margin: 18px 0px;}
}

.blog-box{ box-shadow: 0px 0px 1px #948e8f; margin-bottom: 10px; padding: 10px; overflow: hidden;
    .img-circle{ width: 100%; float: left; margin-right: 2%; margin-bottom: 15px; 
        img{ width: 100%;  max-height: 350px}
    }
    .blog-content{ display: inline-block;padding-left: 6px;
        font-size: 14px;  width: 100%;
        .block-title { font-size: 34px; text-decoration: none; color: #274f82; 
            transition: 0.5s;
            &:hover{color: #db0f31;}
        }          
        .block-info {list-style-type: none; padding: 0px; display: inline-block;
            li{float: left; padding-right: 15px; font-style: italic;
                .link { color: #989b9f; font-weight: 400; font-size: 14px;
                    position: relative;  text-decoration: none;}
            }
        }
    }
}


.aside-section{border:0px solid #ccc; padding:15px 15px 5px; margin-top: 20px; overflow: hidden; border-radius: 5px;
    h4{ text-transform: uppercase; font-size: 17px;
        color: #202427; padding-bottom: 16px; border-bottom: 2px solid #da0f32;}
    ul{list-style: none; padding: 0px;
        li{padding: 0px 10px; border-bottom: 1px solid #ccc; display: flex; margin-bottom: 5px;}
        :hover {color: #db0f31}
    }
}

.arrow-icon li{padding: 5px 10px !important; font-size: 14px; cursor: pointer;
    &:before{  
        font-family: "Font Awesome 5 Free";
       content: "\f101";
       display: inline-block;
       padding-right: 10px;
       font-size: 16px;
       vertical-align: middle;
       font-weight: 900; 
    }
}



.recent-post{border:1px solid #ccc; padding:15px 10px; margin-top: 20px; overflow: hidden; border-radius: 0px; box-shadow: 0px 0px 0px #b5b3b3;
    h4{text-transform: uppercase; font-size: 18px;
    color: #202427; padding-bottom: 16px;border-bottom: 2px solid #da0f32;}
    .recent-img{text-align: center; padding:5px 0px; float: left;
        img{ width: 100px; border-radius: 3px; }
    }
    .recent-text{ width: calc(100% - 100px); padding: 0px 0px 0px 10px; display: inline-block;
        p{margin-bottom: 0px;
            a{color: #18364a; font-weight: 500; font-size: 14px; text-decoration: none;}
            &:hover a{color: #db0f31;}
        }
        ul{list-style: none; padding: 0px;
            li{padding: 0px 5px; font-style: italic; float: left;
                a{text-decoration: none; font-size: 14px; color: #989b9f; font-weight: 400;
                    :hover{color: #db0f31;}
                }
            }
        }
    }
}
