<app-header></app-header>
<app-navigation></app-navigation>

<section class="bg-white blog-page">
	<div class="container">
		<div class="row">
			<div class="col-md-2">

			</div>
			<div class="col-md-8 col-sm-8 col-12">
				<h3 class="heading text-capitalize">Our Latest Blogs</h3>
			 
                <div class="blog-box" *ngFor="let b of blogList">	
					<div class="img-circle">
						<img [src]="b?.image | concatBase: 'uploads/'" alt="">
					</div>
                    <div class="blog-content">
                        <h4>
                            <a  [routerLink]="['/blog/' + b?.slug]" class="block-title">{{ b?.title }}</a>
                        </h4>
                        <ul class="block-info">
                            <li><a  [routerLink]="['/blog/' + b?.slug]" class="link">{{ b?.date | date: "longDate" }}</a></li>
                           <li>
                                <a  [routerLink]="['/blog/' + b?.slug]" class="link">
                                    <span>By </span>
                                    <span>{{ b?.author }}</span>
                                </a>
                            </li>
                        </ul>
                        <p [innerHtml]="getSmall(b.desc) | striphtml"></p>
                        <div class="col-12 text-end mt-4">
                            <a  [routerLink]="['/blog/' + b?.slug]" class="btn btn-sm bg-success text-white rounded-0" >read more.. 
                                <i class="fas fa-arrow-circle-right"></i>
                            </a> 
                        </div>
                    </div>
				</div>
                
                <ul class="pagination justify-content-end">
                    <li class="page-item"><a class="page-link" (click)="changePage('prev')">Previous</a></li> 
                    <li class="page-item"><a class="page-link" (click)="changePage('next')">Next</a></li>
                </ul>												
			</div>
			<!-- <div class="col-md-4 col-sm-4 col-12"> 
        		<div class="recent-post"> 
					<h4>RECENT POST</h4>     
		           	<div>
		           		<div class="col-12 px-0 mb-2">
		           			<span class="recent-img">
		           				<img [src]="['./assets/images/post1.jpg']" alt="">
		           			</span>
		           			<span class="recent-text">
		           				<p><a href="#">How to Ensure Car Shipping Fast With The Aid of Car Carriers in Gurgaon?</a></p>
		           				<ul>
		           					<li><a href="#">Auto Movers</a></li>
		           					<li><a href="#">By Amit Kumar</a></li>
		           				</ul>
		           			</span>
		           		</div>
		           		<div class="col-12 px-0 mb-2">
		           			<span class="recent-img">
                                <img [src]="['./assets/images/post1.jpg']" alt="">
		           			</span>
		           			<span class="recent-text">
		           				<p><a href="#">How to Ensure Car Shipping Fast With The Aid of Car Carriers in Gurgaon?</a></p>
		           				<ul>
		           					<li><a href="#">Auto Movers</a></li>
		           					<li><a href="#">By Amit Kumar</a></li>
		           				</ul>
		           			</span>
		           		</div>
		           		<div class="col-12 px-0 mb-2">
		           			<span class="recent-img">
                                <img [src]="['./assets/images/post1.jpg']" alt="">
		           			</span>
		           			<span class="recent-text">
		           				<p><a href="#">How to Ensure Car Shipping Fast With The Aid of Car Carriers in Gurgaon?</a></p>
		           				<ul>
		           					<li><a href="#">Auto Movers</a></li>
		           					<li><a href="#">By Amit Kumar</a></li>
		           				</ul>
		           			</span>
		           		</div>
		           		<div class="col-12 px-0 mb-2">
		           			<span class="recent-img">
                                <img [src]="['./assets/images/post1.jpg']" alt="">
		           			</span>
		           			<span class="recent-text">
		           				<p><a href="#">How to Ensure Car Shipping Fast With The Aid of Car Carriers in Gurgaon?</a></p>
		           				<ul>
		           					<li><a href="#">Auto Movers</a></li>
		           					<li><a href="#">By Amit Kumar</a></li>
		           				</ul>
		           			</span>
		           		</div>
		           		<div class="col-12 px-0 mb-2">
		           			<span class="recent-img">
                                <img [src]="['./assets/images/post1.jpg']" alt="">
		           			</span>
		           			<span class="recent-text">
		           				<p><a href="#">How to Ensure Car Shipping Fast With The Aid of Car Carriers in Gurgaon?</a></p>
		           				<ul>
		           					<li><a href="#">Auto Movers</a></li>
		           					<li><a href="#">By Amit Kumar</a></li>
		           				</ul>
		           			</span>
		           		</div>
		            </div> 
        		</div>
                
			</div> -->
		</div>
	</div>
</section>
<!-- blogs end -->
<app-footer></app-footer>
