<div class="common-record">
    <div class="d-block p-2">
        <strong class="text-gray rounded-0"> Procedure Lists </strong>
    </div>
    <div class="bg-opacity-10 card d-block px-2 py-3 mt-2 rounded-0" *ngIf="!editPage">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
              <input type="text" class="form-control" placeholder="Search Procedure" style="width:250px" [(ngModel)]="filterText">
            </div>
            <button class="btn btn-success" (click)="editTest()">Add New Procedure</button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Procedure name</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of npList | productFilter: filterText:'title'; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ a?.title }}</td>
                    <td>{{ a?.price }}</td>
                    <td>{{ a?.status == '1' ? 'Active' : 'Inactive' }}</td>

                    <td>
                        <button class="btn btn-primary" (click)="editTest(a?.id)">
                            Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="bg-opacity-10 card d-block px-2 py-3 mt-2 rounded-0" *ngIf="editPage">
        <button class="btn btn-warning" (click)="editTest()">Cancel</button>
        <div class="col-md-12">
            <div class="d-block p-2">
                <strong class="text-gray rounded-0">
                    Note: Fill all info to make yourself visible on website
                </strong>
            </div>
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title> Basic Information </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <form [formGroup]="sForm" novalidate>
                            <mat-form-field appearance="fill">
                                <mat-label>Procedure Name</mat-label>
                                <input matInput max="500" min="1" [ngClass]="{
                      'is-invalid': b1 && f1.title.errors
                    }" formControlName="title" required />
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Price</mat-label>
                                <input matInput type="number" [ngClass]="{
                      'is-invalid': b1 && f1.price.errors
                    }" formControlName="price" required />
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Select Status </mat-label>
                                <mat-select matInput [ngClass]="{
                      'is-invalid': b1 && f1.status.errors
                    }" formControlName="status" required>
                                    <mat-option value="1">Active</mat-option>
                                    <mat-option value="0">Inactive</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div class="col-md-12">
                                <button (click)="onSubmit()"  type="button" class="btn btn-primary">
                                    UPDATE
                                </button>
                            </div>
                        </form>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>