.f13 {
    font-size: 13px;
}
.s-result{
    position: absolute;
    z-index: 9;
    width: 100%;
    div{
        cursor: pointer;
        padding: 10px 5px;
        margin-bottom: 2px;
        background-color: #eeeeee;
        width: 100%;
    }
}
.head {
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
    #sideNav{display: none;}
    .logo{margin-left:0%}
    .header-search {
        // position: absolute;
        position: relative;
        top: 6px;
        // left: 5%;
        input,
        select {
            border-radius: 0px;
            margin-right: 5px;
            background-color: #eeeeee;
        }

        .city {
            padding-left: 5px;
        }

        .search {
            width: 15%;
        }

        .searchby {
            color: rgb(237, 68, 68);
            font-size: 13px;
        }

        .form-control:focus {
            color: #212529;
            background-color: #fff;
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 0 rgb(13 110 253 / 25%);
        }

        ::placeholder {
            color: rgb(131, 128, 128);
            font-size: 13px;
        }
    }
}

header ul {
    padding: 0px;
    float: right;
    margin-top: 10px;
    margin-bottom: 0px;

    li {
        float: left;
        list-style: none;
        padding: 0px 15px;
        a {
            text-decoration: none;
            color: '$primary-color';            
            font-weight: 500;
            font-size: 14px;
        }
    }
}



@media screen and (max-width : 820px) {
    .header-search {
        top: 11px;
        left: 6%;
        width: 100%;

        input {
            margin-right: 5px;
            padding: 2px 5px;
            font-size: 12px;
        }
    }

    header ul {
        margin-top: 7px;

        li{ padding: 0px 5px;
            a {
            padding: 7px;
            font-size: 12px;
            }
        }
    }
    
}

@media screen and (max-width : 640px) {
    .head {
        padding: 10px 0px;
        border-bottom: 0px solid #ccc;
        .logo{margin-left:17%}
        .header-search {
            position: relative;
            top: 10px;
            left: 0%;
            width: 100%;
            margin: 0px auto 10px;
            padding: 10px 2% 0px;
            border-top: 1px solid #c8c5c5;

            input {
                border-radius: 0px;
                padding: 7px 10px;
                width: 6%;
                margin-right: 4px;
                margin-left: 0px !important;
            }

            .input-group-text {
                border-radius: 0px;
                height: 33px;
            }

            .city {
                // border-left: 0px;
                padding-left: 5px;
                width: 40%;
                margin-bottom: 5px;
                margin-left: 0px !important;
            }

            .search {
                width: 75%;
                margin-top: 0px;
            }
            .search-icon{margin-top: 0px; margin-right:5px;}
        }
    }

    header ul {
        margin-top: 0px;

        li a {
            padding: 5px;
            font-size: 12px;
        }
    }
    #sideNav{position: absolute; z-index: 999; display: block !important;}
}
.cartcount{
    background-color: #0072cb;
    padding: 2px 5px;
    border-radius: 50%;
    color: #fff;
}