<section class="testimonial-section">
    <div class="container">
        <div class="row m-row">
            <div class="col">
                <div class="testimonial-cont">
                    <h4 class="mb-3">
                        Testimonials
                    </h4>
                    <p>Curabitur ullamcorper ultricies nisi. Nam eget 
                        dui. Etiam rhoncus. Maecenas tempus, tellus 
                        eget condimentum rhoncus, sem quam semper 
                        libero, sit amet adipiscing sem neque sed ipsum.</p>
                    <div class="mt-5"> <a href="#" class="btn btn-outline-danger rounded-0">All Testimonials</a></div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-12">
                <div class="testimonial">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" responsive="breakpoints">
						<div ngxSlickItem *ngFor="let slide of slides" class="slide">
                            <div class="testimonial-box">                                
                                <div class="testimonial-profile-img">
                                    <img [src]="['./assets/images/doctor-demo.png']"  alt="">
                                    <h5>Amit Kumar</h5>
                                    <span class="text-primary">Location</span>
                                </div>
                                <p>Curabitur ullamcorper ultricies nisi. Nam eget 
                                    dui. Etiam rhoncus. Maecenas tempus, tellus 
                                    eget condimentum rhoncus, sem quam semper 
                                    libero, sit amet adipiscing sem neque sed ipsum.</p>                        
                            </div>
						</div>
					</ngx-slick-carousel>
                </div>
            </div>            
        </div>
    </div>
</section>
