/* tesimonial section */
.testimonial-section{padding: 30px 0px; background-color: #f4f4f4;
    .testimonial-cont{
        h4{font-size: 38px;}
    }
    .testimonial{position: relative;
        .testimonial-box{ width: 99%; min-height: 200px; 
             padding:25px;  font-size: 14px;
            background-color: #fff; margin: 5px 1%;
            .testimonial-profile-img{width: 100%; min-height: 75px; margin-top: 0px;
                img{
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    border: 1px solid #ccc;
                    padding: 4px;
                    float: left;
                }
                h5{padding-top: 8px;
                    font-weight: 600;
                    margin-left: 87px;
                    font-size: 16px;
                    margin-bottom: 2px;}
                span{margin-left: 16px; font-size: 16px;}
            }
        }
    } 
}


@media screen and (max-width : 768px){
    .testimonial-cont{
        h4{font-size: 20px;}
    } 
    .testimonial{margin-top: 20px;}
}
/* tesimonial section */

.slick-slider {width: 100%; margin: auto; }  
.slick-prev, .slick-next {height: 45px; width: 40px; z-index: 100;}
@media screen and (max-width : 768px){
    .slick-slider {width: 100%;}
}