<app-header></app-header>
<app-navigation></app-navigation>
<div id="slider" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img [src]="['./assets/images/dr-list-banner.jpg']" alt="" class="d-block" />
        </div>
    </div>
    <div class="list-banner">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-12">
                <h1>Specalized Home Care</h1>
                <h6>
                    In publishing and graphic design, Lorem ipsum is a placeholder text
                    commonly used to demonstrate the visual form of a document or a
                    typeface without relying on meaningful content.
                </h6>
            </div>
        </div>
    </div>
</div>
<!-- slider section end -->

<section class="search-doctor-list-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">
                <div class="">

                </div>
            </div>

            <div class="col">
                <div class="">
                    <!-- <select [(ngModel)]="price_order" class="form-select rounded-0">
                        <option value="">Sort By (Default)</option>
                        <option value="asc">Price - Low to High</option>
                        <option value="desc">Price - High to Low</option>
                    </select> -->
                </div>
            </div>
            <div class="col">
                <!-- <div class="video-cunsult-btn">
                    <a href="javascript:void(0)" (click)="getDoctorList()"> Search </a>
                </div> -->
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-12">
                <aside>
                    <div class="join-as-partner">
                        <!-- <h3>You Can Join As a Doctor</h3>
                        <ul>
                            <li>
                                <a [routerLink]="['/signup']" [queryParams]="{ type: 'Doctor' }">
                                    <i class="fas fa-angle-double-right"></i>Create free
                                    account</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-angle-double-right"></i>Get Your Status
                                    Online</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-angle-double-right"></i>Manage Your
                                    Account</a>
                            </li>
                        </ul> -->
                        <div class="col text-center">
                            <a class="join-botton" [routerLink]="['/signup']" [queryParams]="{ type: 'Doctor' }">Join As a Doctor<i
                                class="fas fa-angle-double-right"></i></a>
                          </div>
                        </div>
                        <div class="recommended">
                          <h3>Recommended Services</h3>
                          <ul>
                            <li>
                              <a [routerLink]="['/lab']">
                                Lab Test <i class="fas fa-angle-double-right"></i></a>
                            </li>
                            <li>
                              <a [routerLink]="['/blood-bank']">
                                Blood Bank <i class="fas fa-angle-double-right"></i></a>
                            </li>
                            <li>
                              <a [routerLink]="['/ambulance']">
                                Ambulance <i class="fas fa-angle-double-right"></i></a>
                            </li>
                            <li>
                              <a [routerLink]="['/home-nursing']">
                                Home Care <i class="fas fa-angle-double-right"></i></a>
                            </li>
                            <li>
                              <a [routerLink]="['/pharmacy']">
                                Pharmacy <i class="fas fa-angle-double-right"></i></a>
                            </li>
                            <li>
                              <a [routerLink]="['/equipment/medical-equipment']">
                                Healthcare devices 
                                <i class="fas fa-angle-double-right"></i></a>
                            </li>
                            <li>
                              <a href="#">
                                Others <i class="fas fa-angle-double-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="col-md-9 col-sm-9 col-12">
                <div class="list-data">
                    <h5 class="mb-0">
                        {{ nursing_count }} home care available in
                        {{ city != "" ? city : "your area" }}
                    </h5>
                    <p>
                        Book appointments with minimum wait-time & verified nursing care
                    </p>
                </div>
                <div class="list-box" *ngFor="let d of nursingList">
                    <figure>
                        <img [src]="
                (d?.image != '' ? d?.image : 'dummy.png')
                  | concatBase: 'uploads/'
              " alt="" />
                    </figure>
                    <div class="list-details">
                        <h5>
                            <a [routerLink]="['/home-nursing/i/' + d?.id]">{{ d?.name }}</a>
                        </h5>
                        <div class="rating">
                            <span><i class="fas fa-star"></i> {{d?.reviews?.avg_stars || 0.0}}</span>
                            <a  [routerLink]="['/review-of/Homecare/', d?.id]" target="_blank">reviews: {{d?.reviews?.total_reviews || 0}}</a>
                        </div>
                        <div class="fee">
                            <p>
                                <i class="fas fa-rupee-sign"></i>
                                {{ d?.per_hour_charges }} Care Charges
                            </p>
                        </div>
                        <p>
                            <span>Exp:</span> {{ d?.experience }} Year's Experience overall <br/>
                            Location: {{d?.city}} {{d?.pincode}}
                        </p>
                        <div class="col-12 p-0">
                            <div class="list-button">
                                <a [routerLink]="['/home-nursing/i/' + d?.id]" class="btn btn-sm btn-primary rounded-0">
                                    <i class="far fa-user"></i> View Profile
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-download-app></app-download-app>
<app-top-footer></app-top-footer>
<app-footer></app-footer>