<app-header></app-header>
<app-navigation></app-navigation>

<section class="bg-white blog-page">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-12">
        <h3 class="heading text-capitalize">Our Latest Blogs</h3>
        <div class="blog-box">
          <div class="blog-content">
            <h4>
              <a href="#" class="block-title">{{ blogList?.title }}</a>
            </h4>
            <ul class="block-info">
              <li>
                <a href="#" class="link">{{
                  blogList?.date | date: "longDate"
                }}</a>
              </li>
              <!-- <li><a href="#" class="link">Auto Movers</a></li> -->
              <li>
                <a href="#" class="link">
                  <span>By </span>
                  <span>{{ blogList?.author }}</span>
                </a>
              </li>
            </ul>
            <div class="img-circle">
              <img src="{{ blogList?.image }}" alt="" />
            </div>
            <div [innerHtml]="blogList?.desc"></div>
          </div>
          <div class="col-12 mt-5 m-padding-lr">
            <div class="mb-3 icons">
              <a
                href="#"
                class="bg-primary px-2 py-1 border text-white small rounded"
                ><i class="fab fa-twitter"></i> Tweet</a
              >
              <a
                href="#"
                class="bg-danger px-2 py-1 border text-white small rounded"
                ><i class="fab fa-facebook-f"></i> Share</a
              >
              <a href="#" class="text-body px-2"
                ><i class="far fa-thumbs-up"></i> Like
                <span class="text-danger">(99)</span></a
              >
              <span id="comment" class="comment-icon btn btn-sm btn-success">
                <i class="fas fa-pen-nib"></i> Comment
              </span>
            </div>
            <div class="comment-form">
              <form [formGroup]="cForm" novalidate>
                <div class="form-group">
                  <label for="email">Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter your name"
                    [ngClass]="{
                      'is-invalid': b1 && f1.name.errors
                    }"
                    formControlName="name"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="pwd">Email Id:</label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Enter your Email Id"
                    [ngClass]="{
                      'is-invalid': b1 && f1.email.errors
                    }"
                    formControlName="email"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="comment">Comment:</label>
                  <textarea
                    class="form-control"
                    rows="5"
                    style="max-height: 150px"
                    [ngClass]="{
                      'is-invalid': b1 && f1.comment.errors
                    }"
                    formControlName="comment"
                    required
                  ></textarea>
                </div>
                <div class="form-group text-right">
                  <button
                    (click)="onSubmitComment()"
                    type="button"
                    class="btn btn-primary pull-right"
                  >
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-12">
        <div class="recent-post">
          <h4>RECENT POST</h4>
          <div>
            <div class="col-12 px-0 mb-2" *ngFor="let b of topBlog">
              <span class="recent-img">
                <img
                  [src]="b?.image | concatBase: 'uploads/'"
                  style="width: 56px"
                />
              </span>
              <span class="recent-text">
                <p class="pt-3">
                  <a [routerLink]="['/blog/' + b?.slug]">{{ b?.title }}</a>
                </p>
              </span>
            </div>
          </div>
        </div>
        <!-- <div class="aside-section">
          <h4>Our Services</h4>
          <ul class="arrow-icon">
            <li>April 2022 (2)</li>
            <li>May 2022 (2)</li>
            <li>March 2022 (2)</li>
            <li>Feb 2022 (2)</li>
            <li>Jan 2022 (2)</li>
            <li>Dec 2021 (2)</li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</section>
<!-- blogs end -->
<app-footer></app-footer>
