<div class="common-record">
  <div class="d-block p-2">
    <strong class="text-gray rounded-0"> Blog Info </strong>
  </div>
  <div
    class="bg-opacity-10 card d-block px-2 py-3 mt-2 rounded-0"
    *ngIf="!editPage"
  >
    <button class="btn btn-success" (click)="editBlog()">Add New Blog</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Title</th>
          <th>Publish Date</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of blogList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ a?.title }}</td>
          <td>{{ a?.date }}</td>

          <td>
            <button class="btn btn-primary" (click)="editBlog(a?.id)">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="bg-opacity-10 card d-block px-2 py-3 mt-2 rounded-0"
    *ngIf="editPage"
  >
    <button class="btn btn-warning" (click)="editBlog()">Cancel</button>
    <div class="col-md-12">
      <div class="d-block p-2">
        <strong class="text-gray rounded-0">
          Note: Fill all info to make yourself visible on website
        </strong>
      </div>
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Basic Information </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <form [formGroup]="sForm" novalidate>
              <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input
                  matInput
                  [ngClass]="{
                    'is-invalid': b1 && f1.title.errors
                  }"
                  formControlName="title"
                  required
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Publish Date</mat-label>
                <input
                  matInput
                  type="date"
                  [ngClass]="{
                    'is-invalid': b1 && f1.date.errors
                  }"
                  formControlName="date"
                  required
                />
              </mat-form-field>

              <label class="mt-2"
                >Featured Image
                <a href="{{ tInfo?.image }}" target="_blank"
                  >View File</a
                ></label
              >
              <input
                class="form-control mb13"
                (change)="onFileChange($event, 'image')"
                type="file"
                accept="image/*"
              />

              <label class="mt-2">Enter Details</label>
              <ckeditor
                [editor]="editor"
                formControlName="desc"
                [ngClass]="{
                  'is-invalid': b1 && f1.desc.errors
                }"
                [config]="{
                  placeholder: 'Enter description...',
                  ckfinder: {
                    options: {
                      resourceType: 'Images'
                    },
                    openerMethod: 'popup',
                    uploadUrl: BACK_END_MAPPING_URL_FOR_SAVE_IMG
                  }
                }"
              ></ckeditor>

              <div class="col-md-12">
                <button (click)="onSubmit()"  type="button" class="btn btn-primary">
                  UPDATE
                </button>
              </div>
            </form>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
