<app-header></app-header>
<app-navigation></app-navigation>
<div id="slider" class="carousel" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        [src]="['./assets/images/lab-list-banner.jpg']"
        alt=""
        class="d-block"
      />
    </div>
  </div>
  <div class="list-banner">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-12">
        <h1>Verified Hospitals</h1>
        <h6>
          In publishing and graphic design, Lorem ipsum is a placeholder text
          commonly used to demonstrate the visual form of a document or a
          typeface without relying on meaningful content.
        </h6>
      </div>
    </div>
  </div>
</div>
<!-- slider section end -->

<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-12">
        <aside>
          <div class="join-as-partner">
            <h3>You Can Add Ypur Lab</h3>
            <ul>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i>Create free
                  account</a
                >
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i>Get Your Status
                  Online</a
                >
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i>Manage Your
                  Account</a
                >
              </li>
            </ul>
            <div class="col text-center">
              <a class="join-botton" href="javascript:void(0)"
                >Add Lab<i class="fas fa-angle-double-right"></i
              ></a>
            </div>
          </div>
          <div class="recommended">
            <h3>Recommended Services</h3>
            <ul>
              <li>
                <a href="#">
                  Lab Test <i class="fas fa-angle-double-right"></i
                ></a>
              </li>
              <li>
                <a href="#">
                  Blood Bank <i class="fas fa-angle-double-right"></i
                ></a>
              </li>
              <li>
                <a href="#">
                  Ambulance <i class="fas fa-angle-double-right"></i
                ></a>
              </li>
              <li>
                <a href="#">
                  Home Care <i class="fas fa-angle-double-right"></i
                ></a>
              </li>
              <li>
                <a href="#">
                  Pharmacy <i class="fas fa-angle-double-right"></i
                ></a>
              </li>
              <li>
                <a href="#">
                  Healthcare devices for sale/rent
                  <i class="fas fa-angle-double-right"></i
                ></a>
              </li>
              <li>
                <a href="#">
                  Others <i class="fas fa-angle-double-right"></i
                ></a>
              </li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="col-md-9 col-sm-9 col-12">
        <div class="list-data">
          <h5 class="mb-0">
            {{ hospital_count }} hospital available in
            {{ city != "" ? city : "your area" }}
          </h5>
          <p>Book appointments with minimum wait-time & verified hospitals</p>
        </div>
        <div class="list-box" *ngFor="let d of hospitalList">
          <figure>
            <img [src]="d?.image | concatBase: 'hospital_image/'" alt="" />
          </figure>
          <div class="list-details">
            <h5>
              <a [routerLink]="['/hospital/', d?.slug]">{{ d?.name }}</a>
            </h5>
            <div class="rating">
              <span><i class="fas fa-star"></i> {{d?.reviews?.avg_stars || 0.0}}</span>
             Reviews: {{d?.reviews?.total_reviews || 0}}
            </div>
            <div class="fee">
              <span class="verified"
                ><i class="fas fa-check-circle"></i> verified</span
              ><br />
            </div>
            <p>
              <span>Location:</span> {{ d?.address }} {{ d?.city }}
              {{ d?.pincode }} {{ d?.country }}
            </p>
            <div class="col-12 p-0">
              <div class="list-button">
                <a
                  [routerLink]="['/hospital/', d?.slug]"
                  class="btn btn-sm btn-primary rounded-0"
                >
                  View Details
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-download-app></app-download-app>
<app-top-footer></app-top-footer>
<app-footer></app-footer>
