<div class="card pt-3">
    <div class="container">
        <h5>Home Care List</h5>
    </div>
    <div class="container">
        <div class="card mb-3" *ngFor="let p of orderList">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        ORDER ID : {{p?.order_id}}
                    </div>
                    <div class="col-md-3">
                        <app-rating-section [review]="p?.comment"  [user_id]="p?.care_id"  [count]="p?.stars" [service_id]="p?.id" [agent_type]="'Homecare'" (reviewData)="onReviewData($event)"></app-rating-section>
                    </div>
                </div>
            </div>
            <div class="card-body" style="background-color: ghostwhite;">
                <div class="container">
                    <div class="card mb-1">
                        <div class="card-header">
                            Caretaker name :{{p?.name}}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <img [src]="p?.image | concatBase: 'uploads/'" style="width: 40px"
                                        *ngIf="p?.image != ''" />
                                </div>
                                <div class="col-md-6">
                                    Payment status : {{p?.payment_status | titlecase}} <br>
                                    Price Paid : {{p?.price }} <br>
                                    Booked on : {{p?.created_at | date:'mediumDate' }} <br>
                                    <span class="badge badge-warning" *ngIf="p?.type == 'rent'">Rent for {{p?.qty}}
                                        days</span>
                                    <span class="badge badge-success"
                                        *ngIf="p?.book_for != 'home_care' && p?.book_for != 'procedure'"> Booked
                                        for {{p?.qty}} {{p?.type}} <br></span>
                                    Date : {{p?.date}} <br>
                                    <span class="badge badge-warning" *ngIf="p?.book_for == 'home_care'">Booked for home care : For {{p?.qty}} {{p?.type}} </span>
                                    <span class="badge badge-warning" *ngIf="p?.book_for == 'procedure'">Booked
                                        Procedure</span>
                                    <span *ngIf="p?.book_for == 'procedure'">Procedure Name : {{p?.title}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="badge badge-primary" *ngIf="p?.status == '0'">Request not accepted
                                        yet</span>
                                    <span class="badge badge-info" *ngIf="p?.status == '1'">Request accepted</span>
                                    <span class="badge badge-success" *ngIf="p?.status == '2'">Care Started </span>
                                    <span class="badge badge-danger" *ngIf="p?.status == '3'">Request cancelled</span>
                                    <span class="badge badge-success" *ngIf="p?.status == '4'">Care completed</span>

                                    <mat-form-field appearance="fill" *ngIf="pageFor != 'user' && p?.status != '4'">
                                        <mat-label>Status</mat-label>
                                        <mat-select matInput [(ngModel)]="p.status"
                                            (selectionChange)="changeStatus($event,p?.id)">
                                            <mat-option value="0">Request not accepted yet</mat-option>
                                            <mat-option value="1">Request accepted</mat-option>
                                            <mat-option value="2">Care Started</mat-option>
                                            <mat-option value="3">Request Cancelled</mat-option>
                                            <mat-option value="4">Care completed</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-8">
                        Customer info : {{p?.customer_name}} (<a href="tel:{{p?.customer_mobile}}"> <i class="fa fa-phone-square" aria-hidden="true"></i>{{p?.customer_mobile}}</a>) - <a  href="{{ p?.id_proof | concatBase: 'uploads/' }}" target="_blank">VIEW ID PROOF</a> <br> 
                        Address : {{ p?.address}}, {{ p?.city}}, {{ p?.pincode}}
                    </div>
                    <div class="col-md-4">
                        Total Amount : {{p?.price }} <br>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>