section {
    border-bottom: 10px solid #f0f0f0;
}
.parentdiv{
    display: flex;
  justify-content: center;
  align-items: center;
}
.product-detail {
    display:block;
    ul {
        width: 20%;
        float: left;
        padding: 0px;
        z-index: 1;
        border-bottom: 0px solid #ddd;

        li {
            float: none;
            width: 100%;

            a {
                margin-right: 2px;
                margin-bottom: 0px;
                padding: 0px;
                border-radius: 0px;

                img {
                    width: 100%;
                    height: 73px;
                    border: 1px solid #ccc;
                }
            }

            .active {
                border: 1px solid #0072cb;
            }
        }
    }

    .tab-content {
        float: left;
        width: 80%;
        height: 300px;
        padding: 0px 40px;
        border: 1px solid #ccc;
        text-align: center;

        img {
            width: auto;
            height: 292px;
            max-width: 100%;
        }
    }
    .lg-thumbnail{width:100%; height: 300px;}
    .small-thumbnail{height: 50px;}
}

@media only screen and (max-width: 820px) {
    .product-detail {
        display: inline-block;

        ul {
            width: 20%;

            li {
                a {
                    margin-right: 2px;

                    img {
                        width: 100%;
                        height: 48px;
                    }
                }
            }
        }

        .tab-content {
            float: left;
            width: 80%;
            height: 200px;
            padding: 0px 10px;

            img {
                width: 100%;
                height: 192px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {}


.product-name {
    h4 {
        padding: 0px;
        font-size: 20px;
    }

    h5 {
        padding: 5px 0px;
        font-size: 14px;
    }

    .additional-discount {
        width: 100%;
        position: relative;
        border: 1px dashed #ccc;
        padding: 7px;
        display: flex;
        margin-bottom: 5px;

        .ad-img {
            width: 25%;
            float: left;

            p {
                margin-bottom: 3px;
            }

            img {
                width: 60%;
                min-height: 51px;
                max-height: 60px;
            }
        }

        .ad-price {
            width: 75%;
            float: left;
            text-align: right;

            h5 {
                margin: 0px;
                padding: 5px 0px;
                font-weight: 600;
            }

            h6 {
                margin-bottom: 15px;
                font-size: 14px;

                .off {
                    color: #067e46;
                }

                .mrp {
                    text-decoration: line-through;
                    margin-right: 10px;
                }
            }
        }

        a {
            font-size: 12px;
        }
    }
}

@media only screen and (max-width: 820px) {
    .product-name {
        h4 {
            font-size: 14px;
        }

        h5 {
            font-size: 12px;
        }

        .additional-discount {
            .ad-img {
                width: 45%;

                p {
                    margin-bottom: 3px;
                    font-size: 12px;
                }

                img {
                    width: 50%;
                    min-height: 40px;
                    max-height: 50px;
                }
            }

            .ad-price {
                width: 55%;

                h5 {
                    font-size: 12px;
                }

                h6 {
                    margin-bottom: 7px;
                    font-size: 12px;

                    .mrp {
                        margin-right: 5px;
                    }
                }

                a {
                    font-size: 10px;
                }
            }

        }
    }
}

@media only screen and (max-width: 767px) {}

.product-price {
    padding: 10px;
    width: 100%;
    box-shadow: 1px 3px 10px #ccc;
    display: inline-block;
    margin: 0px;
    padding: 10px;
    font-weight: 600;

    h5 {
        margin-bottom: 15px;
        font-size: 14px;

        .off {
            color: #067e46;
        }

        .mrp {
            text-decoration: line-through;
            margin-right: 10px;
        }
    }

    .quantity span {
        padding-right: 20px;
        display: inline-block;
        font-size: 14px;

        span select {
            width: 75px
        }

        a {
            float: right;
        }
    }
}

@media only screen and (max-width: 820px) {
    .product-price {
        padding: 10px;
        width: 100%;
        padding: 10px;

        h4 {
            font-size: 16px;
            margin: 0px;
        }

        h5 {
            margin-bottom: 10px;
            font-size: 12px;

            .mrp {
                margin-right: 10px;
            }
        }

        .quantity {
            span {
                padding-right: 10px;
                font-size: 12px;

                span select {
                    width: 75px
                }
            }

            a {
                margin-top: 10px;
                display: block;
            }
        }
    }
}

@media only screen and (max-width: 767px) {}

.product-overview {
    h3 {
        padding: 5px 0px 15px;
        font-size: 18px;
    }

    .nav {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        top: 0;
        font-size: 14px;
        z-index: 99;
        padding: 0px 0px;

        li {
            a {
                position: relative;
                display: block;
                padding: 3px 15px;
            }
        }
    }

    .tab-content {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 820px) {}

@media only screen and (max-width: 767px) {
    .product-overview {
        .nav {
            width: max-content;
            height: auto;

            li {
                a {
                    padding: 3px 15px;
                }
            }
        }
    }
}

.pharmacy-slider-section {
    h3 {
        margin: 0px 5px;
        font-size: 18px;
        color: #0071cb;
        font-weight: 500;
    }

    .pharmacy-common-slider {
        padding: 10px 0px;
        width: 100%;

        .pharmacy-common-box {
            position: relative;
            min-height: 150px;
            width: 97%;
            float: left;
            border: 1px solid #e4dbdb;
            padding: 5px;
            margin: 10px 0px;
            transition: 0.5s;

            figure {
                width: 100%;
                margin-bottom: 0px;
                text-align: center;

                img {
                    width: 100%;
                    height: 150px;
                }
            }

            .product-details {
                width: 100%;
                margin-left: 0px;

                h4 {
                    margin: 0px;
                    padding-top: 7px;
                    line-height: 16px;
                    margin-bottom: 7px;

                    a {
                        padding: 0px;
                        font-size: 13px;
                        margin: 5px 0px;
                        color: #000;
                    }
                }

                p {
                    margin: 0px;
                    font-size: 14px;
                }

                .mrp_off {
                    width: 100%;

                    span {
                        padding: 5px 0;
                        font-size: 14px;
                        color: hsla(0, 0%, 46%, .87);

                        :first-child {
                            text-decoration: line-through;
                        }
                    }

                    .off {
                        color: #4caf50;
                        font-weight: 600;
                        margin-left: 20%;
                    }
                }

                .price-add-cart {
                    width: 100%;

                    span {
                        width: 49%;
                        font-size: 14px;
                        padding: 5px 0px;
                        font-weight: 600;

                        :last-child {
                            float: right;
                        }
                    }
                }
            }
        }
    }
}