<app-header></app-header>
<app-navigation></app-navigation>
<section class="py-3">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-8 col-12">
                <div class="cart-section">
                    <h5>My Cart</h5>
                    <div *ngIf="infoList?.cartItem?.length == 0">
                        <h5 class="alert alert-info">Your cart is empty</h5>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" *ngFor="let p of infoList?.cartItem; let i = index">
                        <div class="cart-price">
                            <div class="cart-data">
                                <!-- <img [src]="p?.product_image | concatBase: 'product_image/'" style="width: 40px"
                                    *ngIf="p?.product_image != '' && p?.type == 'product'" /> -->
                                <p *ngIf="p?.type == 'product'">{{p?.val?.title}}</p>
                                <p *ngIf="p?.type == 'equp'">{{p?.val?.item_name}}</p>
                                <p *ngIf="p?.type == 'equp'"><small>Delivery charges : Rs {{p?.val?.delivery_charges}}</small></p>
                                <!-- <p *ngIf="p?.type == 'treatment'"><small>Prescription required?:
                                        {{p?.val?.prescription_required}}</small></p> -->
                                <p *ngIf="p?.type == 'treatment'">{{p?.val?.package_name}}</p>
                                <!-- <p *ngIf="p?.type == 'treatment'"><small>Stay type: {{p?.val?.stay_type}}</small></p> -->
                                <p>
                                    <a href="javascript:void(0)" (click)="removeFromCartByIndex(i)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        Remove
                                    </a>
                                </p>
                            </div>
                            <div class="cart-data product-plus-minus">
                                <p>Rs {{ p?.type == 'product' ? (p?.val?.mrp - p?.val?.discount):
                                     p?.type == 'equp' ? (p?.val?.mrp - ((p?.val?.discount /100)* p?.val?.mrp)) :
                                    (p?.val?.charges_in_rs - ((p?.val?.discount_in_rs/100)*p?.val?.charges_in_rs))}}</p>
                                <p>
                                    <small>MRP <span class="mrp">{{ p?.type == 'product' ? p?.val?.mrp : p?.type == 'equp' ? p?.val?.mrp :
                                            p?.val?.charges_in_rs }}</span></small>
                                </p>
                                <p>
                                    <i class="fa fa-minus-circle c-pointer" aria-hidden="true"
                                        (click)="changeFromCart(i,'minus')"></i>
                                    <span>{{ p?.val?.qty }}</span>
                                    <i class="fa fa-plus-circle c-pointer" aria-hidden="true"
                                        (click)="changeFromCart(i,'plus')"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-12 m-padding-lr" *ngIf="infoList?.cartItem?.length > 0">
                <div class="cart-section">
                    <h5 class="alert alert-info">Order details</h5>
                    <div class="check-out">
                        <p>
                            MRP Total
                            <span>Rs {{infoList?.total - infoList?.otherCharges}}</span>
                        </p>
                        <p>
                            Price Discount
                            <span>- ₹{{infoList?.discount | number:'2.0-2'}}</span>
                        </p>

                        <p *ngIf="infoList?.otherCharges == 0">
                            Shipping/Other Charges
                            <span>{{infoList?.otherCharges}}</span>
                        </p>
                        <hr>
                        <p>
                            <span>Total Savings: <strong>Rs {{infoList?.discount | number:'2.0-2'}}</strong></span>
                            
                        </p>
                    </div>
                    <div class="card" style="width: 100%;" *ngIf="infoList?.total > 0">
                        <h5>Enter Details</h5>
                        <form [formGroup]="pForm" novalidate class="p-2">
                            <ng-container *ngIf="infoList?.isAddressRequired">
                                <mat-form-field appearance="fill">
                                    <mat-label>Address</mat-label>
                                    <input matInput [ngClass]="{
                                  'is-invalid': sb && f.address.errors
                                }" formControlName="address" required />
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Locality</mat-label>
                                    <input matInput [ngClass]="{
                                    'is-invalid': sb && f.locality.errors
                                  }" formControlName="locality" />
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Pincode</mat-label>
                                    <input matInput [ngClass]="{
                                    'is-invalid': sb && f.pincode.errors
                                  }" formControlName="pincode" required />
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>City</mat-label>
                                    <input matInput [ngClass]="{
                                    'is-invalid': sb && f.city.errors
                                  }" formControlName="city" required />
                                </mat-form-field>
                                <div class="mb-3" *ngIf="infoList?.prescription_required">
                                    <label for="prcid"> Upload prescription</label>
                                    <span> <input class="form-control mb13" (change)="onFileChange($event)" id="prcid"
                                            type="file" /></span>
                                </div> 
                            </ng-container>
                            <div class="mb-3" *ngIf="infoList?.isPackageAdded">
                                <mat-form-field appearance="fill">
                                    <mat-label>Select date for treatment</mat-label>
                                      
                                  <input matInput #input="ngModel" [(ngModel)]="ReqDate" [ngModelOptions]="{standalone: true}" [min]="mndate"   [matDatepicker]="picker" placeholder="Choose a date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>

                                    <mat-error *ngIf="input.hasError('matDatepickerMax')">Date should be inferior</mat-error>

                                </mat-form-field> 

                                <div class="mb-3">
                                    <label for="prcid"> Upload medical reports (Only jpeg, png, pdf) </label>
                                    <span> <input class="form-control mb13" (change)="onFileChange($event,'record')" id="prcid" type="file" multiple /></span>
                                </div> 
                            </div>
                            <div class="alert alert-warning" *ngIf="userInfo?.type != 'User'">
                                Login as <b>User</b> to place order
                            </div>
                            <div class="alert alert-success" *ngIf="userInfo?.type == 'User'">
                               
                                <span> To be paid : <strong>Rs {{infoList?.total - infoList?.discount}}</strong></span>
                                <button type="button" class="btn btn-sm btn-success float-end"
                                    (click)="buyNow()">CHECKOUT</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<app-top-footer></app-top-footer>
<app-footer></app-footer>