<div class="head">
  <div class="container">
    <header>
      <!-- <div id="sideNav" href="#" class="toggle">
                <i class="fa fa-bars"></i> 
            </div> -->
      <div class="row">
        <div class="col-md-7 col-sm-7 col-6">
          <a class="logo" [routerLink]="['/home']">
            <img [src]="['./assets/images/logo.jpg']" alt="Logo" />
          </a>
        </div>
        <div class="col-md-5 col-sm-5 col-6">
          <ul>
            <li *ngIf="isLoggedIn">
              <span>
                {{ myInfo?.name }}
                <i class="fas fa-chevron-down"></i>
              </span>
            </li>
            <li *ngIf="isLoggedIn">
              <span (click)="openVerticallyCentered(logoutModel)" style="cursor: pointer">Logout
                <i class="fas fa-sign-out"></i>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </div>
</div>

<div class="bg-dark bg-opacity-10 px-3">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-12 my-2">
      <div class="patient-name bg-success bg-opacity-75 p-3">
        <img [src]="['./assets/images/doctor-demo.png']" alt="" />
        <span>{{ myInfo?.name }}</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-">
      <aside>
        <nav>
          <ul>
            <!-- <li>
              <a href="javascript:void(0)" (click)="changePage('medical-records')">
                <span><i class="fas fa-tachometer-alt"></i></span>Medical
                records
              </a>
            </li> -->
            <li>
              <a href="javascript:void(0)" (click)="changePage('appointment-list')">
                <span><i class="fas fa-user-md"></i></span>Appointments
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changePage('labtest')">
                <span><i class="fas fa-flask"></i></span>Lab Tests Ordered
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changePage('orders')">
                <span><i class="fas fa-archive"></i></span> Medicine & Health Product Orders
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changePage('treatment')">
                <span><i class="fas fa-medkit"></i></span>Treatment Package Requests 
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changePage('care')">
                <span><i class="fas fa-heart"></i></span>Home Care Request
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changePage('dealer-orders')">
                <span><i class="fas fa-stethoscope"></i></span>Healthcare Device Orders
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changePage('donation-request')">
                <span><i class="fas fa-tint"></i></span>Donation Request
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changePage('ambulance-booking-requests')">
                <span><i class="fas fa-ambulance"></i></span>Ambulance Booking
              </a>
            </li>


          </ul>
        </nav>
      </aside>
    </div>
    <div class="col-md-9 col-sm-9 col-12">
      <!-- <app-medical-record></app-medical-record> -->
      <app-bloodbank-donation *ngIf="page == 'donation-request'"></app-bloodbank-donation>
      <app-appointment *ngIf="page == 'appointment-list'"></app-appointment>
      <app-user-labtest-request *ngIf="page == 'labtest'"></app-user-labtest-request>
      <app-user-orders *ngIf="page == 'orders'"></app-user-orders>
      <app-user-treatment *ngIf="page == 'treatment'"></app-user-treatment>
      <app-nursing-care-request *ngIf="page == 'care'" [pageFor]="'user'"></app-nursing-care-request>
      <app-dealer-product-orders *ngIf="page == 'dealer-orders'" [pageFor]="'user'"></app-dealer-product-orders>    
      <app-ambulance-booking-req *ngIf="page == 'ambulance-booking-requests'"></app-ambulance-booking-req>
            
    </div>
  </div>
</div>

<ng-template #logoutModel let-modal>
  <div class="modal-body" style="padding-top: 30px">
    <p class="text-center">Are you sure you want to logout?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-light" ngbAutofocus (click)="modal.close('Close click')">
      Cancel
    </button>
    <button type="button" class="btn btn-sm btn-danger" (click)="logout()">
      Logout
    </button>
  </div>
</ng-template>