<section class="app">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2>Download the App</h2>
                <p class="mb-1">Get online consultation with Dr.</p>
                <p class="mb-1">Buy Medicine and health product at one stop. </p>                
                <p class="mb-1">Book Lab test with Ambulance facilities. </p>                
                <p class="mb-1">Book your home care expert (Nurses) .</p>                
                <p class="mb-1">Buy Treatment or Surgical package at discounted prices. </p>                
                <p class="mb-1">Buy or rent healthcare devices .</p>                
                <!-- Material input -->              
                <a [routerLink]="['/doctor-list']" class="btn mt-3 btn-primary rounded-2">Consult A Doctor Now</a>                   
                <div class="col-12 mt-4">
                    <a href="#" class="App_link" target="_blank">
                        <img [src]="['./assets/images/icon/android-app-store.png']">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 text-right d-display">
                <img  [src]="['./assets/images/topmedz-app-download.png']"  class ="img-app float-right" alt="">
            </div>
        </div>
    </div>
</section>
