<section class="app">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2>Download the App</h2>
                <p>Access video consultation with India’s top doctors on the topmedz app.</p>
                <p>Access video consultation with India’s top doctors on the topmedz app. Connect with doctors online, available 24/7, from the comfort of your home.</p>                
                <!-- Material input -->              
                <a [routerLink]="['/doctor-list']" class="btn mt-3 btn-primary rounded-2">Consult A Doctor Now</a>                   
                <div class="col-12 mt-4">
                    <a href="#" class="App_link" target="_blank">
                        <img [src]="['./assets/images/icon/android-app-store.png']">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 text-right d-display">
                <img  [src]="['./assets/images/app-download.jpg']"  class ="img-app float-right" alt="">
            </div>
        </div>
    </div>
</section>
