<div class="common-record">
  <div class="d-block p-2">
    <strong class="text-gray rounded-0"> Lab Test Packages </strong>
  </div>
  <div class="bg-opacity-10 card d-block px-2 py-3 mt-2 rounded-0" *ngIf="!editPage">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <input type="text" class="form-control" placeholder="Search Package" style="width:250px" [(ngModel)]="filterText">
      </div>
      <button class="btn btn-success" (click)="editTest()">
        Add New Package
      </button>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Package name</th>
          <th>Price</th>
          <th>Discount</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of packageList| productFilter: filterText:'package_name'; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ a?.package_name }}</td>
          <td>{{ a?.price }}</td>
          <td>{{ a?.discount }}</td>

          <td>
            <button class="btn btn-primary" (click)="editTest(a?.id)">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="bg-opacity-10 card d-block px-2 py-3 mt-2 rounded-0" *ngIf="editPage">
    <button class="btn btn-warning" (click)="editTest()">Cancel</button>
    <div class="col-md-12">
      <div class="d-block p-2">
        <strong class="text-gray rounded-0">
          Note: Fill all info to make yourself visible on website
        </strong>
      </div>
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Basic Information </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <form [formGroup]="sForm" novalidate>
              <mat-form-field appearance="fill">
                <mat-label>Package Name</mat-label>
                <input matInput max="500" min="1" [ngClass]="{
                    'is-invalid': b1 && f1.package_name.errors
                  }" formControlName="package_name" required />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Select Tests </mat-label>
                <mat-select matInput [ngClass]="{
                    'is-invalid': b1 && f1.test_ids.errors
                  }" formControlName="test_ids" required multiple>
                  <mat-option [value]="s?.id" *ngFor="let s of testList">{{
                    s?.test_name
                    }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Price</mat-label>
                <input matInput type="number" [ngClass]="{
                    'is-invalid': b1 && f1.price.errors
                  }" formControlName="price" required />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Discount (in %)</mat-label>
                <input matInput type="number" [ngClass]="{
                    'is-invalid': b1 && f1.discount.errors
                  }" formControlName="discount" required />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Home Collection?</mat-label>
                <mat-select matInput [ngClass]="{
                    'is-invalid': b1 && f1.home_sample_collection.errors
                  }" formControlName="home_sample_collection" required>
                  <mat-option value="Yes">Yes</mat-option>
                  <mat-option value="No">No</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Report home delivery?</mat-label>
                <mat-select matInput max="500" min="1" [ngClass]="{
                    'is-invalid': b1 && f1.report_home_delivery.errors
                  }" formControlName="report_home_delivery" required>
                  <mat-option value="Yes">Yes</mat-option>
                  <mat-option value="No">No</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Ambulance Available?</mat-label>
                <mat-select matInput max="500" min="1" [ngClass]="{
                    'is-invalid': b1 && f1.ambulance_available.errors
                  }" formControlName="ambulance_available" required>
                  <mat-option value="Yes">Yes</mat-option>
                  <mat-option value="No">No</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" *ngIf="f1.ambulance_available.value == 'Yes'">
                <mat-label>Ambulance Charges</mat-label>
                <input matInput type="number" [ngClass]="{
                    'is-invalid': b1 && f1.ambulance_fee.errors
                  }" formControlName="ambulance_fee" required />
              </mat-form-field>

              <!-- <label class="mt-2">UPLOAD REPRESENTATIONAL IMAGE
                <a href="{{ tInfo?.image }}" target="_blank">View File</a></label>
              <input class="form-control mb13" (change)="onFileChange($event, 'image')" type="file" accept="image/*" /> -->

              <div class="col-md-12">
                <button (click)="onSubmit()"  type="button" class="btn btn-primary">
                  UPDATE
                </button>
              </div>
            </form>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>