<section class="top-footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-6">
                <div class="top-footer-box">
                    <a href="javascript:void(0)">
                        <span>
                            <i class="fas fa-headset"></i>
                        </span>
                        <h6>
                            <small>Call Us 24/7 </small><br>
                            <strong>+91-903-4242-195</strong>
                        </h6>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-6">
                <div class="top-footer-box">
                    <a href="javascript:void(0)">
                        <span>
                            <i class="fas fa-paper-plane"></i>
                        </span>
                        <h6>
                            <small>Mail Us @ </small><br>
                            <strong>care@topmedz.com</strong>
                        </h6>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-12">
                <div class="top-footer-app">
                    <h6><small>Download app </small></h6>
                    <a href="javascript:void(0)">
                        <img [src]="['./assets/images/icon/android-app-store.png']" alt="">                        
                    </a>
                    <a href="javascript:void(0)">
                        <img [src]="['./assets/images/icon/android-app-store.png']" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>